workflows/helloCash-odoo-sync/src/workflow-template.json
{
  "name": "HelloCash Business → Odoo sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "ca15b6a9-a2ed-4d7e-9255-2e1f64fa9da2",
      "name": "Schedule Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2
    },
    {
      "parameters": {},
      "id": "5f32e14f-36c9-41f6-801e-0e37587e0449",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1
    },
    {
      "parameters": {},
      "id": "ccb9d628-d52c-49a6-803e-62de0f6ff8ea",
      "name": "Config Loader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {},
      "id": "fff6772b-86f0-4c06-93fb-3e291bf42ae4",
      "name": "HelloCash Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "46b30ac2-5919-4976-8590-c71e697b37da",
      "name": "Map to Odoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {},
      "id": "847857b7-30d8-46e8-ad53-80e1cd04a252",
      "name": "Odoo Post Moves",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ERROR_EMAIL_FROM || $('Config Loader').first().json.errorEmail }}",
        "toEmail": "={{ $('Config Loader').first().json.errorEmail }}",
        "subject": "HelloCash to Odoo sync failure",
        "emailFormat": "text",
        "text": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "a8d995d7-4736-40c3-8721-c431836ab4e7",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "webhookId": "10e75768-241b-472c-99ba-5aeee998767b"
    }
  ],
  "connections": {
    "Schedule Hourly": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Loader": {
      "main": [
        [
          {
            "node": "HelloCash Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HelloCash Fetch": {
      "main": [
        [
          {
            "node": "Map to Odoo",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Odoo": {
      "main": [
        [
          {
            "node": "Odoo Post Moves",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Post Moves": {
      "main": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
