workflows/helloCash-odoo-sync/src/workflow-template.json
{
  "name": "HelloCash Business → Odoo sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "ca15b6a9-a2ed-4d7e-9255-2e1f64fa9da2",
      "name": "Schedule Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {},
      "id": "5f32e14f-36c9-41f6-801e-0e37587e0449",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Config Loader — HelloCash Business → Odoo accounting sync.\n * Validates env; returns config for $('Config Loader').first().json.\n * ODOO_API_KEY is required here but never included in output json.\n */\n\nconst NODE = 'Config Loader';\n\nconst REQUIRED = [\n  'HELLOCASH_BASE_URL',\n  'ODOO_BASE_URL',\n  'ODOO_DB',\n  'ODOO_UID',\n  'ODOO_API_KEY',\n  'ODOO_JOURNAL_ID',\n  'ACCOUNT_KASSE',\n  'ACCOUNT_BANK',\n  'ACCOUNT_ERLOESE',\n  'ACCOUNT_GUTSCHEIN',\n  'ACCOUNT_UST_19',\n  'SYNC_HOUR',\n  'ERROR_EMAIL',\n];\n\nfor (const name of REQUIRED) {\n  const val = $env[name];\n  if (val === undefined || val === null || String(val).trim() === '') {\n    throw new Error(\n      `${NODE}: required environment variable is missing or empty: ${name}. ` +\n        'Set it in n8n (Settings → Variables / environment) and ensure this execution can read it.',\n    );\n  }\n}\n\n/** @param {string} label @param {string} urlRaw */\nfunction validateBaseUrl(label, urlRaw) {\n  const raw = String(urlRaw ?? '').trim();\n  const normalized = raw.replace(/\\/+$/, '');\n\n  if (/^\\d{2,5}$/.test(normalized)) {\n    throw new Error(\n      `${NODE}: ${label} must be a full URL, not just a port (got ${JSON.stringify(raw)}). ` +\n        `Example: https://api.hellocash.com or http://host.docker.internal:8069`,\n    );\n  }\n\n  const forSchemeCheck = normalized.replace(/\\/jsonrpc\\/?$/i, '');\n  if (!/^https?:\\/\\//i.test(forSchemeCheck) && !forSchemeCheck.startsWith('//')) {\n    throw new Error(\n      `${NODE}: ${label} must start with http:// or https:// (current value: ${JSON.stringify(raw)}). ` +\n        `Example (Docker → host): http://host.docker.internal:8069`,\n    );\n  }\n\n  const candidate = forSchemeCheck.startsWith('//') ? `https:${forSchemeCheck}` : forSchemeCheck;\n  const m = candidate.match(/^https?:\\/\\/([^\\/?#]+)(\\/|$)/i);\n  const host = m ? m[1] : '';\n  if (!host) {\n    throw new Error(`${NODE}: ${label} is not a valid URL (got ${JSON.stringify(raw)}). Missing hostname.`);\n  }\n\n  return normalized;\n}\n\nvalidateBaseUrl('HELLOCASH_BASE_URL', String($env.HELLOCASH_BASE_URL));\n\nconst odooBaseRaw = String($env.ODOO_BASE_URL).trim();\nconst odooBaseForSchemeCheck = odooBaseRaw.replace(/\\/jsonrpc\\/?$/i, '').replace(/\\/+$/, '');\nif (!/^https?:\\/\\//i.test(odooBaseForSchemeCheck)) {\n  throw new Error(\n    `${NODE}: ODOO_BASE_URL must be a full URL starting with http:// or https:// (current value: ${JSON.stringify(odooBaseRaw)}). ` +\n      'A port alone (e.g. 8069) is invalid. Example when n8n runs in Docker and Odoo is on the host: http://host.docker.internal:8069. ' +\n      'If you use docker-compose, set ODOO_BASE_URL in a .env file next to docker-compose.yml (or pass --env-file), not only a bare port.',\n  );\n}\n\n/** @param {string} envName @param {string | number} raw */\nfunction parseIntEnv(envName, raw) {\n  const n = parseInt(String(raw).trim(), 10);\n  if (!Number.isFinite(n)) {\n    throw new Error(\n      `${NODE}: ${envName} must be a finite integer, got: ${JSON.stringify(raw)}. ` +\n        `Example: ${envName}=\"123\"`,\n    );\n  }\n  return n;\n}\n\n/** Optional account id: empty env → fallbackInt (e.g. ACCOUNT_BANK). */\nfunction parseIntEnvOrFallback(envName, fallbackInt) {\n  const raw = $env[envName];\n  if (raw === undefined || raw === null || String(raw).trim() === '') return fallbackInt;\n  return parseIntEnv(envName, raw);\n}\n\n/** Optional Odoo journal id (empty env → null; mapping node falls back to ODOO_JOURNAL_ID). */\nfunction parseJournalIdOptional(envName) {\n  const raw = $env[envName];\n  if (raw === undefined || raw === null || String(raw).trim() === '') return null;\n  return parseIntEnv(envName, raw);\n}\n\n/** Optional env: integer ≥ min; ignores empty/missing env. */\nfunction optionalIntGe(envName, defaultVal, min) {\n  const raw = $env[envName];\n  if (raw === undefined || raw === null || String(raw).trim() === '') return defaultVal;\n  const n = parseInt(String(raw).trim(), 10);\n  if (!Number.isFinite(n) || n < min) return defaultVal;\n  return n;\n}\n\nconst kasse = parseIntEnv('ACCOUNT_KASSE', $env.ACCOUNT_KASSE);\nconst bank = parseIntEnv('ACCOUNT_BANK', $env.ACCOUNT_BANK);\nconst erloese = parseIntEnv('ACCOUNT_ERLOESE', $env.ACCOUNT_ERLOESE);\nconst gutschein = parseIntEnv('ACCOUNT_GUTSCHEIN', $env.ACCOUNT_GUTSCHEIN);\nconst ust19 = parseIntEnv('ACCOUNT_UST_19', $env.ACCOUNT_UST_19);\nconst ust7 = parseIntEnvOrFallback('ACCOUNT_UST_7', ust19);\nconst accountEc = parseIntEnvOrFallback('ACCOUNT_EC', bank);\nconst accountKreditkarte = parseIntEnvOrFallback('ACCOUNT_KREDITKARTE', bank);\nconst accountRechnung = parseIntEnvOrFallback('ACCOUNT_RECHNUNG', bank);\n\nconst journalDefault = parseIntEnv('ODOO_JOURNAL_ID', $env.ODOO_JOURNAL_ID);\nconst journalKasse = parseJournalIdOptional('JOURNAL_KASSE');\nconst journalBank = parseJournalIdOptional('JOURNAL_BANK');\nconst journalVerkauf = parseJournalIdOptional('JOURNAL_VERKAUF');\n\n/** @type {Record<string, unknown>} */\nconst config = {\n  hellocash: {\n    baseUrl: String($env.HELLOCASH_BASE_URL).trim().replace(/\\/+$/, ''),\n    timeoutMs: 30000,\n  },\n\n  odoo: {\n    baseUrl: (() => {\n      let u = String($env.ODOO_BASE_URL).trim().replace(/\\/+$/, '');\n      if (u.endsWith('/jsonrpc')) u = u.replace(/\\/jsonrpc$/, '');\n      return u;\n    })(),\n    db: String($env.ODOO_DB).trim(),\n    uid: parseIntEnv('ODOO_UID', $env.ODOO_UID),\n    journalId: journalDefault,\n    /** Type-specific journals; null when unset — Map to Odoo falls back to journalId. */\n    journalKasse,\n    journalBank,\n    journalVerkauf,\n  },\n\n  /** Odoo account.account ids for HelloCash payment routing (legacy + new). */\n  accounts: {\n    kasse,\n    bank,\n    erloese,\n    gutschein,\n    ec: accountEc,\n    kreditkarte: accountKreditkarte,\n    rechnung: accountRechnung,\n    ust19,\n    ust7,\n  },\n\n  /**\n   * Legacy bucket map (withdrawals / tooling). Revenue posting routes by invoice_payment in Map to Odoo.\n   */\n  accountMap: {\n    CASH: { debit: kasse, credit: erloese },\n    EC: { debit: accountEc, credit: erloese },\n    CREDITCARD: { debit: accountKreditkarte, credit: erloese },\n    VOUCHER: { debit: gutschein, credit: erloese },\n  },\n\n  retry: {\n    maxAttempts: optionalIntGe('SYNC_RPC_MAX_ATTEMPTS', 2, 1),\n    intervalMs: optionalIntGe('SYNC_RPC_RETRY_INTERVAL_MS', 2500, 250),\n  },\n\n  syncHour: parseIntEnv('SYNC_HOUR', $env.SYNC_HOUR),\n\n  errorEmail: String($env.ERROR_EMAIL).trim(),\n\n  /** Flat copies for operators / downstream (same values as accounts.* / odoo.journal*). */\n  ACCOUNT_EC: accountEc,\n  ACCOUNT_KREDITKARTE: accountKreditkarte,\n  ACCOUNT_RECHNUNG: accountRechnung,\n  ACCOUNT_UST_19: ust19,\n  ACCOUNT_UST_7: ust7,\n  JOURNAL_KASSE: journalKasse,\n  JOURNAL_BANK: journalBank,\n  JOURNAL_VERKAUF: journalVerkauf,\n};\n\nreturn [{ json: config }];\n",
        "mode": "runOnceForAllItems",
        "language": "javaScript"
      },
      "id": "ccb9d628-d52c-49a6-803e-62de0f6ff8ea",
      "name": "Config Loader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * HelloCash Business — bulk fetch (production).\n * Primary: GET `/api/v1/invoices` (invoice documents with `taxes[]` / rates when the API provides them), paginated with limit/offset and optional dateFrom/dateTo.\n * Response rows are `.invoices` and/or `.entries` (same extraction for both). Skips cancelled rows. Output: hellocashData.entries + hellocashData.invoices index by invoice number.\n *\n * Kassenbuch (`/api/v1/cashBook`) does not carry VAT breakdown; this node does not use it as the primary source so tax-aware posting matches the invoices API.\n *\n * Env: HELLOCASH_API_TOKEN (required). Paths are fixed in this node (not env).\n * HELLOCASH_BASE_URL may be origin-only or include /api/v1 — overlapping path segments are merged.\n * HELLOCASH_QUERY_FROM / HELLOCASH_QUERY_TO → dateFrom & dateTo.\n * Pagination: HELLOCASH_CASHBOOK_LIMIT / HELLOCASH_CASHBOOK_OFFSET / HELLOCASH_CASHBOOK_MAX_PAGES (legacy names; same as invoice list).\n * Optional: HELLOCASH_IGNORE_SYNC_HOUR=1, SYNC_HOUR gate via Config.\n */\n\nconst NODE = 'HelloCash Fetch';\n\n/**\n * Only include query keys that are actually set (not null/undefined; strings non-empty after trim).\n * @param {unknown} v\n */\nfunction queryParamHasValue(v) {\n  if (v === null || v === undefined) return false;\n  if (typeof v === 'string') return v.trim() !== '';\n  return true;\n}\n\n/** @param {Record<string, string | number | boolean>} params */\nfunction buildQueryString(params) {\n  return Object.keys(params)\n    .filter((k) => queryParamHasValue(params[k]))\n    .map((k) => `${encodeURIComponent(k)}=${encodeURIComponent(String(params[k]))}`)\n    .join('&');\n}\n\n/**\n * Merge HELLOCASH_BASE_URL with an absolute path without duplicating shared segments.\n * e.g. base https://host/api/v1 + path /api/v1/invoices → https://host/api/v1/invoices\n * Protocol-relative bases (//host/...) are normalized to https://host/...\n *\n * @param {string} baseUrlRaw\n * @param {string} pathRaw absolute path, e.g. /api/v1/invoices\n */\nfunction joinBaseUrlAndPath(baseUrlRaw, pathRaw) {\n  let baseStr = String(baseUrlRaw || '').trim();\n  if (baseStr.startsWith('//')) baseStr = `https:${baseStr}`;\n  baseStr = baseStr.replace(/\\/+$/, '');\n\n  const relPath = pathRaw.startsWith('/') ? pathRaw : `/${pathRaw}`;\n\n  // n8n Code nodes run in a sandbox where global URL may be undefined.\n  // Parse scheme/host/path conservatively using regex.\n  const m = baseStr.match(/^(https?:\\/\\/[^\\/?#]+)(\\/[^?#]*)?$/i);\n  if (!m) {\n    return `${baseStr}${relPath}`;\n  }\n  const origin = m[1];\n  const basePath = String(m[2] || '').replace(/\\/+$/, '');\n  const baseSegs = basePath.split('/').filter(Boolean);\n  const pathSegs = relPath.split('/').filter(Boolean);\n\n  let overlap = 0;\n  const max = Math.min(baseSegs.length, pathSegs.length);\n  for (let k = max; k >= 1; k--) {\n    let ok = true;\n    for (let i = 0; i < k; i++) {\n      if (baseSegs[baseSegs.length - k + i] !== pathSegs[i]) {\n        ok = false;\n        break;\n      }\n    }\n    if (ok) {\n      overlap = k;\n      break;\n    }\n  }\n\n  const remainder = pathSegs.slice(overlap);\n  const mergedSegs = [...baseSegs, ...remainder];\n  return `${origin}/${mergedSegs.join('/')}`.replace(/\\/+$/, '');\n}\n\n/**\n * n8n httpRequest: omit null/undefined options (some versions reject explicit nulls).\n * @param {Record<string, unknown>} opts\n */\nfunction httpRequestOpts(opts) {\n  /** @type {Record<string, unknown>} */\n  const out = {};\n  for (const [k, v] of Object.entries(opts)) {\n    if (v !== null && v !== undefined) out[k] = v;\n  }\n  return out;\n}\n\n/**\n * Drop null/undefined and empty strings from nested objects for logs (avoid \"parameters\" with no value).\n * @param {unknown} value\n */\nfunction compactForDisplay(value) {\n  if (value === null || value === undefined) return undefined;\n  if (Array.isArray(value)) {\n    const arr = value.map(compactForDisplay).filter((x) => x !== undefined);\n    return arr.length ? arr : undefined;\n  }\n  if (typeof value === 'object') {\n    const o = {};\n    for (const [k, v] of Object.entries(value)) {\n      const c = compactForDisplay(v);\n      if (c !== undefined) o[k] = c;\n    }\n    return Object.keys(o).length ? o : undefined;\n  }\n  if (typeof value === 'string' && value.trim() === '') return undefined;\n  return value;\n}\n\n/**\n * One or two sentences an operator can act on (not only raw status/body).\n * @param {string|number} status\n * @param {{ name?: string, code?: string, httpCode?: string, message?: string, description?: string }} hint\n * @param {string} bodyStr\n */\nfunction deriveFailureExplanation(status, hint, bodyStr) {\n  const code = String(hint?.code ?? '');\n  const msg = String(hint?.message ?? hint?.description ?? '');\n  const statusNum = typeof status === 'number' ? status : parseInt(String(status), 10);\n  const body = String(bodyStr ?? '');\n  const combined = `${msg} ${code} ${body}`.toLowerCase();\n\n  const parts = [];\n\n  if (Number.isFinite(statusNum)) {\n    if (statusNum === 401 || statusNum === 403) {\n      parts.push(\n        'The API rejected authentication/authorization — verify HELLOCASH_API_TOKEN and that HELLOCASH_BASE_URL matches the environment where that token is valid.',\n      );\n    } else if (statusNum === 404) {\n      parts.push(\n        'The server returned 404 — check HELLOCASH_BASE_URL (HelloCash paths are /api/v1/cashBook and /api/v1/invoices).',\n      );\n    } else if (statusNum === 400 || statusNum === 422) {\n      parts.push(\n        'The server rejected the request parameters — review date/search/limit/offset env vars against the API contract.',\n      );\n    } else if (statusNum === 429) {\n      parts.push('Rate limited (429) — retry later or reduce call volume.');\n    } else if (statusNum >= 500 && statusNum < 600) {\n      parts.push(\n        `Server error (${statusNum}) — HelloCash may be unavailable; retry later or check their service status.`,\n      );\n    } else if (statusNum >= 200 && statusNum < 300) {\n      parts.push(\n        'HTTP status looks successful but the client still failed — the body may not be JSON while json:true is set, or the client threw for another reason.',\n      );\n    }\n  }\n\n  if (status === 'no-status' || !Number.isFinite(statusNum)) {\n    if (/enotfound|getaddrinfo|eai_again/i.test(combined) || code === 'ENOTFOUND') {\n      parts.push('DNS or hostname resolution failed — check HELLOCASH_BASE_URL and network/DNS.');\n    }\n    if (/econnrefused/i.test(combined) || code === 'ECONNREFUSED') {\n      parts.push('Connection refused — wrong host/port, service not listening, or firewall.');\n    }\n    if (/etimedout|esockettimedout|timeout/i.test(combined) || /timeout/i.test(code)) {\n      parts.push('Request timed out — increase HelloCash timeout in config, or check network/API availability.');\n    }\n    if (/cert|ssl|tls|unable_to_verify/i.test(combined)) {\n      parts.push('TLS/certificate error — check HTTPS URL, proxy, or corporate TLS inspection.');\n    }\n  }\n\n  if (/unexpected token|not valid json|invalid json|json parse/i.test(combined)) {\n    parts.push('Response was not valid JSON — wrong URL often returns HTML or an error page instead of the API.');\n  }\n  if (/<!doctype html|<html/i.test(body)) {\n    parts.push('Body looks like HTML — usually wrong API URL, redirect to a web login, or a gateway error page.');\n  }\n\n  if (parts.length === 0) {\n    parts.push(\n      'Could not infer a specific cause from status/body — use HTTP status, hint fields, and response snippet below.',\n    );\n  }\n\n  return parts.join(' ');\n}\n\n/**\n * Best-effort HTTP status from n8n httpRequest / axios / nested cause chain.\n * @param {unknown} e\n */\nfunction resolveHttpStatus(e) {\n  /** @param {unknown} x */\n  const asStatus = (x) => {\n    if (x === undefined || x === null || x === '') return undefined;\n    if (typeof x === 'number' && Number.isFinite(x)) return x;\n    const n = parseInt(String(x), 10);\n    if (Number.isFinite(n)) return n;\n    if (typeof x === 'string') return x.trim() || undefined;\n    return undefined;\n  };\n\n  let cur = e;\n  for (let d = 0; d < 6 && cur != null; d++) {\n    if (typeof cur !== 'object') break;\n    const o = /** @type {Record<string, unknown>} */ (cur);\n    const u =\n      asStatus(o.response?.status) ??\n      asStatus(o.response?.statusCode) ??\n      asStatus(\n        o.error && typeof o.error === 'object'\n          ? /** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).status ??\n              /** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).statusCode ??\n              undefined\n          : undefined,\n      ) ??\n      asStatus(o.httpCode) ??\n      asStatus(o.statusCode) ??\n      asStatus(o.status);\n    if (u !== undefined) return u;\n    cur = o.cause;\n  }\n\n  const msg = String(\n    (typeof e === 'object' && e && 'message' in e && /** @type {{ message: unknown }} */ (e).message) || '',\n  );\n  const m =\n    msg.match(/\\bstatus code\\s+(\\d{3})\\b/i) ??\n    msg.match(/\\bHTTP\\s+(\\d{3})\\b/) ??\n    msg.match(/^\\s*(\\d{3})\\s/);\n  if (m) return parseInt(m[1], 10);\n\n  return 'no-status';\n}\n\n/**\n * n8n httpRequest errors are often NodeApiError / wrapped request errors — not always axios-shaped (e.response).\n */\nfunction extractHttpFailureDetails(e) {\n  const status = resolveHttpStatus(e);\n\n  let body =\n    e?.response?.data ??\n    e?.response?.body ??\n    e?.error ??\n    e?.description ??\n    (Array.isArray(e?.messages) ? e.messages.join('; ') : e?.messages);\n\n  if ((body === undefined || body === null || body === '') && e?.cause) {\n    const c = e.cause;\n    body =\n      c?.response?.data ??\n      c?.response?.body ??\n      c?.message ??\n      (typeof c === 'string' ? c : undefined);\n  }\n\n  let bodyStr = 'no body';\n  if (body !== undefined && body !== null && body !== '') {\n    bodyStr = typeof body === 'string' ? body : JSON.stringify(body, null, 2);\n  }\n\n  const hint = {\n    name: e?.name,\n    code: e?.code,\n    httpCode: e?.httpCode,\n    description: e?.description,\n    message: e?.message,\n    stack: typeof e?.stack === 'string' ? e.stack : undefined,\n    errorKeys: e && typeof e === 'object' ? Object.keys(e) : [],\n  };\n\n  /** @param {unknown} err @param {number} depth */\n  function shallowDump(err, depth) {\n    if (err == null) return null;\n    if (typeof err !== 'object') return String(err);\n    const o = {};\n    try {\n      for (const k of Object.getOwnPropertyNames(err)) {\n        try {\n          let v = /** @type {object} */ (err)[k];\n          if (v && typeof v === 'object' && depth < 2) {\n            v = shallowDump(v, depth + 1);\n          }\n          if (typeof v === 'string' && v.length > 4000) v = v.slice(0, 4000) + '…';\n          o[k] = v;\n        } catch {\n          o[k] = '[unreadable]';\n        }\n      }\n    } catch {\n      return '[dump failed]';\n    }\n    return o;\n  }\n\n  const rawDump = shallowDump(e, 0);\n  let causeChain = [];\n  let c = e?.cause;\n  let depth = 0;\n  while (c != null && depth < 5) {\n    causeChain.push({\n      depth,\n      message: c?.message ?? String(c),\n      name: c?.name,\n      stack: typeof c?.stack === 'string' ? c.stack.slice(0, 2000) : undefined,\n    });\n    c = c?.cause;\n    depth++;\n  }\n\n  return { status, bodyStr, hint, rawDump, causeChain };\n}\n\n/** Mask secret for logs (never log full token). */\nfunction maskToken(t) {\n  const s = String(t || '');\n  if (!s) return '(empty)';\n  if (s.length <= 8) return `${s.slice(0, 2)}…(${s.length} chars)`;\n  return `${s.slice(0, 4)}…${s.slice(-2)} (len=${s.length})`;\n}\n\nfunction safeJson(obj, space) {\n  try {\n    return JSON.stringify(obj, null, space);\n  } catch {\n    return '[JSON.stringify failed — possibly circular]';\n  }\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\n/**\n * Exponential backoff with jitter.\n * @param {number} attempt 1..n\n * @param {number} baseMs\n * @param {number} maxMs\n */\nfunction backoffDelayMs(attempt, baseMs, maxMs) {\n  const exp = Math.min(maxMs, baseMs * Math.pow(2, Math.max(0, attempt - 1)));\n  const jitter = Math.floor(Math.random() * Math.min(250, exp * 0.1));\n  return exp + jitter;\n}\n\n/**\n * Simple circuit breaker: after N consecutive failures, stop for cooldownMs.\n */\nfunction createCircuitBreaker({ failureThreshold, cooldownMs }) {\n  let consecutive = 0;\n  let openUntil = 0;\n  return {\n    /** @param {string} op */\n    assertClosed(op) {\n      const now = Date.now();\n      if (openUntil && now < openUntil) {\n        const remainingMs = openUntil - now;\n        throw new Error(\n          `${NODE}: circuit breaker OPEN for ${op} (cooldown ${Math.ceil(remainingMs / 1000)}s remaining). ` +\n            `Too many consecutive failures; check HelloCash availability and configuration before retrying.`,\n        );\n      }\n    },\n    success() {\n      consecutive = 0;\n      openUntil = 0;\n    },\n    failure() {\n      consecutive++;\n      if (consecutive >= failureThreshold) {\n        openUntil = Date.now() + cooldownMs;\n      }\n    },\n  };\n}\n\nconst config = $('Config Loader').first().json;\nconst token = $env.HELLOCASH_API_TOKEN?.trim();\nif (!token) {\n  throw new Error(\n    `${NODE}: HELLOCASH_API_TOKEN missing. Example: HELLOCASH_API_TOKEN=\"eyJhbGciOi...\" (do not paste into logs).`,\n  );\n}\n\nconst ignoreHour =\n  $env.HELLOCASH_IGNORE_SYNC_HOUR === '1' ||\n  String($env.HELLOCASH_IGNORE_SYNC_HOUR || '').toLowerCase() === 'true';\nconst hour = new Date().getHours();\nconst syncHour = parseInt(String(config.syncHour), 10);\nif (!Number.isFinite(syncHour)) {\n  throw new Error(`${NODE}: config.syncHour is invalid (expected integer), got: ${JSON.stringify(config.syncHour)}`);\n}\nif (!ignoreHour && hour !== syncHour) {\n  return [\n    {\n      json: {\n        skipped: true,\n        reason: 'sync_hour',\n        syncHour,\n        currentHour: hour,\n      },\n    },\n  ];\n}\n\nlet baseUrl = String(config.hellocash.baseUrl || '')\n  .trim()\n  .replace(/\\/+$/, '');\nif (baseUrl.startsWith('//')) baseUrl = `https:${baseUrl}`;\n\n/** HelloCash Business API paths (fixed; join with HELLOCASH_BASE_URL). */\nconst HELLOCASH_PATH_CASHBOOK = '/api/v1/cashBook';\nconst HELLOCASH_PATH_INVOICES = '/api/v1/invoices';\n\nconst daysBack = parseInt(String($env.HELLOCASH_DAYS_BACK || '1'), 10);\n\nfunction toDateString(d) {\n  const y = d.getFullYear();\n  const m = String(d.getMonth() + 1).padStart(2, '0');\n  const day = String(d.getDate()).padStart(2, '0');\n  return `${y}-${m}-${day}`;\n}\nconst today = new Date();\nconst fromDate = new Date(today);\nfromDate.setDate(today.getDate() - daysBack);\n\nconst qFromRaw = $env.HELLOCASH_QUERY_FROM && String($env.HELLOCASH_QUERY_FROM).trim();\nconst qFrom = qFromRaw ? qFromRaw : toDateString(fromDate);\n\nconst qToRaw = $env.HELLOCASH_QUERY_TO && String($env.HELLOCASH_QUERY_TO).trim();\nconst qTo = qToRaw ? qToRaw : toDateString(today);\n\nconst listOffsetRaw =\n  $env.HELLOCASH_CASHBOOK_OFFSET !== undefined && $env.HELLOCASH_CASHBOOK_OFFSET !== null\n    ? String($env.HELLOCASH_CASHBOOK_OFFSET)\n    : $env.HELLOCASH_INVOICES_OFFSET !== undefined && $env.HELLOCASH_INVOICES_OFFSET !== null\n      ? String($env.HELLOCASH_INVOICES_OFFSET)\n      : '0';\n\nconst listUrlNoQuery = joinBaseUrlAndPath(baseUrl, HELLOCASH_PATH_INVOICES);\n\nif (!String(baseUrl || '').trim()) {\n  throw new Error(\n    'HelloCash Fetch: config.hellocash.baseUrl is empty. Re-run Config Loader and set HELLOCASH_BASE_URL (non-empty).',\n  );\n}\n\nconst { maxAttempts, intervalMs } = config.retry;\n/** @type {Record<string, string>} */\nconst authHeaders = {\n  Authorization: `Bearer ${token}`,\n  Accept: 'application/json',\n};\n\n/**\n * Invoice list from GET …/invoices: Apiary/docs use `invoices`; live responses may use `entries` for the same array.\n * @param {unknown} res\n */\nfunction invoiceListFromResponse(res) {\n  if (!res || typeof res !== 'object') return [];\n  const o = /** @type {Record<string, unknown>} */ (res);\n  if (Array.isArray(o.invoices)) return o.invoices;\n  if (Array.isArray(o.entries)) return o.entries;\n  const data = o.data;\n  if (data && typeof data === 'object') {\n    const d = /** @type {Record<string, unknown>} */ (data);\n    if (Array.isArray(d.invoices)) return d.invoices;\n    if (Array.isArray(d.entries)) return d.entries;\n  }\n  return [];\n}\n\n/** @param {unknown} inv */\nfunction looksLikeCashBookRow(inv) {\n  if (!inv || typeof inv !== 'object') return false;\n  const o = /** @type {Record<string, unknown>} */ (inv);\n  return 'cashBook_total' in o || 'cashBook_id' in o || 'cashBook_invoice_number' in o;\n}\n\n/** @param {unknown} inv */\nfunction hasUsableTaxBreakdown(inv) {\n  if (!inv || typeof inv !== 'object') return false;\n  const o = /** @type {Record<string, unknown>} */ (inv);\n  if (!Array.isArray(o.taxes) || o.taxes.length === 0) return false;\n  for (const tx of o.taxes) {\n    if (!tx || typeof tx !== 'object') continue;\n    const t = /** @type {Record<string, unknown>} */ (tx);\n    const net = t.tax_net;\n    const tax = t.tax_tax;\n    if (net !== null && net !== undefined && String(net).trim() !== '') return true;\n    if (tax !== null && tax !== undefined && String(tax).trim() !== '') return true;\n  }\n  return false;\n}\n\n/** Stable key for hellocashData.invoices (number preferred, else id). */\nfunction invoiceRecordKey(inv) {\n  if (!inv || typeof inv !== 'object') return '';\n  const o = /** @type {Record<string, unknown>} */ (inv);\n  const num = String(\n    o.invoice_number ??\n      o.invoiceNumber ??\n      o.number ??\n      o.document_number ??\n      o.documentNumber ??\n      o.cashBook_invoice_number ??\n      '',\n  ).trim();\n  if (num && num !== '0') return num;\n  const id = String(\n    o.invoice_id ?? o.invoiceId ?? o.invoice_uid ?? o.uid ?? o.cashBook_id ?? o.id ?? '',\n  ).trim();\n  return id;\n}\n\n/** @param {unknown} inv */\nfunction skipCancelledListRow(inv) {\n  if (!inv || typeof inv !== 'object') return true;\n  const o = /** @type {Record<string, unknown>} */ (inv);\n  if (o.invoice_cancellation === '1') return true;\n  if (o.cashBook_cancellation === '1') return true;\n  return false;\n}\n\nconst breaker = createCircuitBreaker({\n  failureThreshold: parseInt(String($env.HELLOCASH_CB_FAILURE_THRESHOLD || '4'), 10) || 4,\n  cooldownMs: parseInt(String($env.HELLOCASH_CB_COOLDOWN_MS || '120000'), 10) || 120000,\n});\n\n/**\n * HTTP GET with retry/backoff and circuit breaker.\n * @param {{ url: string, timeoutMs: number, op: string }} p\n */\nconst getJsonWithRetry = async ({ url, timeoutMs, op }) => {\n  let lastError = null;\n  /** @type {object[]} */\n  const attempts = [];\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    const startedAt = nowIso();\n    try {\n      breaker.assertClosed(op);\n      const res = await this.helpers.httpRequest(\n        httpRequestOpts({\n          method: 'GET',\n          url,\n          headers: authHeaders,\n          timeout: timeoutMs,\n          json: true,\n        }),\n      );\n      breaker.success();\n      return { ok: true, res, attempts };\n    } catch (e) {\n      breaker.failure();\n      const { status, bodyStr, hint, rawDump, causeChain } = extractHttpFailureDetails(e);\n      const hintCompact = compactForDisplay(hint) ?? {};\n      const failureExplanation = deriveFailureExplanation(status, hint, bodyStr);\n      attempts.push({\n        attempt,\n        of: maxAttempts,\n        at: startedAt,\n        op,\n        httpStatus: status,\n        failureExplanation,\n        url,\n        request: {\n          method: 'GET',\n          timeoutMs,\n          accept: authHeaders.Accept,\n          authorization: `Bearer ${maskToken(token)}`,\n        },\n        responseBody: bodyStr,\n        hint: hintCompact,\n        rawDump,\n        causeChain,\n      });\n      lastError = e;\n      console.error(`${NODE}: ${op} failed — attempt detail`, attempts[attempts.length - 1]);\n      if (attempt < maxAttempts) {\n        const delay = backoffDelayMs(attempt, intervalMs, 30000);\n        await new Promise((r) => setTimeout(r, delay));\n      }\n    }\n  }\n  return { ok: false, res: null, attempts, lastError };\n};\n\nlet lastErr;\n/** @type {unknown} */\nlet listResponse;\n/** @type {object[]} */\nconst listAttemptHistory = [];\n\nconst listLimit = Math.max(1, parseInt(String($env.HELLOCASH_CASHBOOK_LIMIT || $env.HELLOCASH_INVOICES_LIMIT || '1000'), 10) || 1000);\nconst listOffsetStart = Math.max(0, parseInt(String(listOffsetRaw || '0'), 10) || 0);\nconst maxListPages = Math.max(\n  1,\n  parseInt(String($env.HELLOCASH_CASHBOOK_MAX_PAGES || $env.HELLOCASH_INVOICES_MAX_PAGES || '50'), 10) || 50,\n);\n\n/** @type {object[]} */\nconst allInvoices = [];\nlet pageOffset = listOffsetStart;\nfor (let page = 1; page <= maxListPages; page++) {\n  const pageQuery = buildQueryString({\n    limit: String(listLimit),\n    offset: String(pageOffset),\n    dateFrom: qFrom,\n    dateTo: qTo,\n  });\n  const pageUrl = pageQuery ? `${listUrlNoQuery}?${pageQuery}` : listUrlNoQuery;\n\n  const { ok, res, attempts, lastError } = await getJsonWithRetry({\n    url: pageUrl,\n    timeoutMs: config.hellocash.timeoutMs,\n    op: `invoices GET page=${page} offset=${pageOffset} limit=${listLimit}`,\n  });\n  listAttemptHistory.push(...attempts);\n  if (!ok) {\n    lastErr = lastError instanceof Error ? lastError : new Error(String(lastError || 'unknown error'));\n    listResponse = undefined;\n    break;\n  }\n\n  listResponse = res;\n  const pageInvoices = invoiceListFromResponse(res);\n  if (pageInvoices.length === 0) break;\n\n  for (const inv of pageInvoices) {\n    if (!inv || typeof inv !== 'object') continue;\n    if (skipCancelledListRow(inv)) continue;\n    allInvoices.push(inv);\n  }\n\n  if (pageInvoices.length < listLimit) break;\n  pageOffset += listLimit;\n}\n\nif (listResponse === undefined) {\n  const lastAtt =\n    listAttemptHistory.length > 0 ? listAttemptHistory[listAttemptHistory.length - 1] : {};\n\n  const lastHttp = lastAtt.httpStatus ?? lastAtt.status ?? 'no-status';\n\n  const bodyOneLine = String(lastAtt.responseBody ?? '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 500);\n  const hintMsg = lastAtt.hint?.message ?? lastAtt.hint?.description ?? 'n/a';\n  const hintCode = lastAtt.hint?.code ?? lastAtt.hint?.httpCode ?? 'n/a';\n  const failureExplanation =\n    lastAtt.failureExplanation ?? deriveFailureExplanation(lastHttp, lastAtt.hint ?? {}, bodyOneLine);\n\n  const diagnostic = {\n    phase: 'invoices GET',\n    httpStatus: lastHttp,\n    nodeErrorCode: hintCode,\n    failureExplanation,\n    failedAfterAttempts: maxAttempts,\n    retryIntervalMs: intervalMs,\n    clock: { hour, syncHour: config.syncHour, ignoreSyncHour: ignoreHour },\n    token: maskToken(token),\n    listUrl: listUrlNoQuery,\n    apiPaths: {\n      cashBook: HELLOCASH_PATH_CASHBOOK,\n      invoices: HELLOCASH_PATH_INVOICES,\n    },\n    attemptHistory: listAttemptHistory,\n    lastErrorMessage: lastErr?.message ?? 'unknown',\n    lastErrorStack: lastErr?.stack ?? 'no stack',\n  };\n\n  const diagnosticJson = safeJson(diagnostic, 2);\n\n  console.error('HelloCash invoices — FINAL FAILURE (all attempts exhausted)', {\n    httpStatus: lastHttp,\n    nodeErrorCode: hintCode,\n    ...diagnostic,\n  });\n\n  const explainOneLine = String(failureExplanation).replace(/\\s+/g, ' ').trim().slice(0, 280);\n\n  const httpStatusStr =\n    lastHttp !== undefined && lastHttp !== null && lastHttp !== 'no-status'\n      ? `HTTP ${lastHttp}`\n      : 'HTTP status unknown (no response — network/DNS/TLS/wrong URL?)';\n\n  const errorFirstLine =\n    `${httpStatusStr} | nodeErrorCode=${hintCode} | HelloCash invoices GET failed | ${explainOneLine} | ${hintMsg} | URL=${listUrlNoQuery} | body=${bodyOneLine || '(empty)'}`;\n\n  const msg =\n    `${errorFirstLine}\\n` +\n    `\\n` +\n    `--- CONTEXT ---\\n` +\n    `httpStatus: ${lastHttp}  nodeErrorCode: ${hintCode}\\n` +\n    `listUrl: ${listUrlNoQuery}\\n` +\n    `timeoutMs: ${config.hellocash.timeoutMs}  retryIntervalMs: ${intervalMs}\\n` +\n    `token (masked): ${maskToken(token)}\\n` +\n    `syncHour: ${config.syncHour}  currentHour: ${hour}  ignoreSyncHour: ${ignoreHour}\\n` +\n    `--- DIAGNOSTIC JSON ---\\n` +\n    diagnosticJson;\n\n  const err = new Error(msg);\n  err.diagnostic = diagnostic;\n  err.attemptHistory = listAttemptHistory;\n  throw err;\n}\n\nconst entries = allInvoices;\nif (entries.length === 0) {\n  return [{ json: { skipped: false, empty: true, message: 'No HelloCash entries (after filtering cancellations)' } }];\n}\n\n/** @type {Record<string, object>} */\nconst invoicesRecord = {};\nfor (const inv of entries) {\n  if (!inv || typeof inv !== 'object') continue;\n  if (looksLikeCashBookRow(inv) && !hasUsableTaxBreakdown(inv)) continue;\n  const n = invoiceRecordKey(inv);\n  if (n) invoicesRecord[n] = /** @type {object} */ (inv);\n}\n\nconst entryShape =\n  entries[0] && typeof entries[0] === 'object' && looksLikeCashBookRow(entries[0]) ? 'cashbook' : 'invoice';\nconst metaSource = entryShape === 'cashbook' ? 'cashbook' : 'invoices';\n\nreturn [\n  {\n    json: {\n      skipped: false,\n      hellocashData: {\n        entries,\n        invoices: invoicesRecord,\n        meta: {\n          fetchedAt: nowIso(),\n          entryCount: entries.length,\n          invoiceCount: Object.keys(invoicesRecord).length,\n          daysBack: Number.isFinite(daysBack) ? daysBack : 1,\n          syncHour: syncHour,\n          source: metaSource,\n          entryShape,\n          apiPaths: {\n            cashBook: HELLOCASH_PATH_CASHBOOK,\n            invoices: HELLOCASH_PATH_INVOICES,\n          },\n          invoiceEnrich: {\n            enabled: false,\n          },\n        },\n      },\n    },\n  },\n];\n",
        "mode": "runOnceForAllItems",
        "language": "javaScript"
      },
      "id": "fff6772b-86f0-4c06-93fb-3e291bf42ae4",
      "name": "HelloCash Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        800,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Map HelloCash invoice rows → Odoo account.move payloads.\n * Routes by invoice_payment (API: Bar, Bankomat, Kreditkarte, Kreditrechnung). All lines use tax_ids: [].\n */\n\nconst NODE = 'Map to Odoo';\n\nconst config = $('Config Loader').first().json;\nconst input = items[0].json;\n\nif (input.skipped || input.empty) {\n  return [{ json: input }];\n}\n\nconst hc = input.hellocashData;\nif (!hc?.entries) {\n  return [{ json: { skipped: false, mappedEmpty: true, message: 'Missing hellocashData.entries' } }];\n}\n\nconst { entries } = hc;\n\n/**\n * @param {unknown} specific Journal id from env (may be null).\n * @param {Record<string, unknown>} odoo\n * @param {string} envName For error messages.\n */\nfunction resolveJournal(specific, odoo, envName) {\n  const def = odoo.journalId;\n  if (specific !== null && specific !== undefined && Number.isFinite(specific) && parseInt(String(specific), 10) > 0) {\n    return parseInt(String(specific), 10);\n  }\n  const d = def !== null && def !== undefined ? parseInt(String(def), 10) : NaN;\n  if (Number.isFinite(d) && d > 0) return d;\n  throw new Error(\n    `${NODE}: journal resolution failed: set ${envName} or a valid ODOO_JOURNAL_ID (both missing or invalid).`,\n  );\n}\n\n/**\n * HelloCash invoice_payment → internal route key.\n * @param {unknown} raw\n */\nfunction normalizeInvoicePayment(raw) {\n  const t = String(raw ?? '').trim();\n  if (!t) return null;\n  const lower = t.toLowerCase();\n  if (lower === 'bar') return 'BAR';\n  if (lower === 'bankomat') return 'BANKOMAT';\n  if (lower === 'kreditkarte') return 'KREDITKARTE';\n  if (lower === 'kreditrechnung') return 'KREDITRECHNUNG';\n  return null;\n}\n\n/** @param {Record<string, unknown>} inv */\nfunction isInvoiceCancelled(inv) {\n  if (!inv || typeof inv !== 'object') return true;\n  const ic = inv.invoice_cancellation;\n  if (ic === true || ic === 1 || ic === '1') return true;\n  const s = String(ic ?? '')\n    .trim()\n    .toLowerCase();\n  if (s === 'true' || s === 'yes' || s === 'ja') return true;\n  const cb = inv.cashBook_cancellation;\n  if (cb === true || cb === 1 || cb === '1') return true;\n  return false;\n}\n\n/**\n * Gross amount: prefer invoice_total; fall back to common API / legacy cashbook fields, EU decimals, then taxes[].tax_gross.\n * @param {Record<string, unknown>} row\n */\nfunction parseInvoiceGross(row) {\n  const keys = [\n    'invoice_total',\n    'invoice_gross_total',\n    'invoice_amount',\n    'invoice_sum',\n    'gross_total',\n    'cashBook_total',\n  ];\n  for (const k of keys) {\n    const v = row[k];\n    if (v === null || v === undefined) continue;\n    if (typeof v === 'number' && Number.isFinite(v) && v !== 0) return Math.abs(v);\n    const t = String(v).trim().replace(/\\s/g, '');\n    if (!t) continue;\n    let n = NaN;\n    if (/^\\d{1,3}(\\.\\d{3})+,\\d{1,4}$/.test(t)) {\n      n = parseFloat(t.replace(/\\./g, '').replace(',', '.'));\n    } else if (/^\\d+,\\d+$/.test(t)) {\n      n = parseFloat(t.replace(',', '.'));\n    } else {\n      n = parseFloat(t);\n    }\n    if (Number.isFinite(n) && n !== 0) return Math.abs(n);\n  }\n  if (Array.isArray(row.taxes)) {\n    let sum = 0;\n    for (const tx of row.taxes) {\n      if (!tx || typeof tx !== 'object') continue;\n      const g = /** @type {{ tax_gross?: unknown }} */ (tx).tax_gross;\n      if (g === null || g === undefined) continue;\n      const t = String(g).trim().replace(/\\s/g, '').replace(',', '.');\n      const n = parseFloat(t);\n      if (Number.isFinite(n)) sum += n;\n    }\n    if (sum > 0) return Math.abs(sum);\n  }\n  return NaN;\n}\n\n/**\n * Net amount from HelloCash `taxes[]`: sum `tax_net` using the same per-cell parsing as `parseInvoiceGross` header fields.\n * @param {Record<string, unknown>} row\n */\nfunction parseInvoiceNet(row) {\n  if (!Array.isArray(row.taxes)) return NaN;\n  let sum = 0;\n  let any = false;\n  for (const tx of row.taxes) {\n    if (!tx || typeof tx !== 'object') continue;\n    const v = /** @type {{ tax_net?: unknown }} */ (tx).tax_net;\n    if (v === null || v === undefined) continue;\n    if (typeof v === 'number' && Number.isFinite(v)) {\n      sum += Math.abs(v);\n      any = true;\n      continue;\n    }\n    const t = String(v).trim().replace(/\\s/g, '');\n    if (!t) continue;\n    let n = NaN;\n    if (/^\\d{1,3}(\\.\\d{3})+,\\d{1,4}$/.test(t)) {\n      n = parseFloat(t.replace(/\\./g, '').replace(',', '.'));\n    } else if (/^\\d+,\\d+$/.test(t)) {\n      n = parseFloat(t.replace(',', '.'));\n    } else {\n      n = parseFloat(t);\n    }\n    if (Number.isFinite(n)) {\n      sum += Math.abs(n);\n      any = true;\n    }\n  }\n  if (!any) return NaN;\n  return Math.abs(sum);\n}\n\n/**\n * VAT from HelloCash `taxes[]`: sum `tax_tax` with the same parsing as net. If no `tax_tax` on any line, use |gross − net|.\n * @param {Record<string, unknown>} row\n */\nfunction parseInvoiceVat(row) {\n  const gross = parseInvoiceGross(row);\n  const net = parseInvoiceNet(row);\n  if (!Array.isArray(row.taxes)) {\n    if (Number.isFinite(gross) && Number.isFinite(net)) return Math.abs(gross - net);\n    return NaN;\n  }\n  let sum = 0;\n  let any = false;\n  for (const tx of row.taxes) {\n    if (!tx || typeof tx !== 'object') continue;\n    const v = /** @type {{ tax_tax?: unknown }} */ (tx).tax_tax;\n    if (v === null || v === undefined) continue;\n    if (typeof v === 'number' && Number.isFinite(v)) {\n      sum += Math.abs(v);\n      any = true;\n      continue;\n    }\n    const t = String(v).trim().replace(/\\s/g, '');\n    if (!t) continue;\n    let n = NaN;\n    if (/^\\d{1,3}(\\.\\d{3})+,\\d{1,4}$/.test(t)) {\n      n = parseFloat(t.replace(/\\./g, '').replace(',', '.'));\n    } else if (/^\\d+,\\d+$/.test(t)) {\n      n = parseFloat(t.replace(',', '.'));\n    } else {\n      n = parseFloat(t);\n    }\n    if (Number.isFinite(n)) {\n      sum += Math.abs(n);\n      any = true;\n    }\n  }\n  if (any) return Math.abs(sum);\n  if (Number.isFinite(gross) && Number.isFinite(net)) return Math.abs(gross - net);\n  return NaN;\n}\n\n/** @param {Record<string, unknown>} row @param {string[]} keys */\nfunction pickFirstString(row, keys) {\n  for (const k of keys) {\n    if (!(k in row)) continue;\n    const v = row[k];\n    if (v === null || v === undefined) continue;\n    const s = String(v).trim();\n    if (s) return s;\n  }\n  return '';\n}\n\n/** @param {Record<string, unknown>} row */\nfunction invoiceNumberFrom(row) {\n  return pickFirstString(row, [\n    'invoice_number',\n    'invoiceNumber',\n    'invoice_nr',\n    'invoiceNr',\n    'number',\n    'document_number',\n    'documentNumber',\n    'cashBook_invoice_number',\n    'belegnummer',\n  ]);\n}\n\n/** @param {Record<string, unknown>} row */\nfunction invoiceIdFrom(row) {\n  return pickFirstString(row, [\n    'invoice_id',\n    'invoiceId',\n    'invoice_uid',\n    'uid',\n    'cashBook_id',\n    'id',\n  ]);\n}\n\n/** @param {Record<string, unknown>} row */\nfunction invoicePaymentFrom(row) {\n  return pickFirstString(row, [\n    'invoice_payment',\n    'invoicePayment',\n    'payment',\n    'payment_type',\n    'paymentType',\n    'payment_method',\n    'paymentMethod',\n    'invoice_mode',\n    'invoiceMode',\n    'mode',\n  ]);\n}\n\n/** @param {Record<string, unknown>} row */\nfunction invoiceTimestampFrom(row) {\n  return pickFirstString(row, [\n    'invoice_timestamp',\n    'invoiceTimestamp',\n    'timestamp',\n    'date',\n    'created_at',\n    'createdAt',\n    'cashBook_timestamp',\n  ]);\n}\n\n/** @param {Record<string, unknown>} row */\nfunction invoiceDescriptionFrom(row) {\n  return pickFirstString(row, [\n    'invoice_description',\n    'invoiceDescription',\n    'description',\n    'text',\n    'cashBook_description',\n  ]);\n}\n\n/** Stable fingerprint for synthetic ref (sorted keys). */\nfunction rowFingerprint(row) {\n  const keys = Object.keys(row).sort();\n  const parts = keys.map((k) => `${k}=${JSON.stringify(row[k])}`);\n  return parts.join('|').slice(0, 4000);\n}\n\n/** Odoo `ref` / idempotency: printable, non-empty, bounded length. */\nfunction sanitizeOdooRef(s) {\n  let t = String(s ?? '')\n    .trim()\n    .replace(/[\\x00-\\x1f\\x7f]/g, '')\n    .slice(0, 200);\n  if (!t) t = 'HC';\n  return t;\n}\n\n/**\n * Prefer invoice / document number, then id. If API omits both, use deterministic HC-<hex> from row + amount.\n * @param {Record<string, unknown>} row\n * @param {number} amount\n */\nfunction invoiceRef(row, amount) {\n  const num = invoiceNumberFrom(row);\n  if (num && num !== '0') return sanitizeOdooRef(num);\n  const idStr = invoiceIdFrom(row);\n  if (idStr) return sanitizeOdooRef(idStr);\n  let h = 5381;\n  const basis = `${rowFingerprint(row)}|${Number.isFinite(amount) ? amount.toFixed(6) : 'na'}`;\n  for (let i = 0; i < basis.length; i++) h = ((h << 5) + h + basis.charCodeAt(i)) >>> 0;\n  return sanitizeOdooRef(`HC-${(h >>> 0).toString(16).padStart(8, '0')}`);\n}\n\nif (entries.length === 0) {\n  console.warn(`${NODE}: HelloCash returned empty entries`, {\n    rawType: typeof hc,\n    rawKeys: hc && typeof hc === 'object' ? Object.keys(hc) : [],\n    fetchedAt: hc.meta?.fetchedAt ?? input.fetchedAt ?? 'unknown',\n  });\n  return [\n    {\n      json: {\n        skipped: false,\n        mappedEmpty: true,\n        message: 'No rows to map from HelloCash payload',\n      },\n    },\n  ];\n}\n\nconsole.log(`${NODE}: HelloCash payload received`, {\n  entryCount: entries.length,\n  firstEntry: entries[0] ?? null,\n  fetchedAt: hc.meta?.fetchedAt ?? input.fetchedAt ?? 'unknown',\n});\n\nconst out = [];\nconst ac = /** @type {Record<string, number>} */ (config.accounts || {});\nconst odoo = /** @type {Record<string, unknown>} */ (config.odoo || {});\n\n/** @type {Record<string, unknown>} */\nconst invByNum =\n  hc.invoices && typeof hc.invoices === 'object' && !Array.isArray(hc.invoices)\n    ? /** @type {Record<string, unknown>} */ (hc.invoices)\n    : {};\n\nconst emptyTax = [];\n\nlet skippedCancelled = 0;\nlet skippedAmount = 0;\n\nfor (const inv of entries) {\n  if (!inv || typeof inv !== 'object') continue;\n  if (isInvoiceCancelled(inv)) {\n    skippedCancelled++;\n    continue;\n  }\n\n  const row = /** @type {Record<string, unknown>} */ (inv);\n  const idStr = invoiceIdFrom(row);\n  const numStr = invoiceNumberFrom(row);\n  const linked =\n    numStr && invByNum[numStr] && typeof invByNum[numStr] === 'object'\n      ? /** @type {Record<string, unknown>} */ (invByNum[numStr])\n      : null;\n  if (linked && isInvoiceCancelled(linked)) {\n    skippedCancelled++;\n    continue;\n  }\n\n  const amount = parseInvoiceGross(row);\n  if (!Number.isFinite(amount) || amount === 0) {\n    skippedAmount++;\n    continue;\n  }\n\n  const paymentRow = linked ? Object.assign({}, row, linked) : row;\n  const paymentRaw = invoicePaymentFrom(paymentRow);\n  let route = normalizeInvoicePayment(paymentRaw);\n  if (!route) {\n    console.warn(\n      `${NODE}: unknown invoice_payment ${JSON.stringify(paymentRaw)} for invoice ${numStr || idStr || '(no id)'}; falling back to Bar routing`,\n    );\n    route = 'BAR';\n  }\n\n  const tsRaw = invoiceTimestampFrom(linked ? paymentRow : row);\n  const date = tsRaw.split(' ')[0] || new Date().toISOString().split('T')[0];\n  const ref = invoiceRef(row, amount);\n  const desc = invoiceDescriptionFrom(linked ? paymentRow : row);\n  const lineNameBase = `HC ${numStr || idStr || '—'}: ${desc.substring(0, 50)}`;\n\n  const taxSource =\n    linked && Array.isArray(linked.taxes) && linked.taxes.length > 0 ? linked : row;\n\n  let taxRate = 19;\n  if (Array.isArray(taxSource.taxes) && taxSource.taxes.length > 0) {\n    const tax = taxSource.taxes[0];\n    if (tax && typeof tax === 'object' && /** @type {{ tax_taxRate?: unknown }} */ (tax).tax_taxRate !== undefined) {\n      taxRate = parseInt(String(/** @type {{ tax_taxRate?: unknown }} */ (tax).tax_taxRate), 10) || 19;\n    }\n  }\n\n  let net = parseInvoiceNet(taxSource);\n  let vat = parseInvoiceVat(taxSource);\n  if (\n    linked &&\n    Array.isArray(taxSource.taxes) &&\n    taxSource.taxes.length > 0 &&\n    Number.isFinite(net) &&\n    Number.isFinite(vat)\n  ) {\n    const sum = net + vat;\n    if (Number.isFinite(amount) && sum > 0 && Math.abs(amount - sum) > 0.02) {\n      const scale = amount / sum;\n      net *= scale;\n      vat *= scale;\n    }\n  }\n  const hasTaxBreakdown = Number.isFinite(net) && net > 0 && Number.isFinite(vat) && vat >= 0;\n\n  if (hasTaxBreakdown && Math.abs(net + vat - amount) > 0.02) {\n    console.warn(`${NODE}: gross/net/VAT mismatch > 0.02 for ref ${ref}`, {\n      gross: amount,\n      net,\n      vat,\n      sum: net + vat,\n    });\n  }\n\n  /** @type {number} */\n  let journalId = 0;\n  /** @type {number | undefined} */\n  let debitAccount;\n  const creditAccount = ac.erloese;\n  /** @type {Record<string, unknown> | null} */\n  let odooExtras = null;\n\n  if (route === 'BAR') {\n    journalId = resolveJournal(odoo.journalKasse, odoo, 'JOURNAL_KASSE');\n    debitAccount = ac.kasse;\n  } else if (route === 'BANKOMAT') {\n    journalId = resolveJournal(odoo.journalBank, odoo, 'JOURNAL_BANK');\n    debitAccount = ac.ec;\n  } else if (route === 'KREDITKARTE') {\n    journalId = resolveJournal(odoo.journalBank, odoo, 'JOURNAL_BANK');\n    debitAccount = ac.kreditkarte;\n  } else {\n    journalId = resolveJournal(odoo.journalVerkauf, odoo, 'JOURNAL_VERKAUF');\n    debitAccount = ac.rechnung;\n    odooExtras = { payment_state: 'not_paid' };\n  }\n\n  const taxAccount = taxRate === 7 ? ac.ust7 : ac.ust19;\n\n  /** @type {any[]} */\n  let lineIds;\n  if (hasTaxBreakdown) {\n    lineIds = [\n      [0, 0, { account_id: debitAccount, debit: amount, credit: 0, name: lineNameBase, tax_ids: emptyTax }],\n      [0, 0, { account_id: creditAccount, debit: 0, credit: net, name: lineNameBase, tax_ids: emptyTax }],\n      [\n        0,\n        0,\n        {\n          account_id: taxAccount,\n          debit: 0,\n          credit: vat,\n          name: `${lineNameBase} (USt ${taxRate}%)`,\n          tax_ids: emptyTax,\n        },\n      ],\n    ];\n  } else {\n    lineIds = [\n      [0, 0, { account_id: debitAccount, debit: amount, credit: 0, name: lineNameBase, tax_ids: emptyTax }],\n      [0, 0, { account_id: creditAccount, debit: 0, credit: amount, name: lineNameBase, tax_ids: emptyTax }],\n    ];\n  }\n\n  /** @type {Record<string, unknown>} */\n  const odooVals = {\n    ref,\n    move_type: 'entry',\n    journal_id: journalId,\n    date,\n    line_ids: lineIds,\n    narration:\n      `[n8n:hellocash→odoo] HelloCash Invoice #${numStr || '—'} (ID:${idStr || '—'}), invoice_payment:${paymentRaw || 'n/a'}, Amt:${amount.toFixed(2)}`,\n  };\n  if (odooExtras) Object.assign(odooVals, odooExtras);\n\n  console.log(`${NODE}: mapped invoice ${idStr || ref}`, {\n    ref,\n    paymentMethod: route,\n    amount,\n    taxRate,\n    hasTaxBreakdown,\n    net: hasTaxBreakdown ? net : undefined,\n    vat: hasTaxBreakdown ? vat : undefined,\n  });\n\n  out.push({\n    json: {\n      hellocashId: idStr || ref,\n      hellocashNumber: numStr || null,\n      invoiceNumber: numStr || null,\n      paymentMethod: route,\n      taxRate,\n      ref,\n      odooVals,\n    },\n  });\n}\n\nif (out.length === 0) {\n  const first = entries[0] && typeof entries[0] === 'object' ? /** @type {object} */ (entries[0]) : null;\n  const firstKeys = first ? Object.keys(first).slice(0, 50) : [];\n  console.warn(`${NODE}: nothing mapped`, {\n    entryCount: entries.length,\n    skippedCancelled,\n    skippedAmount,\n    firstEntryKeys: firstKeys,\n  });\n  return [\n    {\n      json: {\n        skipped: false,\n        mappedEmpty: true,\n        message:\n          'No entries mapped (cancellation, zero/unparseable gross amount, or missing totals). Check invoice_total / taxes[].tax_gross and invoice_cancellation.',\n        diagnostic: {\n          entryCount: entries.length,\n          skippedCancelled,\n          skippedAmount,\n          firstEntryKeys: firstKeys,\n        },\n      },\n    },\n  ];\n}\n\nreturn out;\n\n/*\nTEST FIXTURE — 119.00 € gross, 19 % USt (manual 3-line split, no Odoo auto-tax):\n\nconst row = {\n  invoice_number: 'TEST-119',\n  invoice_payment: 'Bar',\n  invoice_total: '119.00',\n  invoice_cancellation: '0',\n  invoice_timestamp: '2026-05-13 12:00:00',\n  taxes: [{ tax_taxRate: '19', tax_gross: '119.00', tax_net: '100.00', tax_tax: '19.00' }],\n};\n// With amount=gross=119, net=100, vat=19, hasTaxBreakdown=true, debitAccount=1612, creditAccount=1912, taxAccount=ust19:\n// line_ids = [\n//   [0, 0, { account_id: 1612, debit: 119, credit: 0, name: 'HC TEST-119: …', tax_ids: [] }],\n//   [0, 0, { account_id: 1912, debit: 0, credit: 100, name: 'HC TEST-119: …', tax_ids: [] }],\n//   [0, 0, { account_id: <ACCOUNT_UST_19>, debit: 0, credit: 19, name: 'HC TEST-119: … (USt 19%)', tax_ids: [] }],\n// ];\n*/\n",
        "mode": "runOnceForAllItems",
        "language": "javaScript"
      },
      "id": "46b30ac2-5919-4976-8590-c71e697b37da",
      "name": "Map to Odoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        1080,
        120
      ]
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "a7e3b2c1-9d4e-4f8a-b2c3-1d2e3f4a5b6c",
      "name": "Split Odoo batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1220,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n* Odoo JSON-RPC: account.move create with idempotency (ref) and retries.\n* Uses $env.ODOO_API_KEY (validated at Config Loader, never stored in config json).\n*\n* KORREKTUREN:\n* 1. Hauptlogik als async Arrow-Funktion `run`, damit `this` vom Code-Node-Sandbox erhalten bleibt.\n* 2. JSON-RPC über this.helpers.httpRequest (Code-Node v2; $http ist hier nicht verfügbar).\n* 3. httpRequest mit json:true liefert das geparste JSON-RPC-Objekt direkt (kein response.data).\n* 4. Fehler: response.status / statusCode (axios-ähnlich), Transport-Diagnostik bei leerem Body.\n* 5. Rückgabe des Promise von run() an n8n.\n*/\n\nconst NODE = 'Odoo Post Moves';\n\nfunction safeStringify(v) {\ntry {\nreturn JSON.stringify(v, null, 2);\n} catch {\nreturn '[unserializable]';\n}\n}\n\nfunction isDebugEnabled() {\nconst v = String($env.ODOO_DEBUG_LOG ?? '').trim().toLowerCase();\nreturn v === '1' || v === 'true' || v === 'yes';\n}\n\n/** Max chars for error response/debug snippets in messages and logs (avoid single-line truncation in Docker). */\nfunction errorSnippetLimit() {\nconst raw = String($env.ODOO_ERROR_SNIPPET_CHARS ?? '').trim();\nconst n = parseInt(raw, 10);\nif (Number.isFinite(n) && n > 0) return Math.min(n, 200000);\nreturn 8000;\n}\n\n/**\n* Split a long string into log-sized chunks so each docker/n8n log line stays complete.\n* @param {string} text\n* @param {number} chunkSize\n* @returns {string[]}\n*/\nfunction chunkForLogs(text, chunkSize = 3500) {\nconst s = String(text ?? '');\nif (!s) return ['(empty)'];\nconst out = [];\nfor (let i = 0; i < s.length; i += chunkSize) {\nout.push(s.slice(i, i + chunkSize));\n}\nreturn out;\n}\n\n/**\n* Walk Error.cause (and plain { cause }) chains for fuller diagnostics.\n* @param {unknown} e\n* @returns {unknown[]}\n*/\nfunction walkCauses(e) {\nconst list = [];\nlet cur = e;\nfor (let depth = 0; depth < 10 && cur != null; depth++) {\nlist.push(cur);\nif (cur instanceof Error && cur.cause !== undefined) {\ncur = cur.cause;\n} else if (typeof cur === 'object' && cur !== null && 'cause' in cur) {\ncur = /** @type {{ cause?: unknown }} */ (cur).cause;\n} else {\nbreak;\n}\n}\nreturn list;\n}\n\n/**\n* Verbose multi-line stderr — avoids one huge line that gets truncated as `error | Cannot ` in docker.\n* @param {string} context\n* @param {unknown} e\n* @param {Record<string, unknown>} [extra]\n*/\nfunction logErrorVerbose(context, e, extra = {}) {\nconst lim = errorSnippetLimit();\nconsole.error(`${NODE}: ERROR [${context}]`);\ntry {\nconsole.error(`${NODE}: ERROR [${context}] extra`, extra);\n} catch {\n// ignore\n}\nlet idx = 0;\nfor (const cur of walkCauses(e)) {\nconst tag = idx === 0 ? 'root' : `cause[${idx}]`;\nidx++;\nif (cur instanceof Error) {\nconsole.error(`${NODE}: ERROR [${context}] ${tag} name=${cur.name} message=${cur.message}`);\nif (cur.stack) {\nfor (const line of chunkForLogs(cur.stack, 3500)) {\nconsole.error(`${NODE}: ERROR [${context}] ${tag} stack`, line);\n}\n}\n} else {\nconsole.error(`${NODE}: ERROR [${context}] ${tag} (non-Error)`, safeStringify(cur).slice(0, lim));\n}\n}\nconst any = /** @type {{ response?: { statusCode?: unknown, status?: unknown, body?: unknown, data?: unknown } }} */ (e);\nconst st = any?.response?.statusCode ?? any?.response?.status;\nconst bod =\nany?.response?.data ?? any?.response?.body ?? /** @type {{ body?: unknown }} */ (e)?.body;\nif (st !== undefined || bod !== undefined) {\nconst bodyStr =\ntypeof bod === 'string' ? bod : bod !== undefined && bod !== null ? safeStringify(bod) : '';\nconsole.error(`${NODE}: ERROR [${context}] httpSummary`, {\nhttpStatus: st,\nbodySnippetChars: Math.min(bodyStr.length, lim),\n});\nconst parts = chunkForLogs(bodyStr.slice(0, lim), 3500);\nparts.forEach((part, c) => {\nconsole.error(`${NODE}: ERROR [${context}] body part ${c + 1}/${parts.length}`, part);\n});\n}\n}\n\nfunction debugLog(label, obj) {\ntry {\nconsole.debug(`${NODE}: ${label}`, obj);\n} catch {\n// ignore\n}\n}\n\n/**\n* Redact the password in an execute_kw JSON-RPC body.\n* Body shape:\n* params.args = [db, uid, password, model, method, args, kwargs]\n*/\nfunction redactRpcBody(body) {\ntry {\nconst b = body && typeof body === 'object' ? { ...body } : body;\nif (!b || typeof b !== 'object') return b;\nconst params = b.params && typeof b.params === 'object' ? { ...b.params } : null;\nif (!params) return b;\nconst pArgs = Array.isArray(params.args) ? [...params.args] : null;\nif (!pArgs) return b;\nif (pArgs.length >= 3) pArgs[2] = '***REDACTED***';\nb.params = { ...params, args: pArgs };\nreturn b;\n} catch {\nreturn { redaction: 'failed' };\n}\n}\n\n/**\n* Best-effort HTTP status aus httpRequest/axios-ähnlichen Fehlern.\n* @param {unknown} e\n*/\nfunction resolveHttpStatus(e) {\n/** @param {unknown} x */\nconst asStatus = (x) => {\nif (x === undefined || x === null || x === '') return undefined;\nif (typeof x === 'number' && Number.isFinite(x)) return x;\nconst n = parseInt(String(x), 10);\nif (Number.isFinite(n)) return n;\nif (typeof x === 'string') return x.trim() || undefined;\nreturn undefined;\n};\n\nlet cur = e;\nfor (let d = 0; d < 6 && cur != null; d++) {\nif (typeof cur !== 'object') break;\nconst o = /** @type {Record<string, unknown>} */ (cur);\nconst u =\nasStatus(o.response?.status) ??\nasStatus(o.response?.statusCode) ??\nasStatus(\no.error && typeof o.error === 'object'\n? /** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).status ??\n/** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).statusCode ??\nundefined\n: undefined,\n) ??\nasStatus(o.httpCode) ??\nasStatus(o.statusCode) ??\nasStatus(o.status);\nif (u !== undefined) return u;\ncur = o.cause;\n}\n\nconst msg = String(\n(typeof e === 'object' && e && 'message' in e && /** @type {{ message: unknown }} */ (e).message) || '',\n);\nconst m =\nmsg.match(/\\bstatus code\\s+(\\d{3})\\b/i) ??\nmsg.match(/\\bHTTP\\s+(\\d{3})\\b/) ??\nmsg.match(/^\\s*(\\d{3})\\s/);\nif (m) return parseInt(m[1], 10);\n\nreturn 'no-status';\n}\n\n/**\n* Best-effort HTTP error payload text (Odoo often returns JSON in body on 4xx/5xx).\n* @param {unknown} e\n* @returns {string | undefined} undefined if nothing readable (network/TLS/DNS errors often have no body)\n*/\nfunction extractHttpErrorPayload(e) {\nlet body =\n/** @type {{ response?: { data?: unknown, body?: unknown } }} */ (e)?.response?.data ??\n/** @type {{ response?: { data?: unknown, body?: unknown } }} */ (e)?.response?.body ??\n/** @type {{ body?: unknown }} */ (e)?.body ??\nnull;\nif ((body === undefined || body === null || body === '') && e && typeof e === 'object' && 'cause' in e) {\nlet cur = /** @type {{ cause?: unknown }} */ (e).cause;\nfor (let d = 0; d < 6 && cur != null; d++) {\nif (typeof cur === 'object' && cur !== null) {\nconst c = /** @type {{ response?: { data?: unknown, body?: unknown } } } */ (cur);\nbody = c.response?.data ?? c.response?.body ?? null;\nif (body !== undefined && body !== null && body !== '') break;\ncur = 'cause' in cur ? /** @type {{ cause?: unknown }} */ (cur).cause : null;\n} else break;\n}\n}\nif (body === undefined || body === null || body === '') return undefined;\nreturn typeof body === 'string' ? body : JSON.stringify(body, null, 2);\n}\n\n/**\n* Syserror fields when there is no HTTP body (ECONNREFUSED, ENOTFOUND, cert, etc.).\n* @param {unknown} e\n*/\nfunction transportDiagnostics(e) {\nconst parts = [];\nconst seen = new Set();\nconst add = (p) => {\nif (!p || seen.has(p)) return;\nseen.add(p);\nparts.push(p);\n};\nconst visit = (o) => {\nif (!o || typeof o !== 'object') return;\nconst x = /** @type {Record<string, unknown>} */ (o);\nif (typeof x.code === 'string' && x.code) add(`code=${x.code}`);\nif (x.errno != null && x.errno !== '') add(`errno=${x.errno}`);\nif (typeof x.syscall === 'string' && x.syscall) add(`syscall=${x.syscall}`);\nif (typeof x.hostname === 'string' && x.hostname) add(`host=${x.hostname}`);\nif (x.address != null && x.address !== '') add(`address=${String(x.address)}`);\nif (x.port != null && x.port !== '') add(`port=${String(x.port)}`);\n};\nfor (const cur of walkCauses(e)) visit(cur);\nreturn parts.join(' ');\n}\n\nfunction nowIso() {\nreturn new Date().toISOString();\n}\n\n/** Mask secret for logs. */\nfunction maskSecret(s) {\nconst str = String(s ?? '');\nif (!str) return '(empty)';\nif (str.length <= 8) return `${str.slice(0, 2)}…(${str.length} chars)`;\nreturn `${str.slice(0, 3)}…${str.slice(-2)} (len=${str.length})`;\n}\n\n/**\n* Exponential backoff with jitter.\n* @param {number} attempt 1..n\n* @param {number} baseMs\n* @param {number} maxMs\n*/\nfunction backoffDelayMs(attempt, baseMs, maxMs) {\nconst exp = Math.min(maxMs, baseMs * Math.pow(2, Math.max(0, attempt - 1)));\nconst jitter = Math.floor(Math.random() * Math.min(250, exp * 0.1));\nreturn exp + jitter;\n}\n\nfunction createCircuitBreaker({ failureThreshold, cooldownMs }) {\nlet consecutive = 0;\nlet openUntil = 0;\nreturn {\nassertClosed(op) {\nconst now = Date.now();\nif (openUntil && now < openUntil) {\nconst remainingMs = openUntil - now;\nthrow new Error(\n`${NODE}: circuit breaker OPEN for ${op} (cooldown ${Math.ceil(remainingMs / 1000)}s remaining). ` +\n`Too many consecutive failures; check Odoo availability/config before retrying.`,\n);\n}\n},\nsuccess() {\nconsecutive = 0;\nopenUntil = 0;\n},\nfailure() {\nconsecutive++;\nif (consecutive >= failureThreshold) openUntil = Date.now() + cooldownMs;\n},\n};\n}\n\n/**\n* Validate a move payload so we fail fast before sending bad accounting data.\n* @param {any} vals\n*/\nfunction validateMoveVals(vals) {\nif (!vals || typeof vals !== 'object') return 'odooVals must be an object';\nif (!vals.ref || typeof vals.ref !== 'string') return 'odooVals.ref missing (string required)';\nif (!vals.journal_id || !Number.isFinite(parseInt(String(vals.journal_id), 10)))\nreturn 'odooVals.journal_id missing/invalid';\nif (!vals.date || !/^\\d{4}-\\d{2}-\\d{2}$/.test(String(vals.date))) return 'odooVals.date must be YYYY-MM-DD';\nif (!Array.isArray(vals.line_ids) || vals.line_ids.length < 2) return 'odooVals.line_ids must have >= 2 lines';\n\nlet debitSum = 0;\nlet creditSum = 0;\nfor (const li of vals.line_ids) {\nif (!Array.isArray(li) || li.length < 3) return 'odooVals.line_ids must contain [0,0,line] entries';\nconst line = li[2];\nif (!line || typeof line !== 'object') return 'odooVals.line_ids line payload must be object';\nconst acct = line.account_id;\nif (!acct || !Number.isFinite(parseInt(String(acct), 10))) return 'line.account_id missing/invalid';\nconst d = parseFloat(String(line.debit ?? '0'));\nconst c = parseFloat(String(line.credit ?? '0'));\nif (!Number.isFinite(d) || d < 0) return 'line.debit must be a non-negative number';\nif (!Number.isFinite(c) || c < 0) return 'line.credit must be a non-negative number';\ndebitSum += d;\ncreditSum += c;\n}\n// Allow tiny rounding differences.\nif (Math.abs(debitSum - creditSum) > 0.0001) {\nreturn `move not balanced: debit=${debitSum.toFixed(2)} credit=${creditSum.toFixed(2)}`;\n}\nreturn null;\n}\n\n/**\n * Classify Odoo RPC error text for batch handling (permanent business conflict vs retryable).\n * @param {string} errorMessage\n * @returns {{ permanent: boolean, reason: string, action: string }}\n */\nfunction classifyOdooError(errorMessage) {\n  const msg = String(errorMessage ?? '');\n  const rows = [\n    { re: /another model is using/i, reason: 'odoo_move_locked', action: 'skip_and_alert' },\n    { re: /record you are trying to delete/i, reason: 'odoo_move_locked', action: 'skip_and_alert' },\n    { re: /already reconciled/i, reason: 'odoo_move_reconciled', action: 'skip_and_alert' },\n    { re: /cannot delete posted/i, reason: 'odoo_move_posted', action: 'skip_and_alert' },\n  ];\n  for (const row of rows) {\n    if (row.re.test(msg)) {\n      return { permanent: true, reason: row.reason, action: row.action };\n    }\n  }\n  return { permanent: false, reason: 'retryable', action: 'retry' };\n}\n\n/** @param {unknown} j */\nfunction isPermanentOdooSkip(j) {\n  return (\n    j &&\n    typeof j === 'object' &&\n    /** @type {{ skipped?: unknown, reason?: unknown }} */ (j).skipped === true &&\n    typeof /** @type {{ reason?: unknown }} */ (j).reason === 'string' &&\n    String(/** @type {{ reason?: string }} */ (j).reason).startsWith('odoo_')\n  );\n}\n\n/**\n* Hauptfunktion – Arrow, damit this.helpers beim Aufruf `return run()` gesetzt bleibt.\n* @returns {Promise<any[]>} Ergebnisse für n8n\n*/\nconst run = async () => {\nconst config = $('Config Loader').first().json;\nconst apiKey = $env.ODOO_API_KEY?.trim();\nif (!apiKey) {\nthrow new Error(\n`${NODE}: ODOO_API_KEY missing for JSON-RPC. Example: ODOO_API_KEY=\"supersecret\" (never log this value).`,\n);\n}\n\nconst { maxAttempts, intervalMs } = config.retry;\nconst results = [];\nconst debug = isDebugEnabled();\n\n// Startup diagnostics (no secrets).\nconsole.log(`${NODE}: start`, {\nat: nowIso(),\nodooBaseUrl: config?.odoo?.baseUrl,\nodooDb: config?.odoo?.db,\nodooUid: config?.odoo?.uid,\njournalId: config?.odoo?.journalId,\napiKey: maskSecret(apiKey),\nmaxAttempts,\nintervalMs,\ndebug,\n});\n\nconst breaker = createCircuitBreaker({\nfailureThreshold: parseInt(String($env.ODOO_CB_FAILURE_THRESHOLD || '4'), 10) || 4,\ncooldownMs: parseInt(String($env.ODOO_CB_COOLDOWN_MS || '120000'), 10) || 120000,\n});\n\n/**\n* JSON-RPC Aufruf mit this.helpers.httpRequest.\n* @param {string} model\n* @param {string} method\n* @param {any[]} args\n* @param {Record<string, any>} kwargs\n* @param {number} rpcAttempt 1..maxAttempts (verbose logs only on final attempt)\n*/\nconst rpc = async (model, method, args, kwargs = {}, rpcAttempt = 1) => {\nconst url = `${config.odoo.baseUrl}/jsonrpc`;\nconst body = {\njsonrpc: '2.0',\nmethod: 'call',\nparams: {\nservice: 'object',\nmethod: 'execute_kw',\nargs: [\nconfig.odoo.db,\nconfig.odoo.uid,\nString(apiKey).trim(),\nmodel,\nmethod,\nargs,\nkwargs,\n],\n},\nid: Date.now(),\n};\n\nif (debug) {\nconsole.log(`${NODE}: RPC request (redacted)`, {\nat: nowIso(),\nurl,\nmodel,\nmethod,\nbody: redactRpcBody(body),\n});\n}\n\nlet res;\ntry {\nbreaker.assertClosed(`${model}.${method}`);\nres = await this.helpers.httpRequest({\nmethod: 'POST',\nurl,\nbody,\njson: true,\ntimeout: 60000,\nheaders: { 'Content-Type': 'application/json' },\n});\nbreaker.success();\n} catch (e) {\nbreaker.failure();\n// axios-ähnlich: response.status; manche Versionen: statusCode\nconst status =\ne.response?.status ?? e.response?.statusCode ?? e.statusCode ?? resolveHttpStatus(e);\nconst errMsg = e.message || String(e);\nconst lim = errorSnippetLimit();\nconst directBody = e.response?.data ?? e.response?.body ?? e.body;\nconst payloadText =\ndirectBody !== undefined && directBody !== null && directBody !== ''\n? typeof directBody === 'string'\n? directBody\n: JSON.stringify(directBody, null, 2)\n: extractHttpErrorPayload(e);\nconst transport = transportDiagnostics(e);\nconst responseSummary =\npayloadText !== undefined\n? String(payloadText).slice(0, lim)\n: transport\n? `(no HTTP response body; ${transport})`\n: `(no HTTP response body — typical for ECONNREFUSED/ENOTFOUND/ETIMEDOUT/TLS/DNS; primary error: ${errMsg})`;\nif (rpcAttempt === maxAttempts) {\nlogErrorVerbose(`rpc HTTP ${model}.${method}`, e, {\nurl,\nmodel,\nmethod,\nhttpStatus: status,\nmessage: errMsg,\ntransport,\npayloadSnippet: payloadText ? String(payloadText).slice(0, 2000) : undefined,\napiKey: maskSecret(apiKey),\nrequestBodyRedacted: redactRpcBody(body),\n});\n} else {\nconsole.error(`${NODE}: Odoo HTTP error (will retry ${rpcAttempt}/${maxAttempts})`, {\nurl,\nmodel,\nmethod,\nhttpStatus: status,\nmessage: errMsg,\ntransport,\nrequestBodyRedacted: redactRpcBody(body),\n});\n}\nconst statusLine =\nstatus && status !== 'no-status'\n? `HTTP ${status}`\n: `HTTP status unknown — check ODOO_BASE_URL, TLS, proxy, and that Odoo is reachable`;\nthrow new Error(\n`${errMsg} | ${statusLine} | ${model}.${method} | ${responseSummary}`,\n);\n}\n\nif (res.error) {\nconst dbg = String(res.error.data?.debug ?? res.error.message ?? 'none');\nconst msg = String(res.error.data?.message ?? res.error.message ?? '');\nconst lim = errorSnippetLimit();\nif (rpcAttempt === maxAttempts) {\nconsole.error(`${NODE}: Odoo RPC error`, {\nmodel,\nmethod,\ncode: res.error.code,\nmessage: msg,\n});\nfor (const part of chunkForLogs(dbg, 3500)) {\nconsole.error(`${NODE}: Odoo RPC error debug chunk`, part);\n}\n} else {\nconsole.error(`${NODE}: Odoo RPC error (retry ${rpcAttempt}/${maxAttempts})`, {\nmodel,\nmethod,\ncode: res.error.code,\nmessage: msg,\n});\n}\nthrow new Error(\n`Odoo RPC | ${model}.${method} | code=${res.error.code} | ${msg} | debug:${dbg.slice(0, lim)}`,\n);\n}\n\nconsole.log(`${NODE}: Odoo RPC ok: ${model}.${method}`, {\nresultType: Array.isArray(res.result) ? 'array' : typeof res.result,\nresultLength: Array.isArray(res.result) ? res.result.length : undefined,\n});\n\nreturn res.result;\n};\n\n/**\n* RPC with retries/backoff.\n* @param {string} model\n* @param {string} method\n* @param {any[]} args\n* @param {Record<string, any>} kwargs\n* @param {string} op\n*/\nconst rpcWithRetry = async (model, method, args, kwargs, op) => {\nlet last = null;\nfor (let attempt = 1; attempt <= maxAttempts; attempt++) {\ntry {\nreturn { ok: true, result: await rpc(model, method, args, kwargs, attempt), attempt };\n} catch (e) {\nlast = e;\nconst msg = e instanceof Error ? e.message : String(e);\nconsole.warn(`${NODE}: ${op} failed (attempt ${attempt}/${maxAttempts}): ${msg}`);\nif (attempt < maxAttempts) {\nconst delay = backoffDelayMs(attempt, intervalMs, 30000);\n// Mehrere Werte in einem Objekt\ndebugLog('Zwischenstand', { ref: kwargs?.ref ?? undefined, attempt, delayMs: delay });\nawait new Promise((r) => setTimeout(r, delay));\n}\n}\n}\nreturn { ok: false, error: last };\n};\n\n// Hauptschleife über alle eingehenden Items\nfor (const item of items) {\nconst j = item.json;\n\nif (j.skipped || j.empty || j.mappedEmpty) {\nresults.push({ json: { ...j, odooSkipped: true, reason: 'no_data' } });\ncontinue;\n}\n\nif (!j.odooVals?.ref) {\nresults.push({ json: { ...j, error: 'Missing odooVals.ref' } });\ncontinue;\n}\n\nconst { hellocashId, hellocashNumber, invoiceNumber, ref, odooVals, paymentMethod, taxRate } = j;\n\nconsole.log(`${NODE}: processing item ${ref}`, { hellocashId, ref, at: nowIso() });\n\nconst validationError = validateMoveVals(odooVals);\nif (validationError) {\nresults.push({\njson: {\n...j,\nsuccess: false,\nerror: `Invalid journal entry payload: ${validationError}`,\nodooSkipped: true,\nreason: 'invalid_payload',\n},\n});\ncontinue;\n}\n\n// Log what we are about to send (safe summary by default).\nconst lineCount = Array.isArray(odooVals?.line_ids) ? odooVals.line_ids.length : 0;\nlet debitSum = 0;\nlet creditSum = 0;\ntry {\nif (Array.isArray(odooVals?.line_ids)) {\nfor (const li of odooVals.line_ids) {\nconst line = Array.isArray(li) ? li[2] : null;\nif (!line || typeof line !== 'object') continue;\nconst d = parseFloat(String(line.debit ?? '0'));\nconst c = parseFloat(String(line.credit ?? '0'));\nif (Number.isFinite(d)) debitSum += d;\nif (Number.isFinite(c)) creditSum += c;\n}\n}\n} catch {}\n\nconsole.log(`${NODE}: odoo payload summary`, {\nat: nowIso(),\nref,\ndate: odooVals?.date,\njournal_id: odooVals?.journal_id,\nlineCount,\ndebitSum: Number.isFinite(debitSum) ? Number(debitSum.toFixed(2)) : null,\ncreditSum: Number.isFinite(creditSum) ? Number(creditSum.toFixed(2)) : null,\n});\n\nif (debug) {\nconsole.log(`${NODE}: odoo payload FULL (create)`, {\nat: nowIso(),\nref,\nodooVals,\n});\n// Ausgabe von Variablen als lesbares JSON\nconsole.log(`${NODE}: Debug odooVals`, JSON.stringify(odooVals, null, 2));\n}\n\n// Idempotency check\nconst dedupe = await rpcWithRetry(\n'account.move',\n'search_read',\n[[['ref', '=', ref]]],\n{ fields: ['id', 'state', 'name', 'ref'], limit: 1 },\n`idempotency check ref=${ref}`,\n);\nif (!dedupe.ok) {\nconst msg = dedupe.error instanceof Error ? dedupe.error.message : String(dedupe.error);\nresults.push({\njson: {\n...j,\nsuccess: false,\nerror:\n`Idempotency check failed — move not created to avoid duplicates. ` +\n`Fix Odoo connectivity and re-run. Details: ${msg}`,\nodooSkipped: true,\nreason: 'dedupe_check_failed',\n},\n});\ncontinue;\n}\nconst existing = dedupe.result;\nif (Array.isArray(existing) && existing.length > 0) {\nconsole.log(`${NODE}: skipping duplicate: ${ref}`, { odooMoveId: existing[0].id });\nresults.push({\njson: {\nhellocashId,\nhellocashNumber,\ninvoiceNumber,\nref,\nodooMoveId: existing[0].id,\nodooState: existing[0].state,\nsuccess: true,\nidempotent: true,\nmessage: `Already exists as ${existing[0].name || ref}`,\n},\n});\ncontinue;\n}\n\nconst createRes = await rpcWithRetry('account.move', 'create', [[odooVals]], {}, `create ref=${ref}`);\nif (!createRes.ok) {\nconst msg = createRes.error instanceof Error ? createRes.error.message : String(createRes.error);\nconst classification = classifyOdooError(msg);\n\nif (classification.permanent) {\nconsole.error(`${NODE}: permanent Odoo conflict — skip item`, {\nref,\nhellocashId,\nclassification,\nerror: msg,\n});\nresults.push({\njson: {\n...j,\nsuccess: false,\nskipped: true,\nreason: classification.reason,\nerror: msg,\nodooMoveId: j.odooMoveId ?? null,\nhellocashId,\nref,\naction: 'requires_manual_reconciliation',\n},\n});\ncontinue;\n}\n\n// Safety net: post‑failure check (retryable path only)\nconst postCheck = await rpcWithRetry(\n'account.move',\n'search_read',\n[[['ref', '=', ref]]],\n{ fields: ['id', 'state', 'name'], limit: 1 },\n`post-failure dedupe check ref=${ref}`,\n);\nif (postCheck.ok && Array.isArray(postCheck.result) && postCheck.result.length > 0) {\nresults.push({\njson: {\nhellocashId,\nhellocashNumber,\ninvoiceNumber,\nref,\nodooMoveId: postCheck.result[0].id,\nodooState: postCheck.result[0].state,\nsuccess: true,\nidempotent: true,\nmessage: `Move appears to have been created despite error; found as ${postCheck.result[0].name || ref}`,\n},\n});\ncontinue;\n}\n\nresults.push({\njson: {\n...j,\nsuccess: false,\nerror: `Failed to create move after ${maxAttempts} attempts: ${msg}`,\nodooSkipped: false,\nreason: 'create_failed',\n},\n});\ncontinue;\n}\n\nconst createdId = Array.isArray(createRes.result) ? createRes.result[0] : createRes.result;\nconsole.log(`${NODE}: created Odoo move for ${ref}`, { odooMoveId: createdId });\nresults.push({\njson: {\nhellocashId,\nhellocashNumber,\ninvoiceNumber,\nref,\nodooMoveId: createdId,\npaymentMethod,\ntaxRate,\nsuccess: true,\nattempt: createRes.attempt,\ncreatedAt: nowIso(),\n},\n});\n}\n\n// ── Post-loop failure gate ──────────────────────\nconst permanentSkips = results.filter((r) => r.json && isPermanentOdooSkip(r.json));\nif (permanentSkips.length > 0) {\nconsole.warn(`${NODE}: permanent business conflicts summary (batch continues)`, {\nat: nowIso(),\ncount: permanentSkips.length,\nitems: permanentSkips.map((r) => ({\nref: r.json?.ref,\nhellocashId: r.json?.hellocashId,\nreason: r.json?.reason,\n})),\n});\n}\n\nconst hardFailures = results.filter(\n(r) =>\nr.json &&\n!isPermanentOdooSkip(r.json) &&\n(r.json.success === false ||\nr.json.reason === 'dedupe_check_failed' ||\nr.json.reason === 'invalid_payload'),\n);\n\nif (hardFailures.length > 0) {\nconst summary = hardFailures.map((r) => ({\nref: r.json.ref ?? 'unknown',\nreason: r.json.reason ?? 'create_failed',\nerror: r.json.error ?? 'unknown error',\n}));\nconsole.error(`${NODE}: batch failure summary`, {\nat: nowIso(),\nfailureCount: hardFailures.length,\ntotalItems: results.length,\nodooBaseUrl: config?.odoo?.baseUrl,\njournalId: config?.odoo?.journalId,\n});\nfor (let i = 0; i < summary.length; i++) {\nconst f = summary[i];\nconsole.error(\n`${NODE}: failure ${i + 1}/${summary.length} ref=${f.ref} reason=${f.reason}`,\n);\nfor (const part of chunkForLogs(String(f.error ?? ''), 3500)) {\nconsole.error(`${NODE}: failure ${i + 1} detail`, part);\n}\n}\nconst first = summary[0];\nthrow new Error(\n`${NODE}: ${hardFailures.length} item(s) failed (full details in logs above). First: ref=${first?.ref} reason=${first?.reason} — ${String(first?.error ?? '').slice(0, 500)}`,\n);\n}\n\nreturn results;\n};\n\n// n8n Code node: return the Promise from run()\nreturn run();\n",
        "mode": "runOnceForAllItems",
        "language": "javaScript"
      },
      "id": "847857b7-30d8-46e8-ad53-80e1cd04a252",
      "name": "Odoo Post Moves",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        1500,
        120
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ERROR_EMAIL_FROM || $('Config Loader').first().json.errorEmail }}",
        "toEmail": "={{ $('Config Loader').first().json.errorEmail }}",
        "subject": "HelloCash to Odoo sync failure",
        "emailFormat": "text",
        "text": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "a8d995d7-4736-40c3-8721-c431836ab4e7",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "webhookId": "10e75768-241b-472c-99ba-5aeee998767b",
      "position": [
        1080,
        340
      ]
    }
  ],
  "connections": {
    "Schedule Hourly": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Loader": {
      "main": [
        [
          {
            "node": "HelloCash Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HelloCash Fetch": {
      "main": [
        [
          {
            "node": "Map to Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Odoo": {
      "main": [
        [
          {
            "node": "Split Odoo batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Odoo batches": {
      "main": [
        [],
        [
          {
            "node": "Odoo Post Moves",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Post Moves": {
      "main": [
        [
          {
            "node": "Split Odoo batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
