workflows/helloCash-odoo-sync/src/workflow-template.json
{
  "name": "HelloCash Business → Odoo sync",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "ca15b6a9-a2ed-4d7e-9255-2e1f64fa9da2",
      "name": "Schedule Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        200
      ]
    },
    {
      "parameters": {},
      "id": "5f32e14f-36c9-41f6-801e-0e37587e0449",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        40
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Config Loader — HelloCash Business → Odoo accounting sync.\n * Validates env; returns config for $('Config Loader').first().json.\n * ODOO_PASSWORD is required here but never included in output json.\n */\n\nconst NODE = 'Config Loader';\n\nconst REQUIRED = [\n  'HELLOCASH_BASE_URL',\n  'ODOO_BASE_URL',\n  'ODOO_DB',\n  'ODOO_UID',\n  'ODOO_PASSWORD',\n  'ODOO_JOURNAL_ID',\n  'ACCOUNT_KASSE',\n  'ACCOUNT_BANK',\n  'ACCOUNT_ERLOESE',\n  'ACCOUNT_GUTSCHEIN',\n  'TAX_ID_19',\n  'TAX_ID_7',\n  'SYNC_HOUR',\n  'ERROR_EMAIL',\n];\n\nfor (const name of REQUIRED) {\n  const val = $env[name];\n  if (val === undefined || val === null || String(val).trim() === '') {\n    throw new Error(\n      `${NODE}: required environment variable is missing or empty: ${name}. ` +\n        'Set it in n8n (Settings → Variables / environment) and ensure this execution can read it.',\n    );\n  }\n}\n\n/** @param {string} label @param {string} urlRaw */\nfunction validateBaseUrl(label, urlRaw) {\n  const raw = String(urlRaw ?? '').trim();\n  const normalized = raw.replace(/\\/+$/, '');\n\n  // Reject bare ports like \"8069\" or \"3000\".\n  if (/^\\d{2,5}$/.test(normalized)) {\n    throw new Error(\n      `${NODE}: ${label} must be a full URL, not just a port (got ${JSON.stringify(raw)}). ` +\n        `Example: https://api.hellocash.com or http://host.docker.internal:8069`,\n    );\n  }\n\n  const forSchemeCheck = normalized.replace(/\\/jsonrpc\\/?$/i, '');\n  if (!/^https?:\\/\\//i.test(forSchemeCheck) && !forSchemeCheck.startsWith('//')) {\n    throw new Error(\n      `${NODE}: ${label} must start with http:// or https:// (current value: ${JSON.stringify(raw)}). ` +\n        `Example (Docker → host): http://host.docker.internal:8069`,\n    );\n  }\n\n  // n8n Code nodes run in a sandbox where global URL may be undefined.\n  // Validate with a conservative regex instead of relying on URL parsing.\n  const candidate = forSchemeCheck.startsWith('//') ? `https:${forSchemeCheck}` : forSchemeCheck;\n  const m = candidate.match(/^https?:\\/\\/([^\\/?#]+)(\\/|$)/i);\n  const host = m ? m[1] : '';\n  if (!host) {\n    throw new Error(`${NODE}: ${label} is not a valid URL (got ${JSON.stringify(raw)}). Missing hostname.`);\n  }\n\n  return normalized;\n}\n\nvalidateBaseUrl('HELLOCASH_BASE_URL', String($env.HELLOCASH_BASE_URL));\n\nconst odooBaseRaw = String($env.ODOO_BASE_URL).trim();\nconst odooBaseForSchemeCheck = odooBaseRaw.replace(/\\/jsonrpc\\/?$/i, '').replace(/\\/+$/, '');\nif (!/^https?:\\/\\//i.test(odooBaseForSchemeCheck)) {\n  throw new Error(\n    `${NODE}: ODOO_BASE_URL must be a full URL starting with http:// or https:// (current value: ${JSON.stringify(odooBaseRaw)}). ` +\n      'A port alone (e.g. 8069) is invalid. Example when n8n runs in Docker and Odoo is on the host: http://host.docker.internal:8069. ' +\n      'If you use docker-compose, set ODOO_BASE_URL in a .env file next to docker-compose.yml (or pass --env-file), not only a bare port.',\n  );\n}\n\n/** @param {string} envName @param {string | number} raw */\nfunction parseIntEnv(envName, raw) {\n  const n = parseInt(String(raw).trim(), 10);\n  if (!Number.isFinite(n)) {\n    throw new Error(\n      `${NODE}: ${envName} must be a finite integer, got: ${JSON.stringify(raw)}. ` +\n        `Example: ${envName}=\"123\"`,\n    );\n  }\n  return n;\n}\n\nconst kasse = parseIntEnv('ACCOUNT_KASSE', $env.ACCOUNT_KASSE);\nconst bank = parseIntEnv('ACCOUNT_BANK', $env.ACCOUNT_BANK);\nconst erloese = parseIntEnv('ACCOUNT_ERLOESE', $env.ACCOUNT_ERLOESE);\nconst gutschein = parseIntEnv('ACCOUNT_GUTSCHEIN', $env.ACCOUNT_GUTSCHEIN);\n/** Odoo tax record for 19% USt (standard); not the Austrian 20% MwSt record. */\nconst taxId19 = parseIntEnv('TAX_ID_19', $env.TAX_ID_19);\nconst taxId7 = parseIntEnv('TAX_ID_7', $env.TAX_ID_7);\n\n/** @type {Record<string, unknown>} */\nconst config = {\n  /** HelloCash Business API base URL and HTTP timeout (NFR-3). */\n  hellocash: {\n    baseUrl: String($env.HELLOCASH_BASE_URL).trim().replace(/\\/+$/, ''),\n    timeoutMs: 30000,\n  },\n\n  /** Odoo JSON-RPC target (password stays in $env.ODOO_PASSWORD only). */\n  odoo: {\n    baseUrl: (() => {\n      let u = String($env.ODOO_BASE_URL).trim().replace(/\\/+$/, '');\n      if (u.endsWith('/jsonrpc')) u = u.replace(/\\/jsonrpc$/, '');\n      return u;\n    })(),\n    db: String($env.ODOO_DB).trim(),\n    uid: parseIntEnv('ODOO_UID', $env.ODOO_UID),\n    journalId: parseIntEnv('ODOO_JOURNAL_ID', $env.ODOO_JOURNAL_ID),\n  },\n\n  /** Payment bucket → { debit, credit } for Kasse/Bank/Gutschein → Erlöse. */\n  accountMap: {\n    CASH: { debit: kasse, credit: erloese },\n    EC: { debit: bank, credit: erloese },\n    CREDITCARD: { debit: bank, credit: erloese },\n    VOUCHER: { debit: gutschein, credit: erloese },\n  },\n\n  /** VAT % → Odoo tax id on revenue line: 7% and 19% only (TAX_ID_7, TAX_ID_19). */\n  taxMap: {\n    7: taxId7,\n    19: taxId19,\n  },\n\n  /** Retry policy for HTTP / RPC (NFR-3). */\n  retry: {\n    maxAttempts: 3,\n    intervalMs: 5000,\n  },\n\n  syncHour: parseIntEnv('SYNC_HOUR', $env.SYNC_HOUR),\n\n  errorEmail: String($env.ERROR_EMAIL).trim(),\n};\n\nreturn [{ json: config }];\n"
      },
      "id": "ccb9d628-d52c-49a6-803e-62de0f6ff8ea",
      "name": "Config Loader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        520,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * HelloCash Business — two-phase fetch (production).\n * Phase 1: GET /api/v1/cashBook (paginated limit/offset).\n * Phase 2: GET /api/v1/invoices in bulk (paginated) and index by invoice_number.\n *\n * Env: HELLOCASH_API_TOKEN (required), HELLOCASH_LIST_PATH (default /api/v1/cashBook),\n * HELLOCASH_INVOICES_PATH (default /api/v1/invoices), HELLOCASH_DAYS_BACK (metadata only).\n * HELLOCASH_BASE_URL may be origin-only or include /api/v1 — overlapping path segments are merged (no /api/v1/api/v1/...).\n * HELLOCASH_QUERY_FROM / HELLOCASH_QUERY_TO → cashbook/invoices query dateFrom & dateTo (Apiary style).\n * Cashbook/invoices use: limit, offset, search, dateFrom, dateTo, mode, showDetails (mock-aligned).\n * Optional: HELLOCASH_IGNORE_SYNC_HOUR=1, SYNC_HOUR gate via Config.\n *\n * Note: n8n Code sandbox may not define URLSearchParams — use encodeURIComponent helper below.\n */\n\nconst NODE = 'HelloCash Fetch';\n\n/**\n * Only include query keys that are actually set (not null/undefined; strings non-empty after trim).\n * @param {unknown} v\n */\nfunction queryParamHasValue(v) {\n  if (v === null || v === undefined) return false;\n  if (typeof v === 'string') return v.trim() !== '';\n  return true;\n}\n\n/** @param {Record<string, string | number | boolean>} params */\nfunction buildQueryString(params) {\n  return Object.keys(params)\n    .filter((k) => queryParamHasValue(params[k]))\n    .map((k) => `${encodeURIComponent(k)}=${encodeURIComponent(String(params[k]))}`)\n    .join('&');\n}\n\n/**\n * Merge HELLOCASH_BASE_URL with an absolute path without duplicating shared segments.\n * e.g. base https://host/api/v1 + path /api/v1/cashBook → https://host/api/v1/cashBook\n * Protocol-relative bases (//host/...) are normalized to https://host/...\n *\n * @param {string} baseUrlRaw\n * @param {string} pathRaw absolute path, e.g. /api/v1/cashBook\n */\nfunction joinBaseUrlAndPath(baseUrlRaw, pathRaw) {\n  let baseStr = String(baseUrlRaw || '').trim();\n  if (baseStr.startsWith('//')) baseStr = `https:${baseStr}`;\n  baseStr = baseStr.replace(/\\/+$/, '');\n\n  const relPath = pathRaw.startsWith('/') ? pathRaw : `/${pathRaw}`;\n\n  // n8n Code nodes run in a sandbox where global URL may be undefined.\n  // Parse scheme/host/path conservatively using regex.\n  const m = baseStr.match(/^(https?:\\/\\/[^\\/?#]+)(\\/[^?#]*)?$/i);\n  if (!m) {\n    return `${baseStr}${relPath}`;\n  }\n  const origin = m[1];\n  const basePath = String(m[2] || '').replace(/\\/+$/, '');\n  const baseSegs = basePath.split('/').filter(Boolean);\n  const pathSegs = relPath.split('/').filter(Boolean);\n\n  let overlap = 0;\n  const max = Math.min(baseSegs.length, pathSegs.length);\n  for (let k = max; k >= 1; k--) {\n    let ok = true;\n    for (let i = 0; i < k; i++) {\n      if (baseSegs[baseSegs.length - k + i] !== pathSegs[i]) {\n        ok = false;\n        break;\n      }\n    }\n    if (ok) {\n      overlap = k;\n      break;\n    }\n  }\n\n  const remainder = pathSegs.slice(overlap);\n  const mergedSegs = [...baseSegs, ...remainder];\n  return `${origin}/${mergedSegs.join('/')}`.replace(/\\/+$/, '');\n}\n\n/**\n * n8n httpRequest: omit null/undefined options (some versions reject explicit nulls).\n * @param {Record<string, unknown>} opts\n */\nfunction httpRequestOpts(opts) {\n  /** @type {Record<string, unknown>} */\n  const out = {};\n  for (const [k, v] of Object.entries(opts)) {\n    if (v !== null && v !== undefined) out[k] = v;\n  }\n  return out;\n}\n\n/**\n * Drop null/undefined and empty strings from nested objects for logs (avoid \"parameters\" with no value).\n * @param {unknown} value\n */\nfunction compactForDisplay(value) {\n  if (value === null || value === undefined) return undefined;\n  if (Array.isArray(value)) {\n    const arr = value.map(compactForDisplay).filter((x) => x !== undefined);\n    return arr.length ? arr : undefined;\n  }\n  if (typeof value === 'object') {\n    const o = {};\n    for (const [k, v] of Object.entries(value)) {\n      const c = compactForDisplay(v);\n      if (c !== undefined) o[k] = c;\n    }\n    return Object.keys(o).length ? o : undefined;\n  }\n  if (typeof value === 'string' && value.trim() === '') return undefined;\n  return value;\n}\n\n/**\n * One or two sentences an operator can act on (not only raw status/body).\n * @param {string|number} status\n * @param {{ name?: string, code?: string, httpCode?: string, message?: string, description?: string }} hint\n * @param {string} bodyStr\n */\nfunction deriveFailureExplanation(status, hint, bodyStr) {\n  const code = String(hint?.code ?? '');\n  const msg = String(hint?.message ?? hint?.description ?? '');\n  const statusNum = typeof status === 'number' ? status : parseInt(String(status), 10);\n  const body = String(bodyStr ?? '');\n  const combined = `${msg} ${code} ${body}`.toLowerCase();\n\n  const parts = [];\n\n  if (Number.isFinite(statusNum)) {\n    if (statusNum === 401 || statusNum === 403) {\n      parts.push(\n        'The API rejected authentication/authorization — verify HELLOCASH_API_TOKEN and that HELLOCASH_BASE_URL matches the environment where that token is valid.',\n      );\n    } else if (statusNum === 404) {\n      parts.push(\n        'The server returned 404 — check HELLOCASH_BASE_URL and list/invoices paths (HELLOCASH_LIST_PATH, HELLOCASH_INVOICES_PATH).',\n      );\n    } else if (statusNum === 400 || statusNum === 422) {\n      parts.push(\n        'The server rejected the request parameters — review date/search/limit/offset env vars against the API contract.',\n      );\n    } else if (statusNum === 429) {\n      parts.push('Rate limited (429) — retry later or reduce call volume.');\n    } else if (statusNum >= 500 && statusNum < 600) {\n      parts.push(\n        `Server error (${statusNum}) — HelloCash may be unavailable; retry later or check their service status.`,\n      );\n    } else if (statusNum >= 200 && statusNum < 300) {\n      parts.push(\n        'HTTP status looks successful but the client still failed — the body may not be JSON while json:true is set, or the client threw for another reason.',\n      );\n    }\n  }\n\n  if (status === 'no-status' || !Number.isFinite(statusNum)) {\n    if (/enotfound|getaddrinfo|eai_again/i.test(combined) || code === 'ENOTFOUND') {\n      parts.push('DNS or hostname resolution failed — check HELLOCASH_BASE_URL and network/DNS.');\n    }\n    if (/econnrefused/i.test(combined) || code === 'ECONNREFUSED') {\n      parts.push('Connection refused — wrong host/port, service not listening, or firewall.');\n    }\n    if (/etimedout|esockettimedout|timeout/i.test(combined) || /timeout/i.test(code)) {\n      parts.push('Request timed out — increase HelloCash timeout in config, or check network/API availability.');\n    }\n    if (/cert|ssl|tls|unable_to_verify/i.test(combined)) {\n      parts.push('TLS/certificate error — check HTTPS URL, proxy, or corporate TLS inspection.');\n    }\n  }\n\n  if (/unexpected token|not valid json|invalid json|json parse/i.test(combined)) {\n    parts.push('Response was not valid JSON — wrong URL often returns HTML or an error page instead of the API.');\n  }\n  if (/<!doctype html|<html/i.test(body)) {\n    parts.push('Body looks like HTML — usually wrong API URL, redirect to a web login, or a gateway error page.');\n  }\n\n  if (parts.length === 0) {\n    parts.push(\n      'Could not infer a specific cause from status/body — use HTTP status, hint fields, and response snippet below.',\n    );\n  }\n\n  return parts.join(' ');\n}\n\n/**\n * Best-effort HTTP status from n8n httpRequest / axios / nested cause chain.\n * @param {unknown} e\n */\nfunction resolveHttpStatus(e) {\n  /** @param {unknown} x */\n  const asStatus = (x) => {\n    if (x === undefined || x === null || x === '') return undefined;\n    if (typeof x === 'number' && Number.isFinite(x)) return x;\n    const n = parseInt(String(x), 10);\n    if (Number.isFinite(n)) return n;\n    if (typeof x === 'string') return x.trim() || undefined;\n    return undefined;\n  };\n\n  let cur = e;\n  for (let d = 0; d < 6 && cur != null; d++) {\n    if (typeof cur !== 'object') break;\n    const o = /** @type {Record<string, unknown>} */ (cur);\n    const u =\n      asStatus(o.response?.status) ??\n      asStatus(o.response?.statusCode) ??\n      asStatus(\n        o.error && typeof o.error === 'object'\n          ? /** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).status ??\n              /** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).statusCode ??\n              undefined\n          : undefined,\n      ) ??\n      asStatus(o.httpCode) ??\n      asStatus(o.statusCode) ??\n      asStatus(o.status);\n    if (u !== undefined) return u;\n    cur = o.cause;\n  }\n\n  const msg = String(\n    (typeof e === 'object' && e && 'message' in e && /** @type {{ message: unknown }} */ (e).message) || '',\n  );\n  const m =\n    msg.match(/\\bstatus code\\s+(\\d{3})\\b/i) ??\n    msg.match(/\\bHTTP\\s+(\\d{3})\\b/) ??\n    msg.match(/^\\s*(\\d{3})\\s/);\n  if (m) return parseInt(m[1], 10);\n\n  return 'no-status';\n}\n\n/**\n * n8n httpRequest errors are often NodeApiError / wrapped request errors — not always axios-shaped (e.response).\n */\nfunction extractHttpFailureDetails(e) {\n  const status = resolveHttpStatus(e);\n\n  let body =\n    e?.response?.data ??\n    e?.response?.body ??\n    e?.error ??\n    e?.description ??\n    (Array.isArray(e?.messages) ? e.messages.join('; ') : e?.messages);\n\n  if ((body === undefined || body === null || body === '') && e?.cause) {\n    const c = e.cause;\n    body =\n      c?.response?.data ??\n      c?.response?.body ??\n      c?.message ??\n      (typeof c === 'string' ? c : undefined);\n  }\n\n  let bodyStr = 'no body';\n  if (body !== undefined && body !== null && body !== '') {\n    bodyStr = typeof body === 'string' ? body : JSON.stringify(body, null, 2);\n  }\n\n  const hint = {\n    name: e?.name,\n    code: e?.code,\n    httpCode: e?.httpCode,\n    description: e?.description,\n    message: e?.message,\n    stack: typeof e?.stack === 'string' ? e.stack : undefined,\n    errorKeys: e && typeof e === 'object' ? Object.keys(e) : [],\n  };\n\n  /** @param {unknown} err @param {number} depth */\n  function shallowDump(err, depth) {\n    if (err == null) return null;\n    if (typeof err !== 'object') return String(err);\n    const o = {};\n    try {\n      for (const k of Object.getOwnPropertyNames(err)) {\n        try {\n          let v = /** @type {object} */ (err)[k];\n          if (v && typeof v === 'object' && depth < 2) {\n            v = shallowDump(v, depth + 1);\n          }\n          if (typeof v === 'string' && v.length > 4000) v = v.slice(0, 4000) + '…';\n          o[k] = v;\n        } catch {\n          o[k] = '[unreadable]';\n        }\n      }\n    } catch {\n      return '[dump failed]';\n    }\n    return o;\n  }\n\n  const rawDump = shallowDump(e, 0);\n  let causeChain = [];\n  let c = e?.cause;\n  let depth = 0;\n  while (c != null && depth < 5) {\n    causeChain.push({\n      depth,\n      message: c?.message ?? String(c),\n      name: c?.name,\n      stack: typeof c?.stack === 'string' ? c.stack.slice(0, 2000) : undefined,\n    });\n    c = c?.cause;\n    depth++;\n  }\n\n  return { status, bodyStr, hint, rawDump, causeChain };\n}\n\n/** Mask secret for logs (never log full token). */\nfunction maskToken(t) {\n  const s = String(t || '');\n  if (!s) return '(empty)';\n  if (s.length <= 8) return `${s.slice(0, 2)}…(${s.length} chars)`;\n  return `${s.slice(0, 4)}…${s.slice(-2)} (len=${s.length})`;\n}\n\nfunction safeJson(obj, space) {\n  try {\n    return JSON.stringify(obj, null, space);\n  } catch {\n    return '[JSON.stringify failed — possibly circular]';\n  }\n}\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\n/**\n * Exponential backoff with jitter.\n * @param {number} attempt 1..n\n * @param {number} baseMs\n * @param {number} maxMs\n */\nfunction backoffDelayMs(attempt, baseMs, maxMs) {\n  const exp = Math.min(maxMs, baseMs * Math.pow(2, Math.max(0, attempt - 1)));\n  const jitter = Math.floor(Math.random() * Math.min(250, exp * 0.1));\n  return exp + jitter;\n}\n\n/**\n * Simple circuit breaker: after N consecutive failures, stop for cooldownMs.\n */\nfunction createCircuitBreaker({ failureThreshold, cooldownMs }) {\n  let consecutive = 0;\n  let openUntil = 0;\n  return {\n    /** @param {string} op */\n    assertClosed(op) {\n      const now = Date.now();\n      if (openUntil && now < openUntil) {\n        const remainingMs = openUntil - now;\n        throw new Error(\n          `${NODE}: circuit breaker OPEN for ${op} (cooldown ${Math.ceil(remainingMs / 1000)}s remaining). ` +\n            `Too many consecutive failures; check HelloCash availability and configuration before retrying.`,\n        );\n      }\n    },\n    success() {\n      consecutive = 0;\n      openUntil = 0;\n    },\n    failure() {\n      consecutive++;\n      if (consecutive >= failureThreshold) {\n        openUntil = Date.now() + cooldownMs;\n      }\n    },\n  };\n}\n\nconst config = $('Config Loader').first().json;\nconst token = $env.HELLOCASH_API_TOKEN?.trim();\nif (!token) {\n  throw new Error(\n    `${NODE}: HELLOCASH_API_TOKEN missing. Example: HELLOCASH_API_TOKEN=\"eyJhbGciOi...\" (do not paste into logs).`,\n  );\n}\n\nconst ignoreHour =\n  $env.HELLOCASH_IGNORE_SYNC_HOUR === '1' ||\n  String($env.HELLOCASH_IGNORE_SYNC_HOUR || '').toLowerCase() === 'true';\nconst hour = new Date().getHours();\nconst syncHour = parseInt(String(config.syncHour), 10);\nif (!Number.isFinite(syncHour)) {\n  throw new Error(`${NODE}: config.syncHour is invalid (expected integer), got: ${JSON.stringify(config.syncHour)}`);\n}\nif (!ignoreHour && hour !== syncHour) {\n  return [\n    {\n      json: {\n        skipped: true,\n        reason: 'sync_hour',\n        syncHour,\n        currentHour: hour,\n      },\n    },\n  ];\n}\n\nlet baseUrl = String(config.hellocash.baseUrl || '')\n  .trim()\n  .replace(/\\/+$/, '');\nif (baseUrl.startsWith('//')) baseUrl = `https:${baseUrl}`;\n\nconst listPath = ($env.HELLOCASH_LIST_PATH && String($env.HELLOCASH_LIST_PATH).trim()) || '/api/v1/cashBook';\nconst invoicesPath =\n  ($env.HELLOCASH_INVOICES_PATH && String($env.HELLOCASH_INVOICES_PATH).trim()) || '/api/v1/invoices';\nconst daysBack = parseInt(String($env.HELLOCASH_DAYS_BACK || '1'), 10);\n\nconst qFrom = ($env.HELLOCASH_QUERY_FROM && String($env.HELLOCASH_QUERY_FROM).trim()) || '';\nconst qTo = ($env.HELLOCASH_QUERY_TO && String($env.HELLOCASH_QUERY_TO).trim()) || '';\n\nconst cashbookOffset =\n  $env.HELLOCASH_CASHBOOK_OFFSET !== undefined && $env.HELLOCASH_CASHBOOK_OFFSET !== null\n    ? String($env.HELLOCASH_CASHBOOK_OFFSET)\n    : '0';\n\nconst cashbookQuery = buildQueryString({\n  limit: String($env.HELLOCASH_CASHBOOK_LIMIT || '1000'),\n  offset: cashbookOffset,\n  search: String($env.HELLOCASH_CASHBOOK_SEARCH || ''),\n  dateFrom: qFrom,\n  dateTo: qTo,\n  mode: String($env.HELLOCASH_CASHBOOK_MODE || ''),\n  showDetails: String($env.HELLOCASH_CASHBOOK_SHOW_DETAILS || ''),\n});\n\nconst pathNorm = listPath.startsWith('/') ? listPath : `/${listPath}`;\nconst cashbookUrlNoQuery = joinBaseUrlAndPath(baseUrl, pathNorm);\nconst cashbookUrl = cashbookQuery ? `${cashbookUrlNoQuery}?${cashbookQuery}` : cashbookUrlNoQuery;\n\nif (!String(baseUrl || '').trim()) {\n  throw new Error(\n    'HelloCash Fetch: config.hellocash.baseUrl is empty. Re-run Config Loader and set HELLOCASH_BASE_URL (non-empty).',\n  );\n}\n\nconst invPathNorm = invoicesPath.startsWith('/') ? invoicesPath : `/${invoicesPath}`;\nconst invoiceBaseUrl = joinBaseUrlAndPath(baseUrl, invPathNorm);\n\nconst { maxAttempts, intervalMs } = config.retry;\n/** @type {Record<string, string>} */\nconst authHeaders = {\n  Authorization: `Bearer ${token}`,\n  Accept: 'application/json',\n};\n\nconst breaker = createCircuitBreaker({\n  failureThreshold: parseInt(String($env.HELLOCASH_CB_FAILURE_THRESHOLD || '4'), 10) || 4,\n  cooldownMs: parseInt(String($env.HELLOCASH_CB_COOLDOWN_MS || '120000'), 10) || 120000,\n});\n\n/**\n * HTTP GET with retry/backoff and circuit breaker.\n * @param {{ url: string, timeoutMs: number, op: string }} p\n */\nconst getJsonWithRetry = async ({ url, timeoutMs, op }) => {\n  let lastError = null;\n  /** @type {object[]} */\n  const attempts = [];\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    const startedAt = nowIso();\n    try {\n      breaker.assertClosed(op);\n      const res = await this.helpers.httpRequest(\n        httpRequestOpts({\n          method: 'GET',\n          url,\n          headers: authHeaders,\n          timeout: timeoutMs,\n          json: true,\n        }),\n      );\n      breaker.success();\n      return { ok: true, res, attempts };\n    } catch (e) {\n      breaker.failure();\n      const { status, bodyStr, hint, rawDump, causeChain } = extractHttpFailureDetails(e);\n      const hintCompact = compactForDisplay(hint) ?? {};\n      const failureExplanation = deriveFailureExplanation(status, hint, bodyStr);\n      attempts.push({\n        attempt,\n        of: maxAttempts,\n        at: startedAt,\n        op,\n        httpStatus: status,\n        failureExplanation,\n        url,\n        request: {\n          method: 'GET',\n          timeoutMs,\n          accept: authHeaders.Accept,\n          authorization: `Bearer ${maskToken(token)}`,\n        },\n        responseBody: bodyStr,\n        hint: hintCompact,\n        rawDump,\n        causeChain,\n      });\n      lastError = e;\n      console.error(`${NODE}: ${op} failed — attempt detail`, attempts[attempts.length - 1]);\n      if (attempt < maxAttempts) {\n        const delay = backoffDelayMs(attempt, intervalMs, 30000);\n        await new Promise((r) => setTimeout(r, delay));\n      }\n    }\n  }\n  return { ok: false, res: null, attempts, lastError };\n};\n\nlet lastErr;\n/** @type {unknown} */\nlet cashbookResponse;\n/** @type {object[]} */\nconst cashbookAttemptHistory = [];\n\n// --- Phase 1: cashbook pagination ---\nconst cashbookLimit = Math.max(1, parseInt(String($env.HELLOCASH_CASHBOOK_LIMIT || '1000'), 10) || 1000);\nconst cashbookOffsetStart = Math.max(0, parseInt(String(cashbookOffset || '0'), 10) || 0);\nconst maxCashbookPages = Math.max(1, parseInt(String($env.HELLOCASH_CASHBOOK_MAX_PAGES || '50'), 10) || 50);\n\n/** @type {object[]} */\nconst allEntries = [];\nlet pageOffset = cashbookOffsetStart;\nfor (let page = 1; page <= maxCashbookPages; page++) {\n  const pageQuery = buildQueryString({\n    limit: String(cashbookLimit),\n    offset: String(pageOffset),\n    search: String($env.HELLOCASH_CASHBOOK_SEARCH || ''),\n    dateFrom: qFrom,\n    dateTo: qTo,\n    mode: String($env.HELLOCASH_CASHBOOK_MODE || ''),\n    showDetails: String($env.HELLOCASH_CASHBOOK_SHOW_DETAILS || ''),\n  });\n  const pageUrl = pageQuery ? `${cashbookUrlNoQuery}?${pageQuery}` : cashbookUrlNoQuery;\n\n  const { ok, res, attempts, lastError } = await getJsonWithRetry({\n    url: pageUrl,\n    timeoutMs: config.hellocash.timeoutMs,\n    op: `cashbook GET page=${page} offset=${pageOffset} limit=${cashbookLimit}`,\n  });\n  cashbookAttemptHistory.push(...attempts);\n  if (!ok) {\n    lastErr = lastError instanceof Error ? lastError : new Error(String(lastError || 'unknown error'));\n    cashbookResponse = undefined;\n    break;\n  }\n\n  cashbookResponse = res;\n  const raw =\n    res && typeof res === 'object' && 'entries' in res\n      ? /** @type {{ entries?: unknown }} */ (res).entries\n      : [];\n  const pageEntries = Array.isArray(raw) ? raw : [];\n  if (pageEntries.length === 0) break;\n  allEntries.push(...pageEntries);\n\n  // Stop when a page is not full — typical pagination convention.\n  if (pageEntries.length < cashbookLimit) break;\n  pageOffset += cashbookLimit;\n}\n\nif (cashbookResponse === undefined) {\n  const lastAtt =\n    cashbookAttemptHistory.length > 0\n      ? cashbookAttemptHistory[cashbookAttemptHistory.length - 1]\n      : {};\n\n  const bodyOneLine = String(lastAtt.responseBody ?? '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 500);\n  const hintMsg = lastAtt.hint?.message ?? lastAtt.hint?.description ?? 'n/a';\n  const hintCode = lastAtt.hint?.code ?? lastAtt.hint?.httpCode ?? 'n/a';\n  const failureExplanation =\n    lastAtt.failureExplanation ??\n    deriveFailureExplanation(lastAtt.status ?? 'no-status', lastAtt.hint ?? {}, bodyOneLine);\n\n  const diagnostic = {\n    phase: 'cashbook GET',\n    httpStatus: lastAtt.status ?? 'no-status',\n    nodeErrorCode: hintCode,\n    failureExplanation,\n    failedAfterAttempts: maxAttempts,\n    retryIntervalMs: intervalMs,\n    clock: { hour, syncHour: config.syncHour, ignoreSyncHour: ignoreHour },\n    token: maskToken(token),\n    cashbookUrl: cashbookUrlNoQuery,\n    invoiceBaseUrl,\n    envPaths: {\n      HELLOCASH_LIST_PATH: listPath,\n      HELLOCASH_INVOICES_PATH: invoicesPath,\n    },\n    attemptHistory: cashbookAttemptHistory,\n    lastErrorMessage: lastErr?.message ?? 'unknown',\n    lastErrorStack: lastErr?.stack ?? 'no stack',\n  };\n\n  const diagnosticJson = safeJson(diagnostic, 2);\n\n  console.error('HelloCash cashbook — FINAL FAILURE (all attempts exhausted)', {\n    httpStatus: lastAtt.status ?? 'no-status',\n    nodeErrorCode: hintCode,\n    ...diagnostic,\n  });\n\n  const explainOneLine = String(failureExplanation).replace(/\\s+/g, ' ').trim().slice(0, 280);\n\n  const httpStatusStr =\n    lastAtt.status !== undefined && lastAtt.status !== null && lastAtt.status !== 'no-status'\n      ? `HTTP ${lastAtt.status}`\n      : 'HTTP status unknown (no response — network/DNS/TLS/wrong URL?)';\n\n  // n8n Error panel often shows only the FIRST line — lead with HTTP + node error code.\n  const errorFirstLine =\n    `${httpStatusStr} | nodeErrorCode=${hintCode} | HelloCash cashbook GET failed | ${explainOneLine} | ${hintMsg} | URL=${cashbookUrlNoQuery} | body=${bodyOneLine || '(empty)'}`;\n\n  // One summary line already has URL + body; avoid repeating them via lastErr.message/stack here\n  // (those are still in diagnostic.lastErrorMessage / lastErrorStack / attemptHistory for tools).\n  const msg =\n    `${errorFirstLine}\\n` +\n    `\\n` +\n    `--- CONTEXT ---\\n` +\n    `httpStatus: ${lastAtt.status ?? 'no-status'}  nodeErrorCode: ${hintCode}\\n` +\n    `invoiceBaseUrl: ${invoiceBaseUrl}\\n` +\n    `timeoutMs: ${config.hellocash.timeoutMs}  retryIntervalMs: ${intervalMs}\\n` +\n    `token (masked): ${maskToken(token)}\\n` +\n    `syncHour: ${config.syncHour}  currentHour: ${hour}  ignoreSyncHour: ${ignoreHour}\\n` +\n    `--- DIAGNOSTIC JSON ---\\n` +\n    diagnosticJson;\n\n  const err = new Error(msg);\n  err.diagnostic = diagnostic;\n  err.attemptHistory = cashbookAttemptHistory;\n  throw err;\n}\n\nconst entries = allEntries;\nif (entries.length === 0) {\n  return [{ json: { skipped: false, empty: true, message: 'No cashbook entries' } }];\n}\n\nconst invoiceNumbers = [\n  ...new Set(\n    entries\n      .filter(\n        (e) =>\n          e &&\n          typeof e === 'object' &&\n          e.cashBook_invoice_number &&\n          String(e.cashBook_invoice_number) !== '0' &&\n          e.cashBook_cancellation !== '1',\n      )\n      .map((e) => String(/** @type {{ cashBook_invoice_number: string }} */ (e).cashBook_invoice_number)),\n  ),\n];\n\n// --- Phase 2: invoice bulk fetch (paginated) ---\nconst invoiceFetchMode = String($env.HELLOCASH_INVOICE_FETCH_MODE || 'bulk').toLowerCase();\nconst invDateFrom =\n  $env.HELLOCASH_INVOICES_DATE_FROM !== undefined && $env.HELLOCASH_INVOICES_DATE_FROM !== null\n    ? String($env.HELLOCASH_INVOICES_DATE_FROM)\n    : qFrom;\nconst invDateTo =\n  $env.HELLOCASH_INVOICES_DATE_TO !== undefined && $env.HELLOCASH_INVOICES_DATE_TO !== null\n    ? String($env.HELLOCASH_INVOICES_DATE_TO)\n    : qTo;\nconst invoiceLimit = Math.max(1, parseInt(String($env.HELLOCASH_INVOICES_LIMIT || '1000'), 10) || 1000);\nconst invoiceOffsetStart = Math.max(\n  0,\n  parseInt(\n    String(\n      $env.HELLOCASH_INVOICES_OFFSET !== undefined && $env.HELLOCASH_INVOICES_OFFSET !== null\n        ? $env.HELLOCASH_INVOICES_OFFSET\n        : '0',\n    ),\n    10,\n  ) || 0,\n);\nconst maxInvoicePages = Math.max(1, parseInt(String($env.HELLOCASH_INVOICES_MAX_PAGES || '50'), 10) || 50);\nconst invoiceTimeoutMs = Math.max(\n  5000,\n  parseInt(String($env.HELLOCASH_INVOICES_TIMEOUT_MS || String(config.hellocash.timeoutMs)), 10) ||\n    config.hellocash.timeoutMs,\n);\n\nconst invoicesMap = new Map();\nconst wantedInvoiceSet = new Set(invoiceNumbers.map(String));\n\nif (invoiceFetchMode !== 'off' && wantedInvoiceSet.size > 0) {\n  if (invoiceFetchMode === 'perinvoice') {\n    // Backwards-compatible fallback (slower). Kept for API variants where bulk is not supported.\n    for (const invNum of invoiceNumbers) {\n      let invRequestUrl = invoiceBaseUrl;\n      try {\n        const invQuery = buildQueryString({\n          limit: String(invoiceLimit),\n          offset: String(invoiceOffsetStart),\n          search: invNum,\n          dateFrom: invDateFrom,\n          dateTo: invDateTo,\n          mode: String($env.HELLOCASH_INVOICES_MODE || ''),\n          showDetails: String($env.HELLOCASH_INVOICES_SHOW_DETAILS || ''),\n        });\n        invRequestUrl = invQuery ? `${invoiceBaseUrl}?${invQuery}` : `${invoiceBaseUrl}`;\n        const { ok, res } = await getJsonWithRetry({\n          url: invRequestUrl,\n          timeoutMs: invoiceTimeoutMs,\n          op: `invoice GET search=${invNum}`,\n        });\n        if (!ok) continue;\n        const invList = res?.invoices;\n        if (Array.isArray(invList) && invList.length > 0) {\n          const inv = invList.find((x) => x && String(x.invoice_number) === String(invNum)) ?? invList[0];\n          if (inv && inv.invoice_cancellation !== '1') invoicesMap.set(String(invNum), inv);\n        }\n      } catch (e) {\n        const msg = e instanceof Error ? e.message : String(e);\n        console.warn(`${NODE}: failed to fetch invoice ${invNum}: ${msg}`);\n      }\n    }\n  } else {\n    // Preferred: fetch invoices by date range (and optionally details), then index by invoice_number.\n    let off = invoiceOffsetStart;\n    for (let page = 1; page <= maxInvoicePages; page++) {\n      const invQuery = buildQueryString({\n        limit: String(invoiceLimit),\n        offset: String(off),\n        // Important: do NOT set \"search\" here; we want one bulk pass.\n        dateFrom: invDateFrom,\n        dateTo: invDateTo,\n        mode: String($env.HELLOCASH_INVOICES_MODE || ''),\n        showDetails: String($env.HELLOCASH_INVOICES_SHOW_DETAILS || ''),\n      });\n      const pageUrl = invQuery ? `${invoiceBaseUrl}?${invQuery}` : invoiceBaseUrl;\n      const { ok, res } = await getJsonWithRetry({\n        url: pageUrl,\n        timeoutMs: invoiceTimeoutMs,\n        op: `invoices GET page=${page} offset=${off} limit=${invoiceLimit}`,\n      });\n      if (!ok) break;\n      const invList = res?.invoices;\n      const pageInvoices = Array.isArray(invList) ? invList : [];\n      if (pageInvoices.length === 0) break;\n\n      for (const inv of pageInvoices) {\n        const invNum = inv && typeof inv === 'object' ? String(inv.invoice_number ?? '') : '';\n        if (!invNum) continue;\n        if (!wantedInvoiceSet.has(invNum)) continue;\n        if (inv.invoice_cancellation === '1') continue;\n        invoicesMap.set(invNum, inv);\n      }\n\n      // Stop when page is not full OR we already captured all wanted invoices.\n      if (pageInvoices.length < invoiceLimit) break;\n      if (invoicesMap.size >= wantedInvoiceSet.size) break;\n      off += invoiceLimit;\n    }\n  }\n}\n\nreturn [\n  {\n    json: {\n      skipped: false,\n      hellocashData: {\n        entries,\n        invoices: Object.fromEntries(invoicesMap),\n        meta: {\n          fetchedAt: nowIso(),\n          entryCount: entries.length,\n          invoiceCount: invoicesMap.size,\n          daysBack: Number.isFinite(daysBack) ? daysBack : 1,\n          syncHour: syncHour,\n          invoiceFetchMode,\n        },\n      },\n    },\n  },\n];\n"
      },
      "id": "fff6772b-86f0-4c06-93fb-3e291bf42ae4",
      "name": "HelloCash Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        800,
        120
      ]
    },
    {
      "parameters": {
        "jsCode": "/**\n * Map HelloCash cashbook entries (+ linked invoices) → Odoo account.move payloads.\n * Skips cancelled cashbook rows; tax on revenue (credit) line for deposits only.\n */\n\nconst NODE = 'Map to Odoo';\n\nconst config = $('Config Loader').first().json;\nconst input = items[0].json;\n\nif (input.skipped || input.empty) {\n  return [{ json: input }];\n}\n\nconst hc = input.hellocashData;\nif (!hc?.entries) {\n  return [{ json: { skipped: false, mappedEmpty: true, message: 'Missing hellocashData.entries' } }];\n}\n\nconst { entries, invoices } = hc;\n/** @type {Record<string, unknown>} */\nconst invByNumber = invoices && typeof invoices === 'object' ? invoices : {};\n\nfunction nowIso() {\n  return new Date().toISOString();\n}\n\n/** @param {unknown} v */\nfunction asFiniteNumber(v) {\n  const n = typeof v === 'number' ? v : parseFloat(String(v ?? ''));\n  return Number.isFinite(n) ? n : null;\n}\n\n/** Normalize HelloCash payment descriptions → config.accountMap keys. */\nfunction normalizePaymentMethod(raw) {\n  const p = String(raw ?? '').toLowerCase().trim();\n  if (!p) return 'CASH';\n\n  // Voucher / Gutschein\n  if (p.includes('voucher') || p.includes('gutschein') || p.includes('gift') || p.includes('gut')) return 'VOUCHER';\n\n  // Cash\n  if (p.includes('bar') || p.includes('cash') || p.includes('bargeld')) return 'CASH';\n\n  // Card / EC / debit (German + common networks)\n  if (\n    p.includes('ec') ||\n    p.includes('giro') ||\n    p.includes('bankomat') ||\n    p.includes('maestro') ||\n    p.includes('debit') ||\n    p.includes('karte') ||\n    p.includes('card')\n  )\n    return 'EC';\n\n  // Credit card (explicit)\n  if (p.includes('credit') || p.includes('visa') || p.includes('mastercard') || p.includes('amex')) return 'CREDITCARD';\n\n  // Online methods (treat as bank/EC unless you add a dedicated account bucket)\n  if (p.includes('paypal') || p.includes('sofort') || p.includes('klarna') || p.includes('stripe')) return 'EC';\n\n  return 'CASH';\n}\n\n/**\n * Extract split payment info from invoice if present.\n * Returns array of { method, amount } in the currency of the invoice/entry.\n * Falls back to single payment method when details are missing.\n *\n * Supports multiple possible shapes:\n * - invoice.payments: [{ payment_method, payment_amount }, ...]\n * - invoice.invoice_payments: [...]\n * - invoice.invoice_payment: \"EC\" (single)\n *\n * @param {unknown} invoice\n * @param {number} fallbackAmount\n */\nfunction extractPayments(invoice, fallbackAmount) {\n  if (!invoice || typeof invoice !== 'object') {\n    return [{ method: 'CASH', amount: fallbackAmount }];\n  }\n  const inv = /** @type {Record<string, unknown>} */ (invoice);\n\n  const candidates = inv.payments ?? inv.invoice_payments ?? inv.invoicePayments ?? null;\n  if (Array.isArray(candidates) && candidates.length > 0) {\n    /** @type {{ method: string, amount: number }[]} */\n    const out = [];\n    for (const p of candidates) {\n      if (!p || typeof p !== 'object') continue;\n      const po = /** @type {Record<string, unknown>} */ (p);\n      const methodRaw = po.payment_method ?? po.method ?? po.type ?? po.name ?? inv.invoice_payment ?? '';\n      const amountRaw = po.payment_amount ?? po.amount ?? po.total ?? null;\n      const amount = asFiniteNumber(amountRaw);\n      if (!amount || amount <= 0) continue;\n      out.push({ method: normalizePaymentMethod(methodRaw), amount });\n    }\n    if (out.length > 0) return out;\n  }\n\n  return [{ method: normalizePaymentMethod(inv.invoice_payment ?? inv.payment ?? 'CASH'), amount: fallbackAmount }];\n}\n\nif (entries.length === 0) {\n  console.warn(`${NODE}: HelloCash returned empty entries`, {\n    rawType: typeof hc,\n    rawKeys: hc && typeof hc === 'object' ? Object.keys(hc) : [],\n    fetchedAt: hc.meta?.fetchedAt ?? input.fetchedAt ?? 'unknown',\n  });\n  return [\n    {\n      json: {\n        skipped: false,\n        mappedEmpty: true,\n        message: 'No rows to map from HelloCash payload',\n      },\n    },\n  ];\n}\n\nconsole.log(`${NODE}: HelloCash payload received`, {\n  entryCount: entries.length,\n  firstEntry: entries[0] ?? null,\n  fetchedAt: hc.meta?.fetchedAt ?? input.fetchedAt ?? 'unknown',\n});\n\nconst out = [];\n\nfor (const entry of entries) {\n  if (!entry || typeof entry !== 'object') continue;\n  if (entry.cashBook_cancellation === '1') continue;\n\n  const id = entry.cashBook_id;\n  const number = entry.cashBook_number;\n  const type = String(entry.cashBook_type || '').toLowerCase();\n  const amount = Math.abs(parseFloat(String(entry.cashBook_total ?? '0')));\n  if (!Number.isFinite(amount) || amount === 0) continue;\n\n  const description = String(entry.cashBook_description || '');\n  const invoiceNumber = entry.cashBook_invoice_number\n    ? String(entry.cashBook_invoice_number)\n    : '';\n\n  const timestamp = String(entry.cashBook_timestamp || '');\n  const date = timestamp.split(' ')[0] || new Date().toISOString().split('T')[0];\n\n  const invoice = invoiceNumber && invByNumber[invoiceNumber] ? invByNumber[invoiceNumber] : null;\n\n  const payments = extractPayments(invoice, amount);\n  const paymentMethod = payments.length === 1 ? payments[0].method : 'SPLIT';\n\n  let taxRate = 19;\n  if (invoice && typeof invoice === 'object' && Array.isArray(invoice.taxes) && invoice.taxes.length > 0) {\n    const tax = invoice.taxes[0];\n    if (tax && typeof tax === 'object' && tax.tax_taxRate !== undefined) {\n      taxRate = parseInt(String(tax.tax_taxRate), 10) || 19;\n    }\n  }\n\n  // Only 7% and 19% Odoo taxes (TAX_ID_7 / TAX_ID_19). HelloCash may send 20 (AT); map to 19% tax id.\n  const taxLookupKey = taxRate === 20 ? 19 : taxRate;\n  const taxId = config.taxMap[taxLookupKey] ?? config.taxMap[19];\n\n  const isDeposit =\n    type === 'deposit' || type === 'income' || type === 'sale' || type === 'einnahme';\n  const isWithdrawal =\n    type === 'withdrawal' ||\n    type === 'payout' ||\n    type === 'expense' ||\n    type === 'refund' ||\n    type === 'ausgabe';\n\n  const ref = `HC-${number}-${id}`;\n\n  /** @type {any[]} */\n  const lineIds = [];\n  const lineNameBase = `HC ${number}: ${description.substring(0, 50)}`;\n\n  if (isDeposit) {\n    // Debit: one line per payment method (supports split payments).\n    let debitSum = 0;\n    for (const p of payments) {\n      const am = config.accountMap[p.method];\n      if (!am || !Number.isFinite(parseInt(String(am.debit), 10)) || !Number.isFinite(parseInt(String(am.credit), 10))) {\n        console.warn(`${NODE}: unknown/invalid payment method mapping, skipping entry`, {\n          at: nowIso(),\n          hellocashId: id,\n          ref,\n          invoiceNumber: invoiceNumber || null,\n          paymentMethod: p.method,\n          availableMethods: Object.keys(config.accountMap || {}),\n        });\n        debitSum = null;\n        break;\n      }\n      const amt = Math.abs(asFiniteNumber(p.amount) ?? 0);\n      if (!amt) continue;\n      debitSum += amt;\n      lineIds.push([\n        0,\n        0,\n        {\n          account_id: am.debit,\n          debit: amt,\n          credit: 0,\n          name: payments.length > 1 ? `${lineNameBase} [${p.method}]` : lineNameBase,\n        },\n      ]);\n    }\n    if (debitSum === null || lineIds.length === 0) continue;\n\n    // Credit: revenue line (single) for total amount.\n    const amForCredit = config.accountMap[payments[0]?.method || 'CASH'] || config.accountMap.CASH;\n    if (!amForCredit) {\n      console.warn(`${NODE}: missing accountMap.CASH and no payment mapping for credit line; skipping`, { ref, id });\n      continue;\n    }\n    const creditLine = {\n      account_id: amForCredit.credit,\n      debit: 0,\n      credit: amount,\n      name: lineNameBase,\n    };\n    if (taxId) creditLine.tax_ids = [[6, 0, [taxId]]];\n    lineIds.push([0, 0, creditLine]);\n  } else if (isWithdrawal) {\n    // Withdrawals are treated as reverse of deposits; split withdrawals are rare — keep single bucket based on invoice payment.\n    const bucket = payments[0]?.method || 'CASH';\n    const am = config.accountMap[bucket];\n    if (!am) {\n      console.warn(`${NODE}: unknown payment method \"${bucket}\" for withdrawal, skipping`, { ref, id });\n      continue;\n    }\n    lineIds.push([\n      0,\n      0,\n      {\n        account_id: am.credit,\n        debit: amount,\n        credit: 0,\n        name: `HC ${number} [${type}]: ${description.substring(0, 50)}`,\n      },\n    ]);\n    lineIds.push([\n      0,\n      0,\n      {\n        account_id: am.debit,\n        debit: 0,\n        credit: amount,\n        name: `HC ${number} [${type}]: ${description.substring(0, 50)}`,\n      },\n    ]);\n  } else {\n    console.warn(`${NODE}: unknown cashBook_type \"${type}\" for entry ${id}, skipping`);\n    continue;\n  }\n\n  console.log(`${NODE}: mapped entry ${id}`, {\n    ref,\n    paymentMethod,\n    amount,\n    taxRate,\n    splitPaymentCount: payments.length,\n  });\n\n  out.push({\n    json: {\n      hellocashId: id,\n      hellocashNumber: number,\n      invoiceNumber: invoiceNumber || null,\n      paymentMethod,\n      taxRate,\n      ref,\n      odooVals: {\n        ref,\n        move_type: 'entry',\n        journal_id: config.odoo.journalId,\n        date,\n        line_ids: lineIds,\n        // Marker helps operators & downstream dedupe tooling.\n        narration:\n          `[n8n:hellocash→odoo] HelloCash Entry #${number} (ID:${id}), Type:${type}, Inv:${invoiceNumber || 'n/a'}, ` +\n          `Pay:${paymentMethod}${payments.length > 1 ? `(${payments.length} lines)` : ''}, Tax:${taxRate}%, Amt:${amount.toFixed(2)}`,\n      },\n    },\n  });\n}\n\nif (out.length === 0) {\n  return [\n    {\n      json: {\n        skipped: false,\n        mappedEmpty: true,\n        message: 'No entries mapped (all cancelled or unknown type)',\n      },\n    },\n  ];\n}\n\nreturn out;\n"
      },
      "id": "46b30ac2-5919-4976-8590-c71e697b37da",
      "name": "Map to Odoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        1080,
        120
      ]
    },
    {
      "parameters": {
        "batchSize": 20,
        "options": {}
      },
      "id": "a7e3b2c1-9d4e-4f8a-b2c3-1d2e3f4a5b6c",
      "name": "Split Odoo batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1220,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": ""
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-000000000001",
      "name": "Odoo Prepare Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        120
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "b2222222-2222-4222-8222-222222222222",
              "leftValue": "={{ $json.dedupeBody != null || $json.dedupeJson2Body != null || $json.dedupeUrl != null }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-000000000002",
      "name": "Odoo Has Rpc Work?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1500,
        120
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": ""
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-000000000003",
      "name": "Odoo Pass Through Skipped",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        280
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": ""
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-000000000004",
      "name": "Odoo Dedupe Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        1660,
        40
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "c3333333-3333-4333-8333-333333333333",
              "leftValue": "={{ !$json.skip && !$json.dedupeRpc?.error && Array.isArray($json.dedupeRpc?.result) && $json.dedupeRpc.result.length === 0 }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-000000000006",
      "name": "Odoo Need Create Move?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1980,
        40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": ""
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-000000000007",
      "name": "Odoo Create Move",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        2140,
        -40
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "language": "javaScript",
        "jsCode": ""
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-000000000009",
      "name": "Odoo Skip Create Row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2140,
        140
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": ""
      },
      "id": "f1a9c2e0-4d3b-4c8a-ad10-00000000000a",
      "name": "Odoo Process Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "onError": "continueErrorOutput",
      "position": [
        2460,
        120
      ]
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ERROR_EMAIL_FROM || $('Config Loader').first().json.errorEmail }}",
        "toEmail": "={{ $('Config Loader').first().json.errorEmail }}",
        "subject": "HelloCash to Odoo sync failure",
        "emailFormat": "text",
        "text": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "a8d995d7-4736-40c3-8721-c431836ab4e7",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "webhookId": "10e75768-241b-472c-99ba-5aeee998767b",
      "position": [
        1080,
        340
      ]
    }
  ],
  "connections": {
    "Schedule Hourly": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Loader": {
      "main": [
        [
          {
            "node": "HelloCash Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HelloCash Fetch": {
      "main": [
        [
          {
            "node": "Map to Odoo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Odoo": {
      "main": [
        [
          {
            "node": "Split Odoo batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Odoo batches": {
      "main": [
        [],
        [
          {
            "node": "Odoo Prepare Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Prepare Payload": {
      "main": [
        [
          {
            "node": "Odoo Has Rpc Work?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Has Rpc Work?": {
      "main": [
        [
          {
            "node": "Odoo Dedupe Check",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Odoo Pass Through Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Pass Through Skipped": {
      "main": [
        [
          {
            "node": "Odoo Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Dedupe Check": {
      "main": [
        [
          {
            "node": "Odoo Need Create Move?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Need Create Move?": {
      "main": [
        [
          {
            "node": "Odoo Create Move",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Odoo Skip Create Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Create Move": {
      "main": [
        [
          {
            "node": "Odoo Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Skip Create Row": {
      "main": [
        [
          {
            "node": "Odoo Process Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Process Results": {
      "main": [
        [
          {
            "node": "Split Odoo batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
