workflows/helloCash-odoo-sync/helloCash-odoo-sync.workflow.json
{
  "name": "HelloCash Business → Odoo sync",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "HelloCash Business: two-phase GET cashBook + invoices → map to account.move → Odoo JSON-RPC. Triggers: Schedule Hourly OR When clicking Test workflow. Env: HELLOCASH_BASE_URL, HELLOCASH_API_TOKEN, ODOO_* incl. ODOO_PASSWORD (validated in Config, not in output json), TAX_ID_19 (19% USt) and TAX_ID_7, accounts, HELLOCASH_LIST_PATH default /api/v1/cashBook, optional HELLOCASH_QUERY_FROM/TO, HELLOCASH_IGNORE_SYNC_HOUR. REQUIRED after import: n8n Credentials → create SMTP; open node Send Error Email → Credential for SMTP → select it (otherwise NodeOperationError: Node does not have any credentials set). Optional env ERROR_EMAIL_FROM for From address."
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "executionTimeout": 7200
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Schedule Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Config Loader — HelloCash Business → Odoo accounting sync.\n * Validates env; returns config for $('Config Loader').first().json.\n * ODOO_PASSWORD is required here but never included in output json.\n */\n\nconst REQUIRED = [\n  'HELLOCASH_BASE_URL',\n  'ODOO_BASE_URL',\n  'ODOO_DB',\n  'ODOO_UID',\n  'ODOO_PASSWORD',\n  'ODOO_JOURNAL_ID',\n  'ACCOUNT_KASSE',\n  'ACCOUNT_BANK',\n  'ACCOUNT_ERLOESE',\n  'ACCOUNT_GUTSCHEIN',\n  'TAX_ID_19',\n  'TAX_ID_7',\n  'SYNC_HOUR',\n  'ERROR_EMAIL',\n];\n\nfor (const name of REQUIRED) {\n  const val = $env[name];\n  if (val === undefined || val === null || String(val).trim() === '') {\n    throw new Error(\n      `Config Loader: required environment variable is missing or empty: ${name}. ` +\n        'Set it in n8n (Settings → Variables / environment) and ensure this execution can read it.',\n    );\n  }\n}\n\n/** @param {string} envName @param {string | number} raw */\nfunction parseIntEnv(envName, raw) {\n  const n = parseInt(String(raw).trim(), 10);\n  if (!Number.isFinite(n)) {\n    throw new Error(`Config Loader: ${envName} must be a finite integer, got: ${JSON.stringify(raw)}`);\n  }\n  return n;\n}\n\nconst kasse = parseIntEnv('ACCOUNT_KASSE', $env.ACCOUNT_KASSE);\nconst bank = parseIntEnv('ACCOUNT_BANK', $env.ACCOUNT_BANK);\nconst erloese = parseIntEnv('ACCOUNT_ERLOESE', $env.ACCOUNT_ERLOESE);\nconst gutschein = parseIntEnv('ACCOUNT_GUTSCHEIN', $env.ACCOUNT_GUTSCHEIN);\n/** Odoo tax record for 19% USt (standard); not the Austrian 20% MwSt record. */\nconst taxId19 = parseIntEnv('TAX_ID_19', $env.TAX_ID_19);\nconst taxId7 = parseIntEnv('TAX_ID_7', $env.TAX_ID_7);\n\n/** @type {Record<string, unknown>} */\nconst config = {\n  /** HelloCash Business API base URL and HTTP timeout (NFR-3). */\n  hellocash: {\n    baseUrl: String($env.HELLOCASH_BASE_URL).trim().replace(/\\/+$/, ''),\n    timeoutMs: 30000,\n  },\n\n  /** Odoo JSON-RPC target (password stays in $env.ODOO_PASSWORD only). */\n  odoo: {\n    baseUrl: String($env.ODOO_BASE_URL).trim().replace(/\\/+$/, ''),\n    db: String($env.ODOO_DB).trim(),\n    uid: parseIntEnv('ODOO_UID', $env.ODOO_UID),\n    journalId: parseIntEnv('ODOO_JOURNAL_ID', $env.ODOO_JOURNAL_ID),\n  },\n\n  /** Payment bucket → { debit, credit } for Kasse/Bank/Gutschein → Erlöse. */\n  accountMap: {\n    CASH: { debit: kasse, credit: erloese },\n    EC: { debit: bank, credit: erloese },\n    CREDITCARD: { debit: bank, credit: erloese },\n    VOUCHER: { debit: gutschein, credit: erloese },\n  },\n\n  /** VAT % → Odoo tax id on revenue line: 7% and 19% only (TAX_ID_7, TAX_ID_19). */\n  taxMap: {\n    7: taxId7,\n    19: taxId19,\n  },\n\n  /** Retry policy for HTTP / RPC (NFR-3). */\n  retry: {\n    maxAttempts: 3,\n    intervalMs: 5000,\n  },\n\n  syncHour: parseIntEnv('SYNC_HOUR', $env.SYNC_HOUR),\n\n  errorEmail: String($env.ERROR_EMAIL).trim(),\n};\n\nreturn [{ json: config }];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Config Loader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * HelloCash Business — two-phase fetch (production).\n * Phase 1: GET /api/v1/cashBook (paginated limit/offset).\n * Phase 2: GET /api/v1/invoices per linked invoice number (payment + taxes).\n *\n * Env: HELLOCASH_API_TOKEN (required), HELLOCASH_LIST_PATH (default /api/v1/cashBook),\n * HELLOCASH_INVOICES_PATH (default /api/v1/invoices), HELLOCASH_DAYS_BACK (metadata only).\n * HELLOCASH_BASE_URL may be origin-only or include /api/v1 — overlapping path segments are merged (no /api/v1/api/v1/...).\n * HELLOCASH_QUERY_FROM / HELLOCASH_QUERY_TO → cashbook/invoices query dateFrom & dateTo (Apiary style).\n * Cashbook/invoices use: limit, offset, search, dateFrom, dateTo, mode, showDetails (mock-aligned).\n * Optional: HELLOCASH_IGNORE_SYNC_HOUR=1, SYNC_HOUR gate via Config.\n *\n * Note: n8n Code sandbox may not define URLSearchParams — use encodeURIComponent helper below.\n */\n\n/**\n * Only include query keys that are actually set (not null/undefined; strings non-empty after trim).\n * @param {unknown} v\n */\nfunction queryParamHasValue(v) {\n  if (v === null || v === undefined) return false;\n  if (typeof v === 'string') return v.trim() !== '';\n  return true;\n}\n\n/** @param {Record<string, string | number | boolean>} params */\nfunction buildQueryString(params) {\n  return Object.keys(params)\n    .filter((k) => queryParamHasValue(params[k]))\n    .map((k) => `${encodeURIComponent(k)}=${encodeURIComponent(String(params[k]))}`)\n    .join('&');\n}\n\n/**\n * Merge HELLOCASH_BASE_URL with an absolute path without duplicating shared segments.\n * e.g. base https://host/api/v1 + path /api/v1/cashBook → https://host/api/v1/cashBook\n * Protocol-relative bases (//host/...) are normalized to https://host/...\n *\n * @param {string} baseUrlRaw\n * @param {string} pathRaw absolute path, e.g. /api/v1/cashBook\n */\nfunction joinBaseUrlAndPath(baseUrlRaw, pathRaw) {\n  let baseStr = String(baseUrlRaw || '').trim();\n  if (baseStr.startsWith('//')) baseStr = `https:${baseStr}`;\n  baseStr = baseStr.replace(/\\/+$/, '');\n\n  const relPath = pathRaw.startsWith('/') ? pathRaw : `/${pathRaw}`;\n\n  try {\n    const u = new URL(baseStr);\n    const rawBasePath = u.pathname || '/';\n    const basePath = rawBasePath.replace(/\\/+$/, '') || '';\n    const baseSegs = basePath.split('/').filter(Boolean);\n    const pathSegs = relPath.split('/').filter(Boolean);\n\n    let overlap = 0;\n    const max = Math.min(baseSegs.length, pathSegs.length);\n    for (let k = max; k >= 1; k--) {\n      let ok = true;\n      for (let i = 0; i < k; i++) {\n        if (baseSegs[baseSegs.length - k + i] !== pathSegs[i]) {\n          ok = false;\n          break;\n        }\n      }\n      if (ok) {\n        overlap = k;\n        break;\n      }\n    }\n\n    const remainder = pathSegs.slice(overlap);\n    const mergedSegs = [...baseSegs, ...remainder];\n    u.pathname = `/${mergedSegs.join('/')}`;\n    return u.toString().replace(/\\/+$/, '');\n  } catch {\n    return `${baseStr}${relPath}`;\n  }\n}\n\n/**\n * n8n httpRequest: omit null/undefined options (some versions reject explicit nulls).\n * @param {Record<string, unknown>} opts\n */\nfunction httpRequestOpts(opts) {\n  /** @type {Record<string, unknown>} */\n  const out = {};\n  for (const [k, v] of Object.entries(opts)) {\n    if (v !== null && v !== undefined) out[k] = v;\n  }\n  return out;\n}\n\n/**\n * Drop null/undefined and empty strings from nested objects for logs (avoid \"parameters\" with no value).\n * @param {unknown} value\n */\nfunction compactForDisplay(value) {\n  if (value === null || value === undefined) return undefined;\n  if (Array.isArray(value)) {\n    const arr = value.map(compactForDisplay).filter((x) => x !== undefined);\n    return arr.length ? arr : undefined;\n  }\n  if (typeof value === 'object') {\n    const o = {};\n    for (const [k, v] of Object.entries(value)) {\n      const c = compactForDisplay(v);\n      if (c !== undefined) o[k] = c;\n    }\n    return Object.keys(o).length ? o : undefined;\n  }\n  if (typeof value === 'string' && value.trim() === '') return undefined;\n  return value;\n}\n\n/**\n * One or two sentences an operator can act on (not only raw status/body).\n * @param {string|number} status\n * @param {{ name?: string, code?: string, httpCode?: string, message?: string, description?: string }} hint\n * @param {string} bodyStr\n */\nfunction deriveFailureExplanation(status, hint, bodyStr) {\n  const code = String(hint?.code ?? '');\n  const msg = String(hint?.message ?? hint?.description ?? '');\n  const statusNum = typeof status === 'number' ? status : parseInt(String(status), 10);\n  const body = String(bodyStr ?? '');\n  const combined = `${msg} ${code} ${body}`.toLowerCase();\n\n  const parts = [];\n\n  if (Number.isFinite(statusNum)) {\n    if (statusNum === 401 || statusNum === 403) {\n      parts.push(\n        'The API rejected authentication/authorization — verify HELLOCASH_API_TOKEN and that HELLOCASH_BASE_URL matches the environment where that token is valid.',\n      );\n    } else if (statusNum === 404) {\n      parts.push(\n        'The server returned 404 — check HELLOCASH_BASE_URL and list/invoices paths (HELLOCASH_LIST_PATH, HELLOCASH_INVOICES_PATH).',\n      );\n    } else if (statusNum === 400 || statusNum === 422) {\n      parts.push(\n        'The server rejected the request parameters — review date/search/limit/offset env vars against the API contract.',\n      );\n    } else if (statusNum === 429) {\n      parts.push('Rate limited (429) — retry later or reduce call volume.');\n    } else if (statusNum >= 500 && statusNum < 600) {\n      parts.push(\n        `Server error (${statusNum}) — HelloCash may be unavailable; retry later or check their service status.`,\n      );\n    } else if (statusNum >= 200 && statusNum < 300) {\n      parts.push(\n        'HTTP status looks successful but the client still failed — the body may not be JSON while json:true is set, or the client threw for another reason.',\n      );\n    }\n  }\n\n  if (status === 'no-status' || !Number.isFinite(statusNum)) {\n    if (/enotfound|getaddrinfo|eai_again/i.test(combined) || code === 'ENOTFOUND') {\n      parts.push('DNS or hostname resolution failed — check HELLOCASH_BASE_URL and network/DNS.');\n    }\n    if (/econnrefused/i.test(combined) || code === 'ECONNREFUSED') {\n      parts.push('Connection refused — wrong host/port, service not listening, or firewall.');\n    }\n    if (/etimedout|esockettimedout|timeout/i.test(combined) || /timeout/i.test(code)) {\n      parts.push('Request timed out — increase HelloCash timeout in config, or check network/API availability.');\n    }\n    if (/cert|ssl|tls|unable_to_verify/i.test(combined)) {\n      parts.push('TLS/certificate error — check HTTPS URL, proxy, or corporate TLS inspection.');\n    }\n  }\n\n  if (/unexpected token|not valid json|invalid json|json parse/i.test(combined)) {\n    parts.push('Response was not valid JSON — wrong URL often returns HTML or an error page instead of the API.');\n  }\n  if (/<!doctype html|<html/i.test(body)) {\n    parts.push('Body looks like HTML — usually wrong API URL, redirect to a web login, or a gateway error page.');\n  }\n\n  if (parts.length === 0) {\n    parts.push(\n      'Could not infer a specific cause from status/body — use HTTP status, hint fields, and response snippet below.',\n    );\n  }\n\n  return parts.join(' ');\n}\n\n/**\n * Best-effort HTTP status from n8n httpRequest / axios / nested cause chain.\n * @param {unknown} e\n */\nfunction resolveHttpStatus(e) {\n  /** @param {unknown} x */\n  const asStatus = (x) => {\n    if (x === undefined || x === null || x === '') return undefined;\n    if (typeof x === 'number' && Number.isFinite(x)) return x;\n    const n = parseInt(String(x), 10);\n    if (Number.isFinite(n)) return n;\n    if (typeof x === 'string') return x.trim() || undefined;\n    return undefined;\n  };\n\n  let cur = e;\n  for (let d = 0; d < 6 && cur != null; d++) {\n    if (typeof cur !== 'object') break;\n    const o = /** @type {Record<string, unknown>} */ (cur);\n    const u =\n      asStatus(o.response?.status) ??\n      asStatus(o.response?.statusCode) ??\n      asStatus(\n        o.error && typeof o.error === 'object'\n          ? /** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).status ??\n              /** @type {{ status?: unknown, statusCode?: unknown }} */ (o.error).statusCode ??\n              undefined\n          : undefined,\n      ) ??\n      asStatus(o.httpCode) ??\n      asStatus(o.statusCode) ??\n      asStatus(o.status);\n    if (u !== undefined) return u;\n    cur = o.cause;\n  }\n\n  const msg = String(\n    (typeof e === 'object' && e && 'message' in e && /** @type {{ message: unknown }} */ (e).message) || '',\n  );\n  const m =\n    msg.match(/\\bstatus code\\s+(\\d{3})\\b/i) ??\n    msg.match(/\\bHTTP\\s+(\\d{3})\\b/) ??\n    msg.match(/^\\s*(\\d{3})\\s/);\n  if (m) return parseInt(m[1], 10);\n\n  return 'no-status';\n}\n\n/**\n * n8n httpRequest errors are often NodeApiError / wrapped request errors — not always axios-shaped (e.response).\n */\nfunction extractHttpFailureDetails(e) {\n  const status = resolveHttpStatus(e);\n\n  let body =\n    e?.response?.data ??\n    e?.response?.body ??\n    e?.error ??\n    e?.description ??\n    (Array.isArray(e?.messages) ? e.messages.join('; ') : e?.messages);\n\n  if ((body === undefined || body === null || body === '') && e?.cause) {\n    const c = e.cause;\n    body =\n      c?.response?.data ??\n      c?.response?.body ??\n      c?.message ??\n      (typeof c === 'string' ? c : undefined);\n  }\n\n  let bodyStr = 'no body';\n  if (body !== undefined && body !== null && body !== '') {\n    bodyStr = typeof body === 'string' ? body : JSON.stringify(body, null, 2);\n  }\n\n  const hint = {\n    name: e?.name,\n    code: e?.code,\n    httpCode: e?.httpCode,\n    description: e?.description,\n    message: e?.message,\n    stack: typeof e?.stack === 'string' ? e.stack : undefined,\n    errorKeys: e && typeof e === 'object' ? Object.keys(e) : [],\n  };\n\n  /** @param {unknown} err @param {number} depth */\n  function shallowDump(err, depth) {\n    if (err == null) return null;\n    if (typeof err !== 'object') return String(err);\n    const o = {};\n    try {\n      for (const k of Object.getOwnPropertyNames(err)) {\n        try {\n          let v = /** @type {object} */ (err)[k];\n          if (v && typeof v === 'object' && depth < 2) {\n            v = shallowDump(v, depth + 1);\n          }\n          if (typeof v === 'string' && v.length > 4000) v = v.slice(0, 4000) + '…';\n          o[k] = v;\n        } catch {\n          o[k] = '[unreadable]';\n        }\n      }\n    } catch {\n      return '[dump failed]';\n    }\n    return o;\n  }\n\n  const rawDump = shallowDump(e, 0);\n  let causeChain = [];\n  let c = e?.cause;\n  let depth = 0;\n  while (c != null && depth < 5) {\n    causeChain.push({\n      depth,\n      message: c?.message ?? String(c),\n      name: c?.name,\n      stack: typeof c?.stack === 'string' ? c.stack.slice(0, 2000) : undefined,\n    });\n    c = c?.cause;\n    depth++;\n  }\n\n  return { status, bodyStr, hint, rawDump, causeChain };\n}\n\n/** Mask secret for logs (never log full token). */\nfunction maskToken(t) {\n  const s = String(t || '');\n  if (!s) return '(empty)';\n  if (s.length <= 8) return `${s.slice(0, 2)}…(${s.length} chars)`;\n  return `${s.slice(0, 4)}…${s.slice(-2)} (len=${s.length})`;\n}\n\nfunction safeJson(obj, space) {\n  try {\n    return JSON.stringify(obj, null, space);\n  } catch {\n    return '[JSON.stringify failed — possibly circular]';\n  }\n}\n\nconst config = $('Config Loader').first().json;\nconst token = $env.HELLOCASH_API_TOKEN?.trim();\nif (!token) {\n  throw new Error('HelloCash Fetch: HELLOCASH_API_TOKEN missing');\n}\n\nconst ignoreHour =\n  $env.HELLOCASH_IGNORE_SYNC_HOUR === '1' ||\n  String($env.HELLOCASH_IGNORE_SYNC_HOUR || '').toLowerCase() === 'true';\nconst hour = new Date().getHours();\nif (!ignoreHour && hour !== config.syncHour) {\n  return [\n    {\n      json: {\n        skipped: true,\n        reason: 'sync_hour',\n        syncHour: config.syncHour,\n        currentHour: hour,\n      },\n    },\n  ];\n}\n\nlet baseUrl = String(config.hellocash.baseUrl || '')\n  .trim()\n  .replace(/\\/+$/, '');\nif (baseUrl.startsWith('//')) baseUrl = `https:${baseUrl}`;\n\nconst listPath = ($env.HELLOCASH_LIST_PATH && String($env.HELLOCASH_LIST_PATH).trim()) || '/api/v1/cashBook';\nconst invoicesPath =\n  ($env.HELLOCASH_INVOICES_PATH && String($env.HELLOCASH_INVOICES_PATH).trim()) || '/api/v1/invoices';\nconst daysBack = parseInt(String($env.HELLOCASH_DAYS_BACK || '1'), 10);\n\nconst qFrom = ($env.HELLOCASH_QUERY_FROM && String($env.HELLOCASH_QUERY_FROM).trim()) || '';\nconst qTo = ($env.HELLOCASH_QUERY_TO && String($env.HELLOCASH_QUERY_TO).trim()) || '';\n\nconst cashbookOffset =\n  $env.HELLOCASH_CASHBOOK_OFFSET !== undefined && $env.HELLOCASH_CASHBOOK_OFFSET !== null\n    ? String($env.HELLOCASH_CASHBOOK_OFFSET)\n    : '0';\n\nconst cashbookQuery = buildQueryString({\n  limit: String($env.HELLOCASH_CASHBOOK_LIMIT || '1000'),\n  offset: cashbookOffset,\n  search: String($env.HELLOCASH_CASHBOOK_SEARCH || ''),\n  dateFrom: qFrom,\n  dateTo: qTo,\n  mode: String($env.HELLOCASH_CASHBOOK_MODE || ''),\n  showDetails: String($env.HELLOCASH_CASHBOOK_SHOW_DETAILS || ''),\n});\n\nconst pathNorm = listPath.startsWith('/') ? listPath : `/${listPath}`;\nconst cashbookUrlNoQuery = joinBaseUrlAndPath(baseUrl, pathNorm);\nconst cashbookUrl = cashbookQuery ? `${cashbookUrlNoQuery}?${cashbookQuery}` : cashbookUrlNoQuery;\n\nif (!String(baseUrl || '').trim()) {\n  throw new Error(\n    'HelloCash Fetch: config.hellocash.baseUrl is empty. Re-run Config Loader and set HELLOCASH_BASE_URL (non-empty).',\n  );\n}\n\nconst invPathNorm = invoicesPath.startsWith('/') ? invoicesPath : `/${invoicesPath}`;\nconst invoiceBaseUrl = joinBaseUrlAndPath(baseUrl, invPathNorm);\n\nconst { maxAttempts, intervalMs } = config.retry;\n/** @type {Record<string, string>} */\nconst authHeaders = {\n  Authorization: `Bearer ${token}`,\n  Accept: 'application/json',\n};\n\nlet lastErr;\n/** @type {unknown} */\nlet cashbookResponse;\n/** @type {object[]} */\nconst cashbookAttemptHistory = [];\n\nfor (let attempt = 1; attempt <= maxAttempts; attempt++) {\n  const attemptStartedAt = new Date().toISOString();\n  try {\n    cashbookResponse = await this.helpers.httpRequest(\n      httpRequestOpts({\n        method: 'GET',\n        url: cashbookUrl,\n        headers: authHeaders,\n        timeout: config.hellocash.timeoutMs,\n        json: true,\n      }),\n    );\n    lastErr = undefined;\n    break;\n  } catch (e) {\n    const { status, bodyStr, hint, rawDump, causeChain } = extractHttpFailureDetails(e);\n    const hintCompact = compactForDisplay(hint) ?? {};\n    const failureExplanation = deriveFailureExplanation(status, hint, bodyStr);\n    const reqUrl = cashbookUrl;\n\n    const attemptRecord = {\n      attempt,\n      of: maxAttempts,\n      at: attemptStartedAt,\n      status,\n      httpStatus: status,\n      failureExplanation,\n      url: reqUrl,\n      urlParts: {\n        baseUrl,\n        pathNorm,\n        joinedPath: cashbookUrlNoQuery,\n        ...(cashbookQuery ? { query: cashbookQuery } : {}),\n        fullUrlLength: String(reqUrl || '').length,\n      },\n      request: {\n        method: 'GET',\n        timeoutMs: config.hellocash.timeoutMs,\n        accept: authHeaders.Accept,\n        authorization: `Bearer ${maskToken(token)}`,\n      },\n      responseBody: bodyStr,\n      responseBodyLength: String(bodyStr || '').length,\n      hint: hintCompact,\n      rawDump,\n      causeChain,\n    };\n    cashbookAttemptHistory.push(attemptRecord);\n\n    console.error('HelloCash cashbook fetch failed — attempt detail', attemptRecord);\n\n    lastErr = new Error(\n      `HTTP ${status} | HelloCash cashbook attempt ${attempt}/${maxAttempts} failed\\n` +\n        `Why: ${failureExplanation}\\n` +\n        `URL: ${reqUrl}\\n` +\n        `Response: ${bodyStr}\\n` +\n        `Hint: ${safeJson(hintCompact, 2)}\\n` +\n        `Cause chain: ${safeJson(causeChain, 2)}\\n` +\n        `Raw dump: ${safeJson(rawDump, 2)}`,\n    );\n\n    if (attempt < maxAttempts) {\n      await new Promise((r) => setTimeout(r, intervalMs));\n    }\n  }\n}\nif (cashbookResponse === undefined) {\n  const lastAtt =\n    cashbookAttemptHistory.length > 0\n      ? cashbookAttemptHistory[cashbookAttemptHistory.length - 1]\n      : {};\n\n  const bodyOneLine = String(lastAtt.responseBody ?? '')\n    .replace(/\\s+/g, ' ')\n    .trim()\n    .slice(0, 500);\n  const hintMsg = lastAtt.hint?.message ?? lastAtt.hint?.description ?? 'n/a';\n  const hintCode = lastAtt.hint?.code ?? lastAtt.hint?.httpCode ?? 'n/a';\n  const failureExplanation =\n    lastAtt.failureExplanation ??\n    deriveFailureExplanation(lastAtt.status ?? 'no-status', lastAtt.hint ?? {}, bodyOneLine);\n\n  const diagnostic = {\n    phase: 'cashbook GET',\n    httpStatus: lastAtt.status ?? 'no-status',\n    nodeErrorCode: hintCode,\n    failureExplanation,\n    failedAfterAttempts: maxAttempts,\n    retryIntervalMs: intervalMs,\n    clock: { hour, syncHour: config.syncHour, ignoreSyncHour: ignoreHour },\n    token: maskToken(token),\n    cashbookUrl,\n    invoiceBaseUrl,\n    envPaths: {\n      HELLOCASH_LIST_PATH: listPath,\n      HELLOCASH_INVOICES_PATH: invoicesPath,\n    },\n    attemptHistory: cashbookAttemptHistory,\n    lastErrorMessage: lastErr?.message ?? 'unknown',\n    lastErrorStack: lastErr?.stack ?? 'no stack',\n  };\n\n  const diagnosticJson = safeJson(diagnostic, 2);\n\n  console.error('HelloCash cashbook — FINAL FAILURE (all attempts exhausted)', {\n    httpStatus: lastAtt.status ?? 'no-status',\n    nodeErrorCode: hintCode,\n    ...diagnostic,\n  });\n\n  const explainOneLine = String(failureExplanation).replace(/\\s+/g, ' ').trim().slice(0, 280);\n\n  const httpStatusStr =\n    lastAtt.status !== undefined && lastAtt.status !== null && lastAtt.status !== 'no-status'\n      ? `HTTP ${lastAtt.status}`\n      : 'HTTP status unknown (no response — network/DNS/TLS/wrong URL?)';\n\n  // n8n Error panel often shows only the FIRST line — lead with HTTP + node error code.\n  const errorFirstLine =\n    `${httpStatusStr} | nodeErrorCode=${hintCode} | HelloCash cashbook GET: ${maxAttempts} attempts failed | ${explainOneLine} | ${hintMsg} | URL=${cashbookUrl} | body=${bodyOneLine || '(empty)'}`;\n\n  // One summary line already has URL + body; avoid repeating them via lastErr.message/stack here\n  // (those are still in diagnostic.lastErrorMessage / lastErrorStack / attemptHistory for tools).\n  const msg =\n    `${errorFirstLine}\\n` +\n    `\\n` +\n    `--- CONTEXT ---\\n` +\n    `httpStatus: ${lastAtt.status ?? 'no-status'}  nodeErrorCode: ${hintCode}\\n` +\n    `invoiceBaseUrl: ${invoiceBaseUrl}\\n` +\n    `timeoutMs: ${config.hellocash.timeoutMs}  retryIntervalMs: ${intervalMs}\\n` +\n    `token (masked): ${maskToken(token)}\\n` +\n    `syncHour: ${config.syncHour}  currentHour: ${hour}  ignoreSyncHour: ${ignoreHour}\\n` +\n    `--- DIAGNOSTIC JSON ---\\n` +\n    diagnosticJson;\n\n  const err = new Error(msg);\n  err.diagnostic = diagnostic;\n  err.attemptHistory = cashbookAttemptHistory;\n  throw err;\n}\n\nconst rawEntries =\n  cashbookResponse && typeof cashbookResponse === 'object' && 'entries' in cashbookResponse\n    ? cashbookResponse.entries\n    : [];\nconst entries = Array.isArray(rawEntries) ? rawEntries : [];\nif (entries.length === 0) {\n  return [{ json: { skipped: false, empty: true, message: 'No cashbook entries' } }];\n}\n\nconst invoiceNumbers = [\n  ...new Set(\n    entries\n      .filter(\n        (e) =>\n          e &&\n          typeof e === 'object' &&\n          e.cashBook_invoice_number &&\n          String(e.cashBook_invoice_number) !== '0' &&\n          e.cashBook_cancellation !== '1',\n      )\n      .map((e) => String(/** @type {{ cashBook_invoice_number: string }} */ (e).cashBook_invoice_number)),\n  ),\n];\n\nconst invoicesMap = new Map();\n\nfor (const invNum of invoiceNumbers) {\n  let invRequestUrl = invoiceBaseUrl;\n  try {\n    const invOffset =\n      $env.HELLOCASH_INVOICES_OFFSET !== undefined && $env.HELLOCASH_INVOICES_OFFSET !== null\n        ? String($env.HELLOCASH_INVOICES_OFFSET)\n        : '0';\n    const invDateFrom =\n      $env.HELLOCASH_INVOICES_DATE_FROM !== undefined && $env.HELLOCASH_INVOICES_DATE_FROM !== null\n        ? String($env.HELLOCASH_INVOICES_DATE_FROM)\n        : qFrom;\n    const invDateTo =\n      $env.HELLOCASH_INVOICES_DATE_TO !== undefined && $env.HELLOCASH_INVOICES_DATE_TO !== null\n        ? String($env.HELLOCASH_INVOICES_DATE_TO)\n        : qTo;\n\n    const invQuery = buildQueryString({\n      limit: String($env.HELLOCASH_INVOICES_LIMIT || '1000'),\n      offset: invOffset,\n      search: invNum,\n      dateFrom: invDateFrom,\n      dateTo: invDateTo,\n      mode: String($env.HELLOCASH_INVOICES_MODE || ''),\n      showDetails: String($env.HELLOCASH_INVOICES_SHOW_DETAILS || ''),\n    });\n\n    invRequestUrl = invQuery ? `${invoiceBaseUrl}?${invQuery}` : `${invoiceBaseUrl}`;\n    const invResponse = await this.helpers.httpRequest(\n      httpRequestOpts({\n        method: 'GET',\n        url: invRequestUrl,\n        headers: authHeaders,\n        timeout: config.hellocash.timeoutMs,\n        json: true,\n      }),\n    );\n    const invList = invResponse?.invoices;\n    if (Array.isArray(invList) && invList.length > 0) {\n      const inv =\n        invList.find((x) => x && String(x.invoice_number) === String(invNum)) ?? invList[0];\n      if (inv && inv.invoice_cancellation !== '1') {\n        invoicesMap.set(invNum, inv);\n      }\n    }\n  } catch (e) {\n    const { status, bodyStr, hint, rawDump, causeChain } = extractHttpFailureDetails(e);\n    const failureExplanation = deriveFailureExplanation(status, hint, bodyStr);\n    console.error('HelloCash invoice fetch failed', {\n      invNum,\n      attempt: 'single',\n      httpStatus: status,\n      failureExplanation,\n      url: invRequestUrl,\n      responseBody: bodyStr,\n      hint: compactForDisplay(hint) ?? {},\n      rawDump,\n      causeChain,\n    });\n    const msg = e instanceof Error ? e.message : String(e);\n    console.warn(`HelloCash Fetch: failed to fetch invoice ${invNum}: ${msg}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      skipped: false,\n      hellocashData: {\n        entries,\n        invoices: Object.fromEntries(invoicesMap),\n        meta: {\n          fetchedAt: new Date().toISOString(),\n          entryCount: entries.length,\n          invoiceCount: invoicesMap.size,\n          daysBack: Number.isFinite(daysBack) ? daysBack : 1,\n        },\n      },\n    },\n  },\n];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "HelloCash Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Map HelloCash cashbook entries (+ linked invoices) → Odoo account.move payloads.\n * Skips cancelled cashbook rows; tax on revenue (credit) line for deposits only.\n */\n\nconst config = $('Config Loader').first().json;\nconst input = items[0].json;\n\nif (input.skipped || input.empty) {\n  return [{ json: input }];\n}\n\nconst hc = input.hellocashData;\nif (!hc?.entries) {\n  return [{ json: { skipped: false, mappedEmpty: true, message: 'Missing hellocashData.entries' } }];\n}\n\nconst { entries, invoices } = hc;\n/** @type {Record<string, unknown>} */\nconst invByNumber = invoices && typeof invoices === 'object' ? invoices : {};\n\nif (entries.length === 0) {\n  console.warn('Map to Odoo: HelloCash returned empty entries', {\n    rawType: typeof hc,\n    rawKeys: hc && typeof hc === 'object' ? Object.keys(hc) : [],\n    fetchedAt: hc.meta?.fetchedAt ?? input.fetchedAt ?? 'unknown',\n  });\n  return [\n    {\n      json: {\n        skipped: false,\n        mappedEmpty: true,\n        message: 'No rows to map from HelloCash payload',\n      },\n    },\n  ];\n}\n\nconsole.log('HelloCash payload received', {\n  entryCount: entries.length,\n  firstEntry: entries[0] ?? null,\n  fetchedAt: hc.meta?.fetchedAt ?? input.fetchedAt ?? 'unknown',\n});\n\nconst out = [];\n\nfor (const entry of entries) {\n  if (!entry || typeof entry !== 'object') continue;\n  if (entry.cashBook_cancellation === '1') continue;\n\n  const id = entry.cashBook_id;\n  const number = entry.cashBook_number;\n  const type = String(entry.cashBook_type || '').toLowerCase();\n  const amount = Math.abs(parseFloat(String(entry.cashBook_total ?? '0')));\n  if (!Number.isFinite(amount) || amount === 0) continue;\n\n  const description = String(entry.cashBook_description || '');\n  const invoiceNumber = entry.cashBook_invoice_number\n    ? String(entry.cashBook_invoice_number)\n    : '';\n\n  const timestamp = String(entry.cashBook_timestamp || '');\n  const date = timestamp.split(' ')[0] || new Date().toISOString().split('T')[0];\n\n  const invoice = invoiceNumber && invByNumber[invoiceNumber] ? invByNumber[invoiceNumber] : null;\n\n  let paymentMethod = 'CASH';\n  if (invoice && typeof invoice === 'object' && invoice.invoice_payment) {\n    const p = String(invoice.invoice_payment).toLowerCase();\n    if (p.includes('ec') || p.includes('card') || p.includes('debit')) {\n      paymentMethod = 'EC';\n    } else if (p.includes('credit')) {\n      paymentMethod = 'CREDITCARD';\n    } else if (p.includes('voucher') || p.includes('gutschein') || p.includes('gut')) {\n      paymentMethod = 'VOUCHER';\n    } else if (p.includes('bar') || p.includes('cash')) {\n      paymentMethod = 'CASH';\n    }\n  }\n\n  let taxRate = 19;\n  if (invoice && typeof invoice === 'object' && Array.isArray(invoice.taxes) && invoice.taxes.length > 0) {\n    const tax = invoice.taxes[0];\n    if (tax && typeof tax === 'object' && tax.tax_taxRate !== undefined) {\n      taxRate = parseInt(String(tax.tax_taxRate), 10) || 19;\n    }\n  }\n\n  const am = config.accountMap[paymentMethod];\n  if (!am) {\n    throw new Error(`Map: unknown payment method \"${paymentMethod}\" for entry ${id}`);\n  }\n\n  // Only 7% and 19% Odoo taxes (TAX_ID_7 / TAX_ID_19). HelloCash may send 20 (AT); map to 19% tax id.\n  const taxLookupKey = taxRate === 20 ? 19 : taxRate;\n  const taxId = config.taxMap[taxLookupKey] ?? config.taxMap[19];\n\n  const isDeposit =\n    type === 'deposit' || type === 'income' || type === 'sale' || type === 'einnahme';\n  const isWithdrawal =\n    type === 'withdrawal' ||\n    type === 'payout' ||\n    type === 'expense' ||\n    type === 'refund' ||\n    type === 'ausgabe';\n\n  const ref = `HC-${number}-${id}`;\n\n  let lineDebit;\n  let lineCredit;\n\n  if (isDeposit) {\n    lineDebit = {\n      account_id: am.debit,\n      debit: amount,\n      credit: 0,\n      name: `HC ${number}: ${description.substring(0, 50)}`,\n    };\n    lineCredit = {\n      account_id: am.credit,\n      debit: 0,\n      credit: amount,\n      name: `HC ${number}: ${description.substring(0, 50)}`,\n    };\n    if (taxId) {\n      lineCredit.tax_ids = [[6, 0, [taxId]]];\n    }\n  } else if (isWithdrawal) {\n    lineDebit = {\n      account_id: am.credit,\n      debit: amount,\n      credit: 0,\n      name: `HC ${number} [${type}]: ${description.substring(0, 50)}`,\n    };\n    lineCredit = {\n      account_id: am.debit,\n      debit: 0,\n      credit: amount,\n      name: `HC ${number} [${type}]: ${description.substring(0, 50)}`,\n    };\n  } else {\n    console.warn(`Map: unknown cashBook_type \"${type}\" for entry ${id}, skipping`);\n    continue;\n  }\n\n  console.log(`Mapped entry ${id}`, {\n    ref,\n    paymentMethod,\n    amount,\n    taxRate,\n    debitAccount: am.debit,\n    creditAccount: am.credit,\n  });\n\n  out.push({\n    json: {\n      hellocashId: id,\n      hellocashNumber: number,\n      invoiceNumber: invoiceNumber || null,\n      paymentMethod,\n      taxRate,\n      ref,\n      odooVals: {\n        ref,\n        move_type: 'entry',\n        journal_id: config.odoo.journalId,\n        date,\n        line_ids: [\n          [0, 0, lineDebit],\n          [0, 0, lineCredit],\n        ],\n        narration: `HelloCash Entry #${number} (ID:${id}), Type:${type}, Inv:${invoiceNumber || 'n/a'}, Pay:${paymentMethod}, Tax:${taxRate}%, Amt:${amount.toFixed(2)}`,\n      },\n    },\n  });\n}\n\nif (out.length === 0) {\n  return [\n    {\n      json: {\n        skipped: false,\n        mappedEmpty: true,\n        message: 'No entries mapped (all cancelled or unknown type)',\n      },\n    },\n  ];\n}\n\nreturn out;\n"
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Map to Odoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Odoo JSON-RPC: account.move create with idempotency (ref) and retries.\n * Uses $env.ODOO_PASSWORD (validated at Config Loader, never stored in config json).\n */\n\nconst config = $('Config Loader').first().json;\nconst pwd = $env.ODOO_PASSWORD?.trim();\nif (!pwd) {\n  throw new Error('Odoo Post Moves: ODOO_PASSWORD missing for JSON-RPC');\n}\n\nconst { maxAttempts, intervalMs } = config.retry;\nconst results = [];\n\nconst rpc = async (model, method, args, kwargs = {}) => {\n  const url = `${config.odoo.baseUrl}/jsonrpc`;\n  const body = {\n    jsonrpc: '2.0',\n    method: 'call',\n    params: {\n      service: 'object',\n      method: 'execute_kw',\n      args: [\n        config.odoo.db,\n        config.odoo.uid,\n        String(pwd).trim(),\n        model,\n        method,\n        args,\n        kwargs,\n      ],\n    },\n    id: Date.now(),\n  };\n\n  let res;\n  try {\n    res = await this.helpers.httpRequest({\n      method: 'POST',\n      url,\n      body,\n      json: true,\n      timeout: 120000,\n      headers: { 'Content-Type': 'application/json' },\n    });\n  } catch (e) {\n    const status = e.response?.status ?? 'no-status';\n    const respBody = e.response?.data ?? e.response?.body ?? 'no body';\n    console.error('Odoo HTTP error', {\n      model,\n      method,\n      status,\n      responseBody: respBody,\n      message: e.message,\n    });\n    throw new Error(\n      `Odoo HTTP ${status} calling ${model}.${method}\\n` +\n        `Response: ${JSON.stringify(respBody, null, 2)}`,\n    );\n  }\n\n  if (res.error) {\n    console.error('Odoo RPC error', {\n      model,\n      method,\n      code: res.error.code,\n      message: res.error.data?.message ?? res.error.message,\n      debug: res.error.data?.debug ?? 'none',\n    });\n    throw new Error(\n      `Odoo RPC error calling ${model}.${method}\\n` +\n        `Code: ${res.error.code}\\n` +\n        `Message: ${res.error.data?.message ?? res.error.message}\\n` +\n        `Debug: ${res.error.data?.debug ?? 'none'}`,\n    );\n  }\n\n  console.log(`Odoo RPC ok: ${model}.${method}`, {\n    resultType: Array.isArray(res.result) ? 'array' : typeof res.result,\n    resultLength: Array.isArray(res.result) ? res.result.length : undefined,\n  });\n\n  return res.result;\n};\n\nfor (const item of items) {\n  const j = item.json;\n\n  if (j.skipped || j.empty || j.mappedEmpty) {\n    results.push({ json: { ...j, odooSkipped: true, reason: 'no_data' } });\n    continue;\n  }\n\n  if (!j.odooVals?.ref) {\n    results.push({ json: { ...j, error: 'Missing odooVals.ref' } });\n    continue;\n  }\n\n  const { hellocashId, hellocashNumber, invoiceNumber, ref, odooVals, paymentMethod, taxRate } = j;\n\n  console.log(`Processing item ${ref}`, { hellocashId, ref });\n\n  try {\n    const existing = await rpc(\n      'account.move',\n      'search_read',\n      [[['ref', '=', ref]]],\n      { fields: ['id', 'state', 'name'], limit: 1 },\n    );\n    if (Array.isArray(existing) && existing.length > 0) {\n      console.log(`Skipping duplicate: ${ref}`, { odooMoveId: existing[0].id });\n      results.push({\n        json: {\n          hellocashId,\n          hellocashNumber,\n          invoiceNumber,\n          ref,\n          odooMoveId: existing[0].id,\n          odooState: existing[0].state,\n          success: true,\n          idempotent: true,\n          message: `Already exists as ${existing[0].name || ref}`,\n        },\n      });\n      continue;\n    }\n  } catch (e) {\n    const msg = e instanceof Error ? e.message : String(e);\n    console.warn(`Odoo Post Moves: idempotency check failed for ${ref}: ${msg}`);\n  }\n\n  let lastErr;\n  let created = false;\n\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      const result = await rpc('account.move', 'create', [[odooVals]]);\n      const moveId = Array.isArray(result) ? result[0] : result;\n      console.log(`Created Odoo move for ${ref}`, { odooMoveId: moveId });\n      results.push({\n        json: {\n          hellocashId,\n          hellocashNumber,\n          invoiceNumber,\n          ref,\n          odooMoveId: moveId,\n          paymentMethod,\n          taxRate,\n          success: true,\n          attempt,\n        },\n      });\n      created = true;\n      break;\n    } catch (e) {\n      lastErr = e;\n      if (attempt < maxAttempts) {\n        await new Promise((r) => setTimeout(r, intervalMs));\n      }\n    }\n  }\n\n  if (!created) {\n    throw new Error(\n      `Failed to create move ${ref} after ${maxAttempts} attempts: ${lastErr instanceof Error ? lastErr.message : String(lastErr)}`,\n    );\n  }\n}\n\nreturn results;\n"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Odoo Post Moves",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ERROR_EMAIL_FROM || $('Config Loader').first().json.errorEmail }}",
        "toEmail": "={{ $('Config Loader').first().json.errorEmail }}",
        "subject": "HelloCash to Odoo sync failure",
        "emailFormat": "text",
        "text": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        120,
        220
      ]
    }
  ],
  "connections": {
    "Schedule Hourly": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Loader": {
      "main": [
        [
          {
            "node": "HelloCash Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HelloCash Fetch": {
      "main": [
        [
          {
            "node": "Map to Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Odoo": {
      "main": [
        [
          {
            "node": "Odoo Post Moves",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Post Moves": {
      "main": [
        []
      ],
      "error": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}