workflows/helloCash-odoo-sync/helloCash-odoo-sync.workflow.json
{
  "name": "HelloCash Business → Odoo sync",
  "meta": {
    "templateCredsSetupCompleted": false,
    "description": "HelloCash Business: two-phase GET cashBook + invoices → map to account.move → Odoo JSON-RPC. Triggers: Schedule Hourly OR When clicking Test workflow. Env: HELLOCASH_BASE_URL, HELLOCASH_API_TOKEN, ODOO_* incl. ODOO_PASSWORD (validated in Config, not in output json), TAX_ID_19 (19% USt) and TAX_ID_7, accounts, HELLOCASH_LIST_PATH default /api/v1/cashBook, optional HELLOCASH_QUERY_FROM/TO, HELLOCASH_IGNORE_SYNC_HOUR. SMTP on Send Error Email."
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "executionTimeout": 7200
  },
  "pinData": {},
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "id": "a1000000-0000-4000-8000-000000000001",
      "name": "Schedule Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -600,
        0
      ]
    },
    {
      "parameters": {},
      "id": "a1000000-0000-4000-8000-000000000007",
      "name": "When clicking 'Test workflow'",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -600,
        200
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Config Loader — HelloCash Business → Odoo accounting sync.\n * Validates env; returns config for $('Config Loader').first().json.\n * ODOO_PASSWORD is required here but never included in output json.\n */\n\nconst REQUIRED = [\n  'HELLOCASH_BASE_URL',\n  'ODOO_BASE_URL',\n  'ODOO_DB',\n  'ODOO_UID',\n  'ODOO_PASSWORD',\n  'ODOO_JOURNAL_ID',\n  'ACCOUNT_KASSE',\n  'ACCOUNT_BANK',\n  'ACCOUNT_ERLOESE',\n  'ACCOUNT_GUTSCHEIN',\n  'TAX_ID_19',\n  'TAX_ID_7',\n  'SYNC_HOUR',\n  'ERROR_EMAIL',\n];\n\nfor (const name of REQUIRED) {\n  const val = $env[name];\n  if (val === undefined || val === null || String(val).trim() === '') {\n    throw new Error(\n      `Config Loader: required environment variable is missing or empty: ${name}. ` +\n        'Set it in n8n (Settings → Variables / environment) and ensure this execution can read it.',\n    );\n  }\n}\n\n/** @param {string} envName @param {string | number} raw */\nfunction parseIntEnv(envName, raw) {\n  const n = parseInt(String(raw).trim(), 10);\n  if (!Number.isFinite(n)) {\n    throw new Error(`Config Loader: ${envName} must be a finite integer, got: ${JSON.stringify(raw)}`);\n  }\n  return n;\n}\n\nconst kasse = parseIntEnv('ACCOUNT_KASSE', $env.ACCOUNT_KASSE);\nconst bank = parseIntEnv('ACCOUNT_BANK', $env.ACCOUNT_BANK);\nconst erloese = parseIntEnv('ACCOUNT_ERLOESE', $env.ACCOUNT_ERLOESE);\nconst gutschein = parseIntEnv('ACCOUNT_GUTSCHEIN', $env.ACCOUNT_GUTSCHEIN);\n/** Odoo tax record for 19% USt (standard); not the Austrian 20% MwSt record. */\nconst taxId19 = parseIntEnv('TAX_ID_19', $env.TAX_ID_19);\nconst taxId7 = parseIntEnv('TAX_ID_7', $env.TAX_ID_7);\n\n/** @type {Record<string, unknown>} */\nconst config = {\n  /** HelloCash Business API base URL and HTTP timeout (NFR-3). */\n  hellocash: {\n    baseUrl: String($env.HELLOCASH_BASE_URL).trim().replace(/\\/+$/, ''),\n    timeoutMs: 30000,\n  },\n\n  /** Odoo JSON-RPC target (password stays in $env.ODOO_PASSWORD only). */\n  odoo: {\n    baseUrl: String($env.ODOO_BASE_URL).trim().replace(/\\/+$/, ''),\n    db: String($env.ODOO_DB).trim(),\n    uid: parseIntEnv('ODOO_UID', $env.ODOO_UID),\n    journalId: parseIntEnv('ODOO_JOURNAL_ID', $env.ODOO_JOURNAL_ID),\n  },\n\n  /** Payment bucket → { debit, credit } for Kasse/Bank/Gutschein → Erlöse. */\n  accountMap: {\n    CASH: { debit: kasse, credit: erloese },\n    EC: { debit: bank, credit: erloese },\n    CREDITCARD: { debit: bank, credit: erloese },\n    VOUCHER: { debit: gutschein, credit: erloese },\n  },\n\n  /** VAT % → Odoo tax id on revenue line: 7% and 19% only (TAX_ID_7, TAX_ID_19). */\n  taxMap: {\n    7: taxId7,\n    19: taxId19,\n  },\n\n  /** Retry policy for HTTP / RPC (NFR-3). */\n  retry: {\n    maxAttempts: 3,\n    intervalMs: 300000,\n  },\n\n  syncHour: parseIntEnv('SYNC_HOUR', $env.SYNC_HOUR),\n\n  errorEmail: String($env.ERROR_EMAIL).trim(),\n};\n\nreturn [{ json: config }];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000002",
      "name": "Config Loader",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -360,
        0
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * HelloCash Business — two-phase fetch (production).\n * Phase 1: GET /api/v1/cashBook (paginated limit/offset).\n * Phase 2: GET /api/v1/invoices per linked invoice number (payment + taxes).\n *\n * Env: HELLOCASH_API_TOKEN (required), HELLOCASH_LIST_PATH (default /api/v1/cashBook),\n * HELLOCASH_INVOICES_PATH (default /api/v1/invoices), HELLOCASH_DAYS_BACK (info only unless query vars set),\n * HELLOCASH_QUERY_FROM / HELLOCASH_QUERY_TO (optional YYYY-MM-DD added to cashbook query if set).\n * Optional: HELLOCASH_IGNORE_SYNC_HOUR=1, SYNC_HOUR gate via Config.\n */\n\nconst config = $('Config Loader').first().json;\nconst token = $env.HELLOCASH_API_TOKEN?.trim();\nif (!token) {\n  throw new Error('HelloCash Fetch: HELLOCASH_API_TOKEN missing');\n}\n\nconst ignoreHour =\n  $env.HELLOCASH_IGNORE_SYNC_HOUR === '1' ||\n  String($env.HELLOCASH_IGNORE_SYNC_HOUR || '').toLowerCase() === 'true';\nconst hour = new Date().getHours();\nif (!ignoreHour && hour !== config.syncHour) {\n  return [\n    {\n      json: {\n        skipped: true,\n        reason: 'sync_hour',\n        syncHour: config.syncHour,\n        currentHour: hour,\n      },\n    },\n  ];\n}\n\nconst baseUrl = config.hellocash.baseUrl.replace(/\\/+$/, '');\nconst listPath = ($env.HELLOCASH_LIST_PATH && String($env.HELLOCASH_LIST_PATH).trim()) || '/api/v1/cashBook';\nconst invoicesPath =\n  ($env.HELLOCASH_INVOICES_PATH && String($env.HELLOCASH_INVOICES_PATH).trim()) || '/api/v1/invoices';\nconst daysBack = parseInt(String($env.HELLOCASH_DAYS_BACK || '1'), 10);\n\nconst cashbookQuery = new URLSearchParams({ limit: '1000', offset: '0' });\nconst qFrom = $env.HELLOCASH_QUERY_FROM && String($env.HELLOCASH_QUERY_FROM).trim();\nconst qTo = $env.HELLOCASH_QUERY_TO && String($env.HELLOCASH_QUERY_TO).trim();\nif (qFrom) cashbookQuery.set('from', qFrom);\nif (qTo) cashbookQuery.set('to', qTo);\n\nconst pathNorm = listPath.startsWith('/') ? listPath : `/${listPath}`;\nconst cashbookUrl = `${baseUrl}${pathNorm}?${cashbookQuery}`;\n\nconst invPathNorm = invoicesPath.startsWith('/') ? invoicesPath : `/${invoicesPath}`;\nconst invoiceBaseUrl = `${baseUrl}${invPathNorm}`;\n\nconst { maxAttempts, intervalMs } = config.retry;\n/** @type {Record<string, string>} */\nconst authHeaders = {\n  Authorization: `Bearer ${token}`,\n  Accept: 'application/json',\n};\n\nlet lastErr;\n/** @type {unknown} */\nlet cashbookResponse;\nfor (let attempt = 1; attempt <= maxAttempts; attempt++) {\n  try {\n    cashbookResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: cashbookUrl,\n      headers: authHeaders,\n      timeout: config.hellocash.timeoutMs,\n      json: true,\n    });\n    lastErr = undefined;\n    break;\n  } catch (e) {\n    lastErr = e;\n    if (attempt < maxAttempts) await new Promise((r) => setTimeout(r, intervalMs));\n  }\n}\nif (cashbookResponse === undefined) {\n  throw lastErr || new Error('Cashbook fetch failed after retries');\n}\n\nconst rawEntries =\n  cashbookResponse && typeof cashbookResponse === 'object' && 'entries' in cashbookResponse\n    ? cashbookResponse.entries\n    : [];\nconst entries = Array.isArray(rawEntries) ? rawEntries : [];\nif (entries.length === 0) {\n  return [{ json: { skipped: false, empty: true, message: 'No cashbook entries' } }];\n}\n\nconst invoiceNumbers = [\n  ...new Set(\n    entries\n      .filter(\n        (e) =>\n          e &&\n          typeof e === 'object' &&\n          e.cashBook_invoice_number &&\n          String(e.cashBook_invoice_number) !== '0' &&\n          e.cashBook_cancellation !== '1',\n      )\n      .map((e) => String(/** @type {{ cashBook_invoice_number: string }} */ (e).cashBook_invoice_number)),\n  ),\n];\n\nconst invoicesMap = new Map();\n\nfor (const invNum of invoiceNumbers) {\n  try {\n    const invQuery = new URLSearchParams({ number: invNum, limit: '1', offset: '0' });\n    const invResponse = await this.helpers.httpRequest({\n      method: 'GET',\n      url: `${invoiceBaseUrl}?${invQuery}`,\n      headers: authHeaders,\n      timeout: config.hellocash.timeoutMs,\n      json: true,\n    });\n    const invList = invResponse?.invoices;\n    if (Array.isArray(invList) && invList.length > 0) {\n      const inv = invList[0];\n      if (inv.invoice_cancellation !== '1') {\n        invoicesMap.set(invNum, inv);\n      }\n    }\n  } catch (e) {\n    const msg = e instanceof Error ? e.message : String(e);\n    console.warn(`HelloCash Fetch: failed to fetch invoice ${invNum}: ${msg}`);\n  }\n}\n\nreturn [\n  {\n    json: {\n      skipped: false,\n      hellocashData: {\n        entries,\n        invoices: Object.fromEntries(invoicesMap),\n        meta: {\n          fetchedAt: new Date().toISOString(),\n          entryCount: entries.length,\n          invoiceCount: invoicesMap.size,\n          daysBack: Number.isFinite(daysBack) ? daysBack : 1,\n        },\n      },\n    },\n  },\n];\n"
      },
      "id": "a1000000-0000-4000-8000-000000000003",
      "name": "HelloCash Fetch",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -120,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Map HelloCash cashbook entries (+ linked invoices) → Odoo account.move payloads.\n * Skips cancelled cashbook rows; tax on revenue (credit) line for deposits only.\n */\n\nconst config = $('Config Loader').first().json;\nconst input = items[0].json;\n\nif (input.skipped || input.empty) {\n  return [{ json: input }];\n}\n\nconst hc = input.hellocashData;\nif (!hc?.entries) {\n  return [{ json: { skipped: false, mappedEmpty: true, message: 'Missing hellocashData.entries' } }];\n}\n\nconst { entries, invoices } = hc;\n/** @type {Record<string, unknown>} */\nconst invByNumber = invoices && typeof invoices === 'object' ? invoices : {};\n\nconst out = [];\n\nfor (const entry of entries) {\n  if (!entry || typeof entry !== 'object') continue;\n  if (entry.cashBook_cancellation === '1') continue;\n\n  const id = entry.cashBook_id;\n  const number = entry.cashBook_number;\n  const type = String(entry.cashBook_type || '').toLowerCase();\n  const amount = Math.abs(parseFloat(String(entry.cashBook_total ?? '0')));\n  if (!Number.isFinite(amount) || amount === 0) continue;\n\n  const description = String(entry.cashBook_description || '');\n  const invoiceNumber = entry.cashBook_invoice_number\n    ? String(entry.cashBook_invoice_number)\n    : '';\n\n  const timestamp = String(entry.cashBook_timestamp || '');\n  const date = timestamp.split(' ')[0] || new Date().toISOString().split('T')[0];\n\n  const invoice = invoiceNumber && invByNumber[invoiceNumber] ? invByNumber[invoiceNumber] : null;\n\n  let paymentMethod = 'CASH';\n  if (invoice && typeof invoice === 'object' && invoice.invoice_payment) {\n    const p = String(invoice.invoice_payment).toLowerCase();\n    if (p.includes('ec') || p.includes('card') || p.includes('debit')) {\n      paymentMethod = 'EC';\n    } else if (p.includes('credit')) {\n      paymentMethod = 'CREDITCARD';\n    } else if (p.includes('voucher') || p.includes('gutschein') || p.includes('gut')) {\n      paymentMethod = 'VOUCHER';\n    } else if (p.includes('bar') || p.includes('cash')) {\n      paymentMethod = 'CASH';\n    }\n  }\n\n  let taxRate = 19;\n  if (invoice && typeof invoice === 'object' && Array.isArray(invoice.taxes) && invoice.taxes.length > 0) {\n    const tax = invoice.taxes[0];\n    if (tax && typeof tax === 'object' && tax.tax_taxRate !== undefined) {\n      taxRate = parseInt(String(tax.tax_taxRate), 10) || 19;\n    }\n  }\n\n  const am = config.accountMap[paymentMethod];\n  if (!am) {\n    throw new Error(`Map: unknown payment method \"${paymentMethod}\" for entry ${id}`);\n  }\n\n  // Only 7% and 19% Odoo taxes (TAX_ID_7 / TAX_ID_19). HelloCash may send 20 (AT); map to 19% tax id.\n  const taxLookupKey = taxRate === 20 ? 19 : taxRate;\n  const taxId = config.taxMap[taxLookupKey] ?? config.taxMap[19];\n\n  const isDeposit =\n    type === 'deposit' || type === 'income' || type === 'sale' || type === 'einnahme';\n  const isWithdrawal =\n    type === 'withdrawal' ||\n    type === 'payout' ||\n    type === 'expense' ||\n    type === 'refund' ||\n    type === 'ausgabe';\n\n  const ref = `HC-${number}-${id}`;\n\n  let lineDebit;\n  let lineCredit;\n\n  if (isDeposit) {\n    lineDebit = {\n      account_id: am.debit,\n      debit: amount,\n      credit: 0,\n      name: `HC ${number}: ${description.substring(0, 50)}`,\n    };\n    lineCredit = {\n      account_id: am.credit,\n      debit: 0,\n      credit: amount,\n      name: `HC ${number}: ${description.substring(0, 50)}`,\n    };\n    if (taxId) {\n      lineCredit.tax_ids = [[6, 0, [taxId]]];\n    }\n  } else if (isWithdrawal) {\n    lineDebit = {\n      account_id: am.credit,\n      debit: amount,\n      credit: 0,\n      name: `HC ${number} [${type}]: ${description.substring(0, 50)}`,\n    };\n    lineCredit = {\n      account_id: am.debit,\n      debit: 0,\n      credit: amount,\n      name: `HC ${number} [${type}]: ${description.substring(0, 50)}`,\n    };\n  } else {\n    console.warn(`Map: unknown cashBook_type \"${type}\" for entry ${id}, skipping`);\n    continue;\n  }\n\n  out.push({\n    json: {\n      hellocashId: id,\n      hellocashNumber: number,\n      invoiceNumber: invoiceNumber || null,\n      paymentMethod,\n      taxRate,\n      ref,\n      odooVals: {\n        ref,\n        move_type: 'entry',\n        journal_id: config.odoo.journalId,\n        date,\n        line_ids: [\n          [0, 0, lineDebit],\n          [0, 0, lineCredit],\n        ],\n        narration: `HelloCash Entry #${number} (ID:${id}), Type:${type}, Inv:${invoiceNumber || 'n/a'}, Pay:${paymentMethod}, Tax:${taxRate}%, Amt:${amount.toFixed(2)}`,\n      },\n    },\n  });\n}\n\nif (out.length === 0) {\n  return [\n    {\n      json: {\n        skipped: false,\n        mappedEmpty: true,\n        message: 'No entries mapped (all cancelled or unknown type)',\n      },\n    },\n  ];\n}\n\nreturn out;\n"
      },
      "id": "a1000000-0000-4000-8000-000000000004",
      "name": "Map to Odoo",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        120,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "/**\n * Odoo JSON-RPC: account.move create with idempotency (ref) and retries.\n * Uses $env.ODOO_PASSWORD (validated at Config Loader, never stored in config json).\n */\n\nconst config = $('Config Loader').first().json;\nconst pwd = $env.ODOO_PASSWORD?.trim();\nif (!pwd) {\n  throw new Error('Odoo Post Moves: ODOO_PASSWORD missing for JSON-RPC');\n}\n\nconst { maxAttempts, intervalMs } = config.retry;\nconst results = [];\n\nconst rpc = async (model, method, args, kwargs = {}) => {\n  const url = `${config.odoo.baseUrl}/jsonrpc`;\n  const body = {\n    jsonrpc: '2.0',\n    method: 'call',\n    params: {\n      service: 'object',\n      method: 'execute_kw',\n      args: [config.odoo.db, config.odoo.uid, pwd, model, method, args, kwargs],\n    },\n    id: Date.now(),\n  };\n  const res = await this.helpers.httpRequest({\n    method: 'POST',\n    url,\n    body,\n    json: true,\n    timeout: 120000,\n    headers: { 'Content-Type': 'application/json' },\n  });\n  if (res.error) {\n    throw new Error(`Odoo RPC error: ${JSON.stringify(res.error)}`);\n  }\n  return res.result;\n};\n\nfor (const item of items) {\n  const j = item.json;\n\n  if (j.skipped || j.empty || j.mappedEmpty) {\n    results.push({ json: { ...j, odooSkipped: true, reason: 'no_data' } });\n    continue;\n  }\n\n  if (!j.odooVals?.ref) {\n    results.push({ json: { ...j, error: 'Missing odooVals.ref' } });\n    continue;\n  }\n\n  const { hellocashId, hellocashNumber, invoiceNumber, ref, odooVals, paymentMethod, taxRate } = j;\n\n  try {\n    const existing = await rpc(\n      'account.move',\n      'search_read',\n      [[['ref', '=', ref]]],\n      { fields: ['id', 'state', 'name'], limit: 1 },\n    );\n    if (existing?.length > 0) {\n      results.push({\n        json: {\n          hellocashId,\n          hellocashNumber,\n          invoiceNumber,\n          ref,\n          odooMoveId: existing[0].id,\n          odooState: existing[0].state,\n          success: true,\n          idempotent: true,\n          message: `Already exists as ${existing[0].name || ref}`,\n        },\n      });\n      continue;\n    }\n  } catch (e) {\n    const msg = e instanceof Error ? e.message : String(e);\n    console.warn(`Odoo Post Moves: idempotency check failed for ${ref}: ${msg}`);\n  }\n\n  let lastErr;\n  let created = false;\n\n  for (let attempt = 1; attempt <= maxAttempts; attempt++) {\n    try {\n      const result = await rpc('account.move', 'create', [[odooVals]]);\n      const moveId = Array.isArray(result) ? result[0] : result;\n      results.push({\n        json: {\n          hellocashId,\n          hellocashNumber,\n          invoiceNumber,\n          ref,\n          odooMoveId: moveId,\n          paymentMethod,\n          taxRate,\n          success: true,\n          attempt,\n        },\n      });\n      created = true;\n      break;\n    } catch (e) {\n      lastErr = e;\n      if (attempt < maxAttempts) {\n        await new Promise((r) => setTimeout(r, intervalMs));\n      }\n    }\n  }\n\n  if (!created) {\n    throw new Error(\n      `Failed to create move ${ref} after ${maxAttempts} attempts: ${lastErr instanceof Error ? lastErr.message : String(lastErr)}`,\n    );\n  }\n}\n\nreturn results;\n"
      },
      "id": "a1000000-0000-4000-8000-000000000005",
      "name": "Odoo Post Moves",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        360,
        0
      ],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "fromEmail": "={{ $env.ERROR_EMAIL_FROM || $('Config Loader').first().json.errorEmail }}",
        "toEmail": "={{ $('Config Loader').first().json.errorEmail }}",
        "subject": "HelloCash to Odoo sync failure",
        "emailFormat": "text",
        "text": "={{ JSON.stringify($json, null, 2) }}",
        "options": {}
      },
      "id": "a1000000-0000-4000-8000-000000000006",
      "name": "Send Error Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        120,
        220
      ]
    }
  ],
  "connections": {
    "Schedule Hourly": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking 'Test workflow'": {
      "main": [
        [
          {
            "node": "Config Loader",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Config Loader": {
      "main": [
        [
          {
            "node": "HelloCash Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HelloCash Fetch": {
      "main": [
        [
          {
            "node": "Map to Odoo",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map to Odoo": {
      "main": [
        [
          {
            "node": "Odoo Post Moves",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "error": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Odoo Post Moves": {
      "main": [
        []
      ],
      "error": [
        [
          {
            "node": "Send Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}